<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Exchange and Over-the-Counter Markets
                        </span>
                    </h1>
                    <p>This section examines the structure of financial markets, their functions, key participants, and
                        what is traded on
                        the largest exchanges. This information is public and readily available, so you can always read
                        "more" on the
                        internet or other sources.</p>
                    <p> <span class="orange">Exchange Market</span> means that trading takes place in a specially
                        designated place called
                        the exchange.</p>
                    <h3 class="orange">Exchange</h3>
                    <p>An organization licensed by the government regulatory authority to conduct trading in securities.
                        The hallmark of
                        exchange trading is that it operates under strictly established rules. Therefore, the exchange
                        market is recognized
                        as an organized market where:</p>
                    <ul>
                        <li>Trading takes place during specific periods known as trading sessions.</li>
                        <li>Trading is conducted according to the exchange's regulations, and all trading participants
                            must comply with
                            these rules.</li>
                        <li>The exchange acts as a guarantor of transaction fulfillment, meaning the seller of
                            securities is guaranteed to
                            receive funds, and the buyer receives securities.</li>
                        <li>Only securities from reliable issuers are allowed for exchange trading.</li>
                    </ul>
                    <p>For this purpose, the exchange selects issuers based on criteria such as company size,
                        profitability of its
                        operations, reliability, etc. This procedure is called <span class="orange">listing</span>,
                        i.e., admission to
                        exchange trading. The exchange continuously monitors the activities of these companies, and if a
                        company fails to
                        meet the exchange's requirements, it undergoes the process of <span
                            class="orange">delisting</span>, i.e., exclusion
                        from the exchange list.</p>
                    <p>The first stock exchange where securities trading took place is considered to be the exchange
                        established in Antwerp
                        in 1531. It traded both goods (fabrics, grains, etc.) and securities. Such exchanges are called
                        <span class="orange">universal</span> because they trade various products. Subsequently,
                        specialized exchanges emerged
                        where only securities were traded. These exchanges were named <span class="orange">stock
                            exchanges</span>. The first
                        stock exchange was established in London in 1773 and continues to operate to this day.
                    </p>
                    <p>In Russia, the first exchange appeared in 1809 in St. Petersburg but ceased to exist in 1917. The
                        revival of Russian
                        exchanges dates back to the early 1990s when market reforms began in the country. Today, the
                        most well-known
                        exchanges in Russia include the Moscow Interbank Currency Exchange (MICEX) and the Russian
                        Trading System (RTS). The
                        largest among them is MICEX, which handles almost 90% of securities transactions.</p>
                    <p>Exchanges allow transactions with securities to be conducted continuously throughout the trading
                        session. Currently,
                        not only brokerage firms but also any investor has access to exchange quotations. The
                        development of the internet
                        enables viewing exchange quotations and trading securities without leaving home.</p>
                    <p>However, a significant number of securities transactions are conducted outside the exchange on
                        the so-called <span class="orange">over-the-counter market</span>. This primarily concerns
                        securities of companies that, for various
                        reasons, are not admitted to exchange trading. Typically, these are young and small companies
                        that have not yet met
                        the requirements for listing. In the <span class="orange">over-the-counter market</span>, the
                        seller and the buyer
                        of securities meet directly and conclude a deal.</p>

                    <p>Currently, the <span class="orange">over-the-counter market</span> represents a widely branched
                        telecommunications
                        network that connects participants of trading operations and provides them with necessary
                        information for concluding
                        transactions.</p>
                    <p>Historically, the over-the-counter market developed alongside exchange trading. Active
                        participants in the
                        over-the-counter market were investment banks, acting as dealers in the buying and selling of
                        securities, and
                        conducting transactions of buying and selling stocks and bonds with investors. These operations
                        were carried out
                        directly within investment banks through their counter desks, where on one side there was a bank
                        employee and on the
                        other side, an investor. This type of operation became known as <span class="orange">"over the
                            counter"
                            trading</span>.</p>
                    <p>Subsequently, the term became associated with all types of operations conducted outside the
                        exchange building through
                        dealers. This market is known as the over-the-counter (OTC) market. Typically, the OTC market
                        involves trading
                        securities of issuers who have not undergone the listing procedure on the exchange due to
                        insufficient capital,
                        short market tenure, etc. This expands the circle of issuers capable of listing their shares for
                        trading on an
                        organized market.</p>
                    <p>The <span class="orange">over-the-counter market</span> has several segments that significantly
                        differ in the
                        organization of trading. First and foremost, there is the organized over-the-counter market
                        where trading of
                        securities is conducted according to strictly established rules. The largest organized
                        over-the-counter trading
                        system in the world is the National Association of Securities Dealers Automated Quotations
                        (NASDAQ), established in
                        the USA in 1971. Currently, NASDAQ facilitates trading of over 4000 different company stocks,
                        involving participants
                        from more than 50 countries who conduct operations from remote terminals.</p>

                    <p>In order for securities to be admitted for trading on the organized over-the-counter market, they
                        undergo a listing
                        procedure, which is much less stringent than listing on an exchange. However, companies must
                        meet requirements
                        regarding minimum asset size, number of freely tradable shares, and ensure that their shares are
                        quoted by multiple
                        dealers who declare firm bid and ask prices. For instance, in the NASDAQ system, there's a rule
                        that shares are
                        eligible for trading if at least two dealers act as market makers for those shares, meaning they
                        commit to providing
                        firm quotes at which they will buy and sell the company's shares. On average, each type of
                        security is quoted by 11
                        market makers, ensuring a high degree of market liquidity. An investor wishing to buy shares of
                        a specific company
                        can purchase them at any time at the dealer's offer price, while a seller has the option to sell
                        them at the
                        dealer's bid price.</p>
                    <p>Throughout its development, the NASDAQ system has evolved, with changes made to listing and
                        trading conditions to
                        better meet client demands. Stocks that are actively traded on NASDAQ and issuers meeting
                        specific criteria are
                        included in a special list called the National Market System (NASDAQ/NMS). Approximately 3500
                        stocks are included in
                        this list. These stocks have enhanced liquidity, and issuers are approaching the size
                        requirements of stock
                        exchanges. Typically, the organized over-the-counter market is considered a stage before
                        submitting documents to an
                        exchange. However, many globally recognized companies prefer to remain in the NASDAQ/NMS system,
                        believing that this
                        market offers greater advantages than an exchange. Transactions involving NASDAQ/NMS list stocks
                        are closely
                        monitored, with extensive data published about them, providing dealers and investors with
                        detailed information about
                        the issuer and the state of the securities market.</p>

                    <p>Another part of the NASDAQ system consists of stocks that are not actively traded on the market.
                        At the end of the
                        day, dealers quoting these stocks report only the total number of transactions made with these
                        securities. Stocks
                        from this list automatically move to the NASDAQ/NMS list if they begin to meet the requirements.
                    </p>
                    <p>A special segment of the <span class="orange">over-the-counter market</span> is the unorganized
                        over-the-counter
                        market, where trading in securities occurs without any formalized rules. In many countries, this
                        market segment
                        functions as an informational system. Participants in the system only receive information about
                        prices for shares
                        set by various dealers. To execute a transaction, they contact a dealer, for example, by phone,
                        fax, or telex, and
                        negotiate all the terms of buying and selling securities. Brokerage firms operating in the
                        over-the-counter market
                        establish flexible commission rates, which generally decrease as transaction volumes increase.
                        As a result, a
                        "third" market has emerged, where over-the-counter trading of exchange-listed securities takes
                        place. Institutional
                        investors purchase exchange-listed securities through brokerage firms on this market at
                        significantly lower costs
                        for intermediary services. A significant advantage of the "third" market is that trading can
                        occur at any time,
                        i.e., outside the time constraints of exchange trading sessions. Transactions in stocks continue
                        even when trading
                        of these securities is suspended on the exchange for any reason.</p>






                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>