<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Main Participants of the Exchange</span>
                    </h1>
                    <p>The main participants of exchange trading are:</p>

                    <ul>
                        <li>traders, who trade independently at their own risk using their own money;</li>
                        <li>brokers, who trade on behalf of clients for a commission fee;</li>
                        <li>market makers, who ensure the execution of the exchange process.</li>
                    </ul>

                    <h3 class="orange">Broker</h3>
                    <p>An intermediary in transactions of buying and selling securities, and exchanges where securities
                        are traded. Their
                        duties:</p>
                    <ul>
                        <li>register securities offered for exchange on the market;</li>
                        <li>obtain price quotes;</li>
                        <li>present orders to the market maker; maintain a list of open orders;</li>
                        <li>maintain bid/ask prices;</li>
                        <li>support volatility at their own expense;</li>
                        <li>conduct transactions and transfer ownership rights.</li>
                    </ul>

                    <h3 class="orange">Trader</h3>
                    <p>A professional participant in the securities market engaged in dealer activities. Dealer
                        activities are recognized as
                        the execution of transactions for the purchase and sale of securities in their own name and at
                        their own expense by
                        publicly announcing the purchase and (or) sale prices of certain securities with an obligation
                        to buy and (or) sell
                        certain securities at the prices announced by the person engaging in such activities.</p>

                    <h3 class="orange">Market Maker</h3>
                    <p>(English: Market maker) — a broker/dealer firm that takes on the risk of purchasing and holding
                        on its accounts the
                        securities of a particular issuer in order to organize their sale. Market makers operate on both
                        the exchange and
                        over-the-counter markets as direct participants in transactions. Typically, market makers act on
                        both sides — as
                        sellers and as buyers.</p>

                    <p>After we have familiarized ourselves with the main financial markets, their types, and their
                        participants, let's move
                        on to consider the most well-known market in the CIS - the currency market "FOREX." Most novice
                        traders start
                        trading on it, as the advertising campaigns conducted by "FOREX brokers" are impressive in scale
                        and it is probably
                        rare to find someone who has never heard of "FOREX." My trading career also began with this
                        market.</p>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>