<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Валюти та їх котирування</span>
                    </h1>



                    <p>Курс, котирування або ціна валюти визначається самим ринком, тобто співвідношенням попиту та
                        пропозиції на валюту
                        певної країни. Котирування виражає ту кількість іноземної валюти, яку дають за одну одиницю
                        національної (зворотне
                        котирування) або навпаки — кількість національної валюти, яку потрібно віддати за одну одиницю
                        іноземної валюти
                        (пряме котирування).</p>

                    <h3 class="orange">Базова валюта</h3>
                    <p>Валюта, ціну одиниці якої виражають у декількох одиницях іншої валюти, називається базовою
                        валютою. Основною
                        резервною валютою у світі є долар, тому в більшості котирувань він є базовою валютою.</p>

                    <h3 class="orange">Курси покупки та продажу</h3>
                    <p>Великі учасники ринку виставляють курси як на продаж, так і на покупку, і котирування набуває
                        двостороннього виду.
                        Наприклад: 1,5020 — 1,5025. За лівим котируванням ви можете продати базову валюту банку або
                        брокеру, за правим —
                        купити. Ціна, за якою учасник ринку, що виставляє котирування, готовий купити валюту,
                        називається «бід» (BID), ціна,
                        за якою він готовий продати — «аск» (Ask) або «оффер» (Offer). Різниця між покупкою та продажем
                        називається «спред»
                        (Spread) і служить для отримання прибутку тим, хто це котирування виставляє. Мінімально можливе
                        змінення котирування
                        називається пунктом або (на професійному сленгу) піпсом. Різні валюти котируються з різною
                        точністю та спредом.
                        Більшість валют котирується і змінюється в четвертому знаку після коми, а ринковий спред
                        зазвичай становить від 5 до
                        15 пунктів.</p>

                    <h3 class="orange">Стандартне позначення валют</h3>
                    <p>Для кожної валюти існує стандартне позначення, прийняте в усьому світі та закріплене світовою
                        класифікацією ISO.
                        Позначення складається з трьох літер, перші дві з яких позначають країну, а третя — назву
                        валюти. Наприклад: долар
                        США, згідно з класифікацією, позначається USD, де US розшифровується як United States, а D є
                        першою літерою назви
                        валюти Dollar</p>

                    <ul>
                        <li>EUR Євро</li>
                        <li>JPY Японська єна</li>
                        <li>GBP Англійський фунт стерлінгів</li>
                        <li>CHF Швейцарський франк</li>
                        <li>CAD Канадський долар</li>
                        <li>AUD Австралійський долар</li>
                        <li>NZD Новозеландський долар</li>
                        <li>Green back, Buck</li>
                        <li>Cable</li>
                        <li>Swissy</li>
                    </ul>

                    <h3 class="orange">Приклад котирування</h3>
                    <p>У кінцевому вигляді: правильно побудоване котирування набуває наступного вигляду:
                        USD/CHF 1.7450/1.7455</p>

                    <p>Дане котирування означає, що ми можемо продати 1 долар США за 1.7450 швейцарського франка або
                        купити 1 долар США за
                        1.7455 швейцарського франка.</p>



                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>