<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Основні центральні банки</span>
                    </h1>

                    <h3 class="orange">FRS (Federal Reserve System)</h3>
                    <p>Федеральна Резервна Система: Центральний Банк США складається з федеральних резервних банків
                        штатів. Створена в 1913
                        році. Здійснює контроль за грошовим обігом і проводить монетарну політику в США.</p>

                    <h3 class="orange">FOMC (Federal Open Market Committee)</h3>
                    <p>Федеральний комітет відкритого ринку. Комітет збирається один раз на 4-6 тижнів і приймає на
                        своєму засіданні рішення
                        щодо операцій на відкритому ринку та рішення щодо зміни облікової ставки.</p>

                    <h3 class="orange">BOE (Bank of England)</h3>
                    <p>Банк Англії. Засідає перший четвер кожного місяця.</p>

                    <h3 class="orange">MPC (Monetary Policy Committee)</h3>
                    <p>Комітет монетарної політики Банку Англії. 9 членів комітету на засіданні голосують щодо питання
                        зміни облікової
                        ставки.</p>

                    <h3 class="orange">ECB (European Central Bank)</h3>
                    <p>Європейський Центральний Банк, керівник — Маріо Драгі.</p>

                    <h3 class="orange">BOJ (Bank of Japan)</h3>
                    <p>Банк Японії. Керівник — Харухіко Курода.</p>

                    <h3 class="orange">Bundesbank (Bundesbank)</h3>
                    <p>Бундесбанк Німеччини. Керівник - Ернст Вельтеке.</p>

                    <h3 class="orange">SNB (Swiss National Bank)</h3>
                    <p>Швейцарський Національний Банк - найтихіший і найнепомітніший на ринку. Керівник - Томас Джордан.
                    </p>

                    <h3 class="orange">У кожного регіонального ринку FOREX є свої особливості. Азіатський ринок - час
                        роботи FOREX</h3>
                    <p>Під час цієї торгової сесії найбільш активними є угоди на ринку обмінних операцій американського
                        долара до єни
                        (USD/JPY), євро до єни (EUR/JPY), євро до долара (EUR/USD) та австралійського долара до
                        американського долара
                        (AUD/USD).</p>

                    <h3 class="orange">Європейський ринок - час роботи FOREX</h3>
                    <p>Розклад торгових сесій у Європі значно відрізняється від азіатських через різницю в часових
                        поясах. Франкфурт
                        відкривається о 8:00 за центральноєвропейським часом, Лондон — о 9:00. У цей час проводяться
                        торги в європейських
                        фінансових центрах. Волатильність найбільш популярних валютних пар значно збільшується після
                        початку торгової сесії
                        FOREX на Лондонському ринку. Активність торгів трохи знижується до обіду, але ввечері гравці
                        знову активно
                        здійснюють операції. Зміни курсів у європейській торговій сесії можуть бути суттєвими, оскільки
                        на території Європи
                        зосереджена основна маса грошових коштів.</p>

                    <h3 class="orange">Американський ринок - час роботи Forex</h3>
                    <p>Найжвавіші операції на FOREX починаються з відкриттям Нью-Йоркської сесії. У цей час роботи Forex
                        починають свою
                        торгову діяльність банки США, а також повертаються після обідньої перерви європейські дилери.
                        Вплив європейських та
                        американських банків приблизно однаковий, тому жодних суттєвих змін порівняно з європейською
                        торговою сесією на
                        Forex не відбувається. Однак після завершення роботи європейського ринку волатильність може
                        зрости. Часто це
                        спостерігається ввечері в п'ятницю, перед вихідними. Американська сесія є більш агресивною в
                        торгівлі, ніж інші.</p>


                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>