<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Валюты и их котировки</span>
                    </h1>



                    <p>Курс, котировка или цена валюты определяется самим рынком, т.е. соотношением спроса и предложения
                        на валюту
                        определенной страны. Котировка выражает то количество иностранной валюты, которое дают за одну
                        единицу национальной
                        (обратная котировка) или наоборот — количество национальной валюты, которое нужно отдать за одну
                        единицу иностранной
                        валюты (прямая котировка).</p>

                    <h3 class="orange">Базовая валюта</h3>
                    <p>Валюта, цену единицы которой выражают в нескольких единицах другой валюты, называется базовой
                        валютой. Основной
                        резервной валютой в мире является доллар, поэтому в большинстве котировок он является базовой
                        валютой.</p>

                    <h3 class="orange">Курсы покупки и продажи</h3>
                    <p>Крупные участники рынка выставляют курсы как на продажу, так и на покупку, и котировка
                        приобретает двухсторонний вид.
                        Например: 1,5020 — 1,5025. По левой котировке вы можете продать базовую валюту банку или
                        брокеру, по правой —
                        купить. Цена, по которой выставляющий котировку участник рынка готов купить валюту, называется
                        «бид» (BID), цена, по
                        которой он готов продать — «аск» (Ask) или «оффер» (Offer). Разница между покупкой и продажей
                        называется «спрэд»
                        (Spread) и служит для получения прибыли тем, кто эту котировку выставляет. Минимально возможное
                        изменение котировки
                        называется пунктом или (на профессиональном сленге) пипсом. Разные валюты котируются с разной
                        точностью и спредом.
                        Большинство валют котируется и изменяется в четвертом знаке после запятой, а рыночный спред
                        обычно составляет от 5
                        до 15 пунктов.</p>

                    <h3 class="orange">Стандартное обозначение валют</h3>
                    <p>Для каждой валюты существует стандартное обозначение, принятое во всем мире и закрепленное
                        мировой классификацией
                        ISO. Обозначение состоит из трех букв, первые две из которых обозначают страну, а третья —
                        наименование валюты.
                        Например: доллар США, согласно классификации, обозначается USD, где US расшифровывается как
                        United States, а D
                        является первой буквой наименования валюты Dollar</p>

                    <ul>
                        <li>EUR Евро</li>
                        <li>JPY Японская йена</li>
                        <li>GBP Английский фунт стерлингов</li>
                        <li>CHF Швейцарский франк</li>
                        <li>CAD Канадский доллар</li>
                        <li>AUD Австралийский доллар</li>
                        <li>NZD Новозеландский доллар</li>
                        <li>Green back, Buck</li>
                        <li>Cable</li>
                        <li>Swissy</li>
                    </ul>

                    <h3 class="orange">Пример котировки</h3>
                    <p>В конечном виде: правильно построенная котировка приобретает следующий вид:
                        USD/CHF 1.7450/1.7455</p>

                    <p>Данная котировка обозначает, что мы можем продать 1 доллар США за 1.7450 швейцарского франка или
                        купить 1 доллар США
                        за 1.7455 швейцарского франка.</p>


                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>