<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> FOREX Market</span>
                    </h1>


                    <p><span style="background-color:#222;" class="orange"> FOREX (FOREX)</span> is a place where
                        national currencies are freely bought and sold based on the exchange rates between
                        them (quotes), formed in the market under the influence of supply and demand.</p>

                    <h3 class="orange">Main Purpose of the FOREX Market</h3>
                    <p>The primary purpose of creating the FOREX market was the international exchange of currency.
                        Later, with the advent
                        of margin trading and the increase in the number of dealers, the possibility of speculative
                        operations to make a
                        profit appeared. Currently, there are also commercial companies, multinational corporations, and
                        banks that seek to
                        simply exchange one currency for another without aiming to make a profit from it. Why do they
                        need this? It's very
                        simple: they need to exchange profits earned abroad in foreign currency for the national
                        currency or the currency of
                        a third country where the company needs to pay salaries and cover other expenses. The largest
                        players — central
                        national banks of different countries — do not set any formal restrictions on price movements,
                        but in special cases,
                        they conduct currency interventions (i.e., buy or sell the national currency to prevent further
                        increases or
                        decreases in its exchange rate).</p>

                    <p>However, this segment accounts for no more than 5% of all FOREX trading turnover. The remaining
                        95% is provided by
                        the capital of currency traders and organizations whose goal is to make a profit from currency
                        rate movements.</p>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>