<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Позиція: поняття, види і типи</span>
                    </h1>
                    <p>Після здійснення угоди формується ринкова позиція, при якій зміни курсу починають приносити
                        прибуток або збиток.
                        Здійснення угоди призводить до утворення так званої "відкритої позиції", а закриття позиції
                        відбувається при
                        здійсненні зворотної угоди з фіксацією результатів.</p>
                    <p>При купівлі базової валюти відкрита позиція називається довгою позицією, а при її продажу -
                        короткою позицією. Довга
                        позиція відкривається в очікуванні зростання курсу базової валюти, а коротка - в очікуванні її
                        падіння.</p>

                    <h3 class="orange">Валютні позиції</h3>
                    <p>За тривалістю валютні позиції, створювані для проведення спекуляцій, поділяються на два види:</p>

                    <ul>
                        <li>
                            <h3 class="orange">Денна позиція (intraday position)</h3>
                            <p>Дилер відкриває і закриває позиції протягом робочого дня з розрахунками на одну дату
                                валютування.</p>
                        </li>
                        <li>
                            <h3 class="orange">Стратегічна позиція (strategic position)</h3>
                            <p>Дилер відкриває її в очікуванні значного зміни курсу і утримує позицію до закриття
                                протягом певного періоду
                                часу - від декількох днів до декількох місяців.</p>
                        </li>
                    </ul>





                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>