<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Основные центральные банки</span>
                    </h1>


                    <h3 class="orange">FRS (Federal Reserve System)</h3>
                    <p>Федеральная Резервная Система: Центральный Банк США состоит из федеральных резервных банков
                        штатов. Создана в 1913
                        году. Осуществляет контроль за денежным обращением и осуществляет монетарную политику в США.</p>

                    <h3 class="orange">FOMC (Federal Open Market Committee)</h3>
                    <p>Федеральный комитет открытого рынка. Комитет созывается один раз в 4-6 недель и принимает на
                        своем заседании решение
                        по операциям на открытом рынке и решения по изменению учётной ставки.</p>

                    <h3 class="orange">BOE (Bank of England)</h3>
                    <p>Банк Англии. Заседает первый четверг каждого месяца.</p>

                    <h3 class="orange">MPC (Monetary Policy Committee)</h3>
                    <p>Комитет монетарной политики Банка Англии. 9 членов комитета на заседании голосуют по вопросу
                        изменения учетной
                        ставки.</p>

                    <h3 class="orange">ECB (European Central Bank)</h3>
                    <p>Европейский Центральный Банк, руководитель — Марио Драги.</p>

                    <h3 class="orange">BOJ (Bank of Japan)</h3>
                    <p>Банк Японии. Руководитель — Харухико Курода.</p>

                    <h3 class="orange">Bundesbank (Bundesbank)</h3>
                    <p>Бундесбанк Германии. Руководитель - Эрнст Вельтеке.</p>

                    <h3 class="orange">SNB (Swiss National Bank)</h3>
                    <p>Швейцарский Национальный Банк- самый тихий и незаметный на рынке. Руководитель- Томас Джордан.
                    </p>

                    <h3 class="orange">У каждого регионального рынка FOREX есть свои особенности. Азиатский рынок -
                        время работы FOREX</h3>
                    <p>Во время этой торговой сессии самыми активными являются сделки на рынке обменных операций
                        американского доллара к
                        иене (USD/JPY), евро к иене (EUR/JPY), евро к доллару (EUR/USD) и австралийского доллара к
                        американскому доллару
                        (AUD/USD).</p>

                    <h3 class="orange">Европейский рынок - время работы FOREX</h3>
                    <p>Расписание торговых сессий в Европе намного отличается от азиатских из-за разницы в часовых
                        поясах. Франкфурт
                        открывается в 8:00 по центральноевропейскому времени, Лондон — в 9:00. В это время проводятся
                        торги в европейских
                        финансовых центрах. Волатильность наиболее популярных валютных пар значительно увеличивается
                        после начала торговой
                        сессии FOREX на Лондонском рынке. Активность торгов несколько снижается к обеду, но вечером
                        игроки опять активно
                        совершают операции. Изменения курсов в европейской торговой сессии могут быть существенными, так
                        как на территории
                        Европы сосредоточена основная масса денежных средств.</p>

                    <h3 class="orange">Американский рынок - время работы Forex</h3>
                    <p>Самые оживлённые операции на FOREX начинаются с открытием Нью-Йоркской сессии. В это время работы
                        Forex начинают свою
                        торговую деятельность банки США, а также возвращаются после обеденного перерыва европейские
                        дилеры. Влияние
                        европейских и американских банков приблизительно одинаково, поэтому никаких существенных
                        изменений по сравнению с
                        европейской торговой сессией на Forex не происходит. Однако после прекращения работы
                        европейского рынка
                        волатильность может возрасти. Зачастую это наблюдается вечером в пятницу, перед выходными.
                        Американская сессия
                        является более агрессивной в торговле, чем другие.</p>




                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>