<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Деривативы и их виды </span>
                    </h1>
                    <p>Производные финансовые инструменты, которые торгуются на биржах.</p>


                    <h3 class="orange">Производный финансовый инструмент (дериватив)</h3>
                    <p>Финансовый инструмент, в основе которого заложены обязательства в отношении других инвестиционных
                        активов или
                        товаров. Простыми словами, дериватив — это ценная бумага на ценную бумагу. Существует несколько
                        основных видов
                        производных ценных бумаг: фьючерсы, форвардные контракты, свопы, опционы, свопционы, контракты
                        на разницу.</p>
                    <p>Деривативы условно разделяются на категории в соответствии с теми активами, которые лежат в их
                        основе:</p>
                    <h3 class="orange">Финансовые производные ценные бумаги</h3>
                    <p>Контракты, основанные на процентных ставках по краткосрочным и долгосрочным облигациям США,
                        Великобритании и других
                        стран.</p>
                    <h3 class="orange">Валютные производные ценные бумаги</h3>
                    <p>Контракты на курс евро/доллар, доллар/иена и другие мировые валюты.</p>
                    <h3 class="orange">Индексные производные ценные бумаги</h3>
                    <p>Контракты на индексы акций, такие как S&P 500, Nasdaq 100, FTSE 100.</p>
                    <h3 class="orange">Товарные производные ценные бумаги</h3>
                    <p>Контракты на энергоресурсы, например нефть, на драгоценные металлы — золото, платину, палладий,
                        серебро, на цветные
                        металлы — алюминий, никель, на сельхозпродукцию — пшеница, соя, мясо, кофе, какао и даже на
                        концентрат апельсинового
                        сока.</p>
                    <p>Только в небольшом количестве сделок (до 3%) происходит реальная поставка активов, лежащих в
                        основе производных
                        ценных бумаг. Преимущественно сделка урегулируется путем взаимных расчетов в денежной форме
                        через процедуру
                        клиринга.</p>
                    <p>Производные ценные бумаги используются для двух целей.</p>
                    <p>Во-первых, для страхования финансовых рисков (хеджирования). Например, производитель
                        сельхозпродукции может защитить
                        себя от падения цен на его продукцию в будущем, когда он планирует собрать урожай. Или
                        автомобильный концерн,
                        которому требуется заранее известное количество цветного металла для производства в будущем,
                        может застраховаться от
                        его удорожания на определенный период.</p>
                    <p>Во-вторых, производные ценные бумаги — один из самых доходных инструментов для проведения
                        спекулятивных операций.
                        Например, для покупки фьючерсного контракта на 100 тыс. евро против доллара США с поставкой
                        через три месяца
                        требуется залог всего порядка 2 тыс. долларов. Таким образом, можно совершенно бесплатно
                        получить так называемое
                        «торговое плечо» на очень большую сумму. К сожалению, при этом спекулятивные операции с
                        производными ценными
                        бумагами - самые рискованные по сравнению с другими ценными бумагами.</p>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>