<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Риск кредитного плеча на FOREX</span>
                    </h1>

                    <p><span class="orange">Кредитное плечо</span> — это своего рода кредит, который предоставляется
                        брокером под залог внесенных на торговый счет
                        средств (депозита). Этот кредит может использоваться только для покупки и продажи валюты и
                        позволяет совершать
                        операции на сумму, превышающую собственные средства. На сегодняшний день размеры кредитного
                        плеча варьируются в
                        пределах от 1:1 (один к одному) до 1:500 (один к пятистам). При этом цифра, стоящая после
                        двоеточия, показывает, во
                        сколько раз кредитные средства брокера могут превышать собственные средства (депозит) при
                        совершении торговых
                        операций. Таким образом, при депозите в 1000 долларов и плече 1:200 можно оперировать суммой в
                        200000 долларов, а
                        при плече 1:500 — суммой в 500000 долларов. Однако при этом возрастает и риск потерять депозит
                        полностью. Например,
                        при депозите в 2000 долларов и плече 1:200, можно купить или продать один стандартный лот.</p>
                    <p>Экономическую политику определяют интересы промышленных и финансовых групп, экспортеров и
                        импортеров товаров и
                        капиталов и пр. Кроме того, с учётом усиливающейся взаимозависимости стран мира, оптимальная
                        экономическая политика
                        представляет собой компромисс национальных и зарубежных интересов.</p>
                    <p>Основными экономическими факторами, оказывающими существенное влияние на динамику курса валют,
                        являются экономические
                        показатели, переговоры, заседания центральных банков, экономических и торговых союзов,
                        выступления руководства
                        ведущих финансовых и экономических государственных институтов, специалистов по экономике и
                        финансовым операциям,
                        договорённости о совместных интервенциях.</p>
                    <ul><span class="orange">Экономические показатели важны в трёх аспектах:</span>
                        <li>— ожидаемый уровень </li>
                        <li>— предыдущий уровень</li>
                        <li>— диапазон прогнозов</li>
                    </ul>
                    <p>Кроме того, нужно учитывать поведение других рынков: фондового рынка, рынка золота, нефти,
                        сельскохозяйственных
                        товаров. Если центральный банк пополняет резервы путём покупки ценных бумаг с целью их
                        перепродажи, понизится
                        учётная ставка, что, в свою очередь, позволяет банкам снизить процентные ставки и вызовет
                        падение курса. И наоборот,
                        сокращение резервов страны путём продажи ценных бумаг с целью их выкупа в будущем приводит к
                        повышению учётной
                        ставки, подорожанию кредитов и усилению интереса к сбережениям в национальной валюте, что
                        приводит к её укреплению.
                    </p>
                    <p>В случае повышения цен на нефть, для стран-импортеров нефти можно ожидать повышения спроса на
                        доллар США, что
                        приведёт к его удорожанию. Понижение цен на золото увеличивает приобретение ценных бумаг, что
                        приводит к их
                        подорожанию и, соответственно, укреплению национальной валюты. Аналогично, дешевизна золота
                        вызывает рост интереса к
                        депозитам, что позволяет банкам, контролируя рост процентных ставок, повысить спрос на
                        национальную валюту.</p>
                    <p>Для более точной оценки влияния того или иного показателя на динамику курсов валют следует
                        принимать во внимание
                        последние изменения, прогнозы специалистов, а также соотношение различных индикаторов. Именно
                        прогнозы специалистов
                        зачастую провоцируют отражающую реакцию рынка, которая по факту объявления данных либо
                        усиливается (в случае
                        подтверждения прогноза), либо, наоборот, меняется на противоположную (в случае ошибочности
                        прогнозов).</p>


                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>