<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Позиция: понятия, виды и типы</span>
                    </h1>

                    <p>После совершения сделки формируется рыночная позиция, при которой изменения курса начинают
                        приносить прибыль или
                        убыток. Совершение сделки приводит к образованию так называемой "открытой позиции", а закрытие
                        позиции происходит
                        при совершении обратной сделки с фиксацией результатов.</p>
                    <p>При покупке базовой валюты открытая позиция называется длинной позицией, а при её продаже -
                        короткой позицией.
                        Длинная позиция открывается в ожидании роста курса базовой валюты, а короткая - в ожидании её
                        падения.</p>

                    <h3 class="orange">Валютные позиции</h3>
                    <p>По длительности валютные позиции, создаваемые для проведения спекуляций, делятся на два вида:</p>

                    <ul>
                        <li>
                            <h3 class="orange">Дневная позиция (intraday position)</h3>
                            <p>Дилер открывает и закрывает позиции в течение рабочего дня с расчётами на одну дату
                                валютирования.</p>
                        </li>
                        <li>
                            <h3 class="orange">Стратегическая позиция (strategic position)</h3>
                            <p>Дилер открывает её в ожидании значительного изменения курса и удерживает позицию до
                                закрытия в течение
                                определённого периода времени - от нескольких дней до нескольких месяцев.</p>
                        </li>
                    </ul>




                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>