<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Психологические риски FOREX</span>
                    </h1>


                    <p>Другим важным риском, связанным с торговлей на валютном рынке FOREX, являются психологические
                        факторы, связанные с
                        человеческими эмоциями, надеждами и переживаниями. При торговле на FOREX каждый человек
                        испытывает множество эмоций,
                        из которых наиболее опасными являются страх и жадность. Именно страх потерпеть неудачу и
                        потерять свои деньги
                        заставляет многих держать убыточные позиции, надеясь на то, что движение цены изменится и
                        удастся закрыть позицию в
                        плюсе. Вместо того чтобы потерять немного, сохранив при этом свой депозит, многие ждут перемен,
                        увеличивая свои
                        потери. Чем выше потери, тем труднее их признать и согласиться с ними, в результате чего это
                        может привести к потере
                        всего депозита.</p>
                    <p><span class="orange">Жадность</span> — не менее опасна на FOREX, чем страх. Жадность заставляет
                        человека совершать
                        импульсивные поступки:
                        открывать позиции нерационально, боясь упустить возможность быстро получить прибыль. После
                        неудачной сделки жадность
                        заставляет торговать еще больше, в надежде быстрее возместить свои потери, что в свою очередь
                        неизбежно ведет к
                        новым ошибкам и так далее. Другими словами, торговля под воздействием эмоций рано или поздно
                        приводит к потере всех
                        денег.</p>
                    <p>Бороться с психологическими рисками можно: оставайтесь хладнокровными при любой ситуации,
                        руководствуясь при
                        совершении сделок разумом, а не эмоциями. Для торговли на валютном рынке нужно использовать
                        только те денежные
                        средства, которые можно позволить потратить без тяжелых последствий; никогда не торгуйте на
                        средства, взятые в долг
                        или в кредит. Подготовленный торговый план и четкое его соблюдение помогут избежать множества
                        рисков. Всегда
                        используйте защитные ордера. Не забывайте, что сверхприбыль напрямую связана со сверхрисками;
                        главная цель — это
                        <span class="orange">стабильность</span>.
                    </p>




                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>