<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Basics of the Market
                        </span>
                    </h1>
                    <h2>
                        <span style="background-color:#222;" class="orange">
                            Brief Glossary of Terms </span>
                    </h2>
                    <p class="pad" style="background-color:#222; ">Every profession has its unique lexicon, set of
                        phrases, and terms that
                        professionals communicate with. Below is a list of fundamental terms, in my opinion, that you
                        should know before
                        familiarizing yourself with financial markets. At first glance, they may seem "boring" and
                        "difficult to
                        understand," but I assure you that after completing my training course, you will have no problem
                        communicating in
                        the professional language of traders.</p>
                    <h3 class="orange">Shareholder</h3>
                    <p>— is an individual or legal entity that owns securities — common or preferred shares, indicating
                        their stake in the
                        issuer's capital. Shareholders are endowed with rights of property and non-property nature.</p>
                    <h3 class="orange">Share</h3> — is a security that certifies an investor's (shareholder's) ownership
                    in the company's
                    capital. A share grants the investor a number of rights of property and non-property nature:
                    <ul>

                        <li>receive dividends;</li>
                        receive a share of assets proportionate to the contribution upon the company's liquidation;
                        <li>participate in the management of the company by voting at shareholder meetings;</li>
                        <li>participate in the management of the company by voting at shareholder meetings.</li>
                    </ul>
                    <h3 class="orange">American Stock Exchange (AMEX)</h3>
                    <p>
                        — a global stock exchange that evolved from a small company of stock traders into the
                        second-largest exchange in the
                        USA.
                    </p>
                    <p>
                        In turn, stocks are divided into preferred and common. The main difference of preferred shares
                        lies in the fact that
                        the size of dividends paid on them is predetermined, whereas the dividends for owners of common
                        shares may vary
                        depending on the financial performance of the company.
                    </p>
                    <h3 class="orange">Analysis</h3>
                    <p>
                        — is a set of methods for studying, researching objects, phenomena, processes by identifying
                        patterns and factors
                        influencing the result, to determine trends. The results of the analysis are used for
                        forecasting. Traders use
                        fundamental and technical analysis of financial instruments — stocks, indices, futures
                        contracts, currency pairs —
                        to forecast the future price movement of assets for profit.
                    </p>
                    <h3 class="orange">Arbitrage</h3>
                    <p>
                        — the procedure of simultaneously purchasing a specific commodity on the market at the lowest
                        price and selling it
                        on another trading platform at the highest price to generate income. If considering this process
                        in FOREX, arbitrage
                        allows traders to profit in the short term due to the temporary difference between currency
                        exchange rates.
                    </p>
                    <h3 class="orange">Base Currency on FOREX</h3>
                    <p>
                        — is the currency standing in the first currency pair on FOREX. All trading transactions are
                        carried out using the
                        base currency (primary or traded currency), with the second currency being the quote currency.
                    </p>
                    <p>
                        The calculation of the trading volume is always done in the base currency, while the value of a
                        pip is in the quote
                        currency. For example, in the currency pair USD/EUR, USD (US dollars) is the base currency, and
                        EUR (euros) is the
                        quote currency.
                    </p>
                    <p>
                        It is worth noting that most often, the base currencies in a currency pair are: US dollars,
                        euros, British pounds,
                        Australian dollars, and Canadian dollars.
                    </p>
                    <h3 class="orange">Bars</h3>
                    <p>
                        — vertical lines indicating the price lows and highs, with horizontal lines denoting the opening
                        and closing prices.
                    </p>
                    <h3 class="orange">Broker</h3>
                    <p>
                        — acting on behalf of the client, performs the functions of an intermediary between the seller
                        and the buyer of
                        securities. The broker's services are also paid for by the client — usually in the form of
                        commission for various
                        operations. There is also the concept of a floor broker.
                    </p>
                    <p>
                        Traders and investors do not have direct access to exchange trading and can only conduct
                        exchange operations through
                        intermediaries accredited to conduct brokerage activities by regulatory authorities.
                    </p>
                    <h3 class="orange">Currency Pair</h3>
                    <p>
                        — a trading instrument based on the change in the value of one currency relative to another
                        currency.
                    </p>
                    <h3 class="orange">Volatility</h3>
                    <p>
                        — the range of price fluctuations of a financial instrument, which is one of the most
                        significant indicators of the
                        instrument's attractiveness in trading. Volatility reflects the degree of risk when dealing with
                        a particular
                        instrument: the higher this indicator, the greater the range of price changes within a certain
                        period of time.
                    </p>
                    <h3 class="orange">Blue Chip</h3>
                    <p>
                        — highly liquid stocks of major companies that demonstrate stable profitability over a long
                        period of time. These
                        securities largely serve as market indicators, and their price movements set market trends.
                    </p>
                    <h3 class="orange">Chart</h3>
                    <p>
                        — a graphical representation of the chronological sequence of prices in the form of lines, bars,
                        or Japanese
                        candlesticks.
                    </p>
                    <h3 class="orange">Gap</h3>
                    <p>
                        — a significant difference between two consecutive price quotes. When coinciding with the last
                        second of a
                        candlestick closing at any scale, it can be displayed on a chart as empty space between
                        candlesticks or bars. A gap
                        between sessions is a price gap between the first quote of the current session and the last
                        quote of the previous
                        session.
                    </p>

                    <h3 class="orange">Demo Account</h3>
                    <p>— an educational account.</p>
                    <h3 class="orange">Range</h3>
                    <p>
                        — the difference between the minimum (low) and maximum (high) prices of a trading instrument
                        over a specific period
                        of time. Traders select a timeframe (hour, day, week, etc.) and monitor price changes within
                        this period. The
                        corridor within which the price moves, as well as the minimum and maximum prices, define the
                        range.
                    </p>
                    <h3 class="orange">Diversification</h3>
                    <p>
                        — the distribution of capital among assets with different levels of profitability and risk to
                        minimize risks and
                        reduce financial losses. An investor allocates funds into securities from various issuers,
                        forming an investment
                        portfolio. If some stocks incur losses, others that are profitable help mitigate losses, thus
                        diversifying risks.
                    </p>
                    <h3 class="orange">Long Position (Long)</h3>
                    <p>A trade opened to buy a particular trading instrument (Buy).</p>
                    <h3 class="orange">Free Margin</h3>
                    <p>Funds in the account excluding margin, as well as current profit/loss.</p>
                    <h3 class="orange">Yield</h3>
                    <p>
                        — a measure of profitability and feasibility of investments. The unit of measurement is
                        typically the percentage of
                        profit earned over a specific period.
                    </p>
                    <h3 class="orange">Investments</h3>
                    <p>
                        — funds invested to generate profit or increase company assets. Investments yield profit only if
                        invested in
                        profitable projects or stocks, hence it's crucial to assess potential risks. Typically,
                        investments in
                        higher-yielding assets also entail higher risks.
                    </p>
                    <h3 class="orange">Insider</h3>
                    <p>
                        — a person who possesses important internal information unknown to ordinary market participants
                        concerning financial
                        markets, due to their position. Insiders include top bank managers, major shareholders, board
                        members—those with
                        access to confidential financial news and who can use this information for personal gain. Their
                        activities are
                        regulated by insider trading laws. Every participant in the currency market can monitor insider
                        actions and consider
                        these signals in their work. However, according to many analysts, insider decisions are not
                        always accurate.
                    </p>

                    <h3 class="orange">Currency Intervention</h3>
                    <p>
                        Currency intervention is one of the most important currency tools used by each state. To
                        influence the exchange rate
                        of the national currency, the central bank conducts operations of buying and selling national
                        currency or gold
                        against major world currencies. Official state currency reserves are typically used for such
                        interventions. Currency
                        interventions help adjust the exchange rate.
                    </p>
                    <h3 class="orange">Securities and Exchange Commission (SEC)</h3>
                    <p>
                        The primary regulator of the American stock market, which establishes rules for the registration
                        of securities and
                        oversees the activities of stock exchanges. Established in 1933, the Commission was created to
                        restore investor
                        confidence in the stock market, which was severely shaken during the Great Depression. Today,
                        the SEC is responsible
                        for enforcing securities laws and regulations.
                    </p>
                    <h3 class="orange">Contract for Difference (CFD)</h3>
                    <p>
                        A financial instrument that allows the seller and buyer to settle the difference between the
                        contract price and the
                        actual market price without delivering the underlying asset. Underlying assets can include
                        futures, stocks, precious
                        metals, stock indices, and others. Profits can be made from both rising and falling markets.
                    </p>
                    <h3 class="orange">Short Position (Short)</h3>
                    <p>
                        — a sale transaction. On the exchange, a short position signifies selling an asset not owned by
                        the seller, with the
                        aim to buy it back at a more favorable price if market conditions change. For example, opening a
                        short position to
                        sell oil at $50 per barrel, and if the oil price drops in a week, you buy it back cheaper than
                        you sold it, thus
                        making a profit.
                    </p>


                    <h3 class="orange">Quote</h3>
                    <p>
                        — the price of an instrument at a specific moment in time. It indicates the price at which a
                        seller is willing to
                        sell the asset. On the exchange, these prices change quite rapidly. Quotes are formed based on
                        several factors such
                        as interest rates, inflation, political events, and others. A currency quote is expressed in the
                        value of one
                        currency through a unit of another.
                    </p>
                    <h3 class="orange">Leverage</h3>
                    <p>
                        — the amount of money that a broker is willing to lend to a trader for executing transactions in
                        the financial
                        markets with a larger trading volume. By using leverage, a trader increases their deposit
                        several times. It is
                        expressed as a ratio between the collateral amount and the trading volume: 1:10, 1:100, 1:500,
                        etc. When using
                        leverage, the trader's own funds act as collateral.
                    </p>
                    <h3 class="orange">Cross Rates</h3>
                    <p>
                        — the exchange rate between two currencies calculated based on the exchange rate of each of them
                        relative to a third
                        currency. For example, the Bank of England sells or buys euros for yen. To calculate the cross
                        rate for the EUR/JPY
                        pair, the bank will use quotes of dollar pairs with both currencies — EUR/USD and USD/JPY.
                    </p>
                    <p>
                        Therefore, the Ask and Bid quotes of the EUR/JPY cross rate will be calculated using the
                        following formulas: Bid
                        EUR/JPY = Bid EUR/USD × Bid USD/JPY; Ask EUR/JPY = Ask EUR/USD × Ask USD/JPY.
                    </p>
                    <h3 class="orange">Locked Positions</h3>
                    <p>
                        — positions of the same volume opened on one account in the same instrument but in different
                        directions (buy and
                        sell). For example, a trader opens a 1 lot sell position on EUR/USD. After some time, the price
                        moves against the
                        trader's expectations, and the trader decides to open an opposite buy position with the same
                        volume and the same
                        trading instrument. As a result, losses on the first opened position are offset.
                    </p>

                    <h3 class="orange">Margin</h3>
                    <p>
                        — funds reserved by a dealer as collateral to maintain open positions.
                    </p>
                    <h3 class="orange">Hedged Margin</h3>
                    <p>
                        — margin required for hedged positions, which are funds necessary to open and subsequently
                        maintain such positions
                        (i.e., positions opened in different directions). The size of the margin for a hedged position
                        can be found in the
                        contract specification of the specific instrument on our website.
                    </p>
                    <h3 class="orange">Marginal Trading</h3>
                    <p>
                        — using leverage to execute trades, allowing clients to trade with sums significantly exceeding
                        the amount of funds
                        in their trading account.
                    </p>
                    <h3 class="orange">Margin Account</h3>
                    <p>
                        — any trading account that allows the use of leverage, which a client can open with a brokerage
                        firm.
                    </p>
                    <h3 class="orange">Market Maker</h3>
                    <p>
                        — participants in the over-the-counter market who directly determine its liquidity and maintain
                        it, acting as both
                        sellers and buyers.
                    </p>
                    <h3 class="orange">Foreign Exchange Market (FOREX)</h3>
                    <p>
                        — the largest and most liquid global financial market where national currencies are traded.
                        Currency prices are
                        determined solely by the level of demand and supply and are formed based on agreements between
                        market participants.
                    </p>
                    <h3 class="orange">Overnight</h3>
                    <p>
                        — an operation for one working day or, in the case of deals made on Friday, for the period from
                        Friday to Monday
                        inclusive. Essentially, it involves carrying a position over to the next working day
                        "overnight". In the banking
                        sector, "overnight" can also refer to a one-day loan that one bank provides to another.
                    </p>
                    <h3 class="orange">Option</h3>
                    <p>
                        — a contract entered into by two investors, under the terms of which one participant in the
                        transaction acquires the
                        underlying asset at a pre-determined price within a specified period of time or sells it. The
                        other investor buys or
                        sells under the specified conditions. In other words, an option can be a contract for either
                        buying or selling any
                        trading instrument.
                    </p>
                    <h3 class="orange">Order</h3>
                    <p>
                        — in the FOREX currency market, an "order" signifies a pending instruction left by a client or a
                        company acting on
                        their behalf in the trading platform. When the price reaches the level specified in the order,
                        the transaction will
                        automatically open or close.
                    </p>
                    <h3 class="orange">Opened Position</h3>
                    <p>
                        — a client's active contract for buying or selling a financial instrument; it represents the
                        first part of a
                        complete transaction and obliges the client to subsequently execute the opposite transaction
                        (closing the position)
                        in the same volume. It also obliges the client to meet margin requirements and maintain the
                        value of assets in the
                        account (funds) above the established minimum (e.g., 30% of the reserved margin).
                    </p>
                    <h3 class="orange">Pending Order</h3>
                    <p>
                        — an order left by a trader with a broker indicating at which price level a position should be
                        opened or closed.
                        Experienced traders do not recommend trading on currency markets without using pending orders,
                        as they help avoid
                        significant losses.
                    </p>
                    <h3 class="orange">Ask</h3>
                    <p>
                        — the price at which a broker offers a trader to buy a specific financial instrument. In broad
                        terms, it is the
                        price at which a seller is willing to part with their goods. In a currency quote, this price is
                        indicated on the
                        right. The ask price is always higher than the bid price.
                    </p>
                    <h3 class="orange"> Profit </h3>
                    <p>
                        — a positive financial result of a trading or speculative operation, investment of funds,
                        exceeding the amount of
                        initial investments.
                    </p>
                    <h3 class="orange"> Point, Pips </h3>
                    <p>
                        — the smallest unit of change in the value of a financial instrument. Pips also refer to the
                        second decimal place in
                        a currency pair quote.
                    </p>
                    <h3 class="orange"> Lot Size </h3>
                    <p>
                        — the quantity of units of the base currency, shares, underlying assets, or other units
                        specified in instrument
                        specifications as the size of one lot.
                    </p>
                    <h3 class="orange"> Clearing </h3>
                    <p>
                        — a type of countertrade involving non-cash settlement for securities transactions, based on
                        mutual financial claims
                        and obligations.
                    </p>

                    <h3 class="orange"> Clearing House </h3>
                    <p>
                        — a separate division of the exchange responsible for regulating client operations. For example,
                        the clearinghouse
                        registers all client transactions, conducts clearing, and also handles payments resulting from
                        clearing.
                    </p>
                    <h3 class="orange"> Repo </h3>
                    <p>
                        — a contract for the sale of assets that includes an obligation to repurchase them at a
                        predetermined price.
                    </p>
                    <h3 class="orange"> Rollover </h3>
                    <p>
                        — the situation where the expiration date of a financial market contract is extended.
                    </p>
                    <h3 class="orange"> Market Order </h3>
                    <p>
                        — an instruction from a trader to a broker indicating the need to open or close a position in
                        the FOREX market for a
                        specific currency pair and volume at the prevailing market price. There are two types of market
                        orders: buy and
                        sell. Market orders are processed at incredible speed or may not be processed at all. In this
                        case, a requoting
                        occurs, which means a refusal to process at the requested price.
                    </p>
                    <h3 class="orange"> Market Order </h3>
                    <p>
                        — an immediate order to buy or sell a financial asset at the market price, issued by a client to
                        a broker.
                    </p>
                    <h3 class="orange"> Candlestick Charts </h3>
                    <p>
                        — the most popular type of chart. The body of the candlestick represents the opening and closing
                        prices, while the
                        shadows represent the minimum and maximum prices.
                    </p>

                    <h3 class="orange"> Free Margin </h3>
                    <p>
                        — funds available on the trading account that have not been used as collateral in financial
                        market transactions.
                        They can be used for any operations, including withdrawals or opening new trades. Calculation
                        formula: Free Margin =
                        Equity — Margin.
                    </p>
                    <h3 class="orange"> Swap </h3>
                    <p>
                        — the difference in interest rates on loans in the currencies involved in a transaction. It is
                        credited to (if
                        positive) or debited from (if negative) a trading account when an open trading position is
                        carried over overnight.
                    </p>
                    <h3 class="orange"> Transaction </h3>
                    <p>
                        — any operation involving a financial asset (currency pairs, stocks, etc.) within the framework
                        of financial or
                        currency markets. For example, buying or selling stocks.
                    </p>
                    <h3 class="orange"> Spot trade </h3>
                    <p>
                        — transactions involving the purchase and sale of any financial assets that involve delivery of
                        the instrument on
                        the next banking day are called spot trades. This means that the participants in the trading
                        operation pre-determine
                        the price and date, the so-called points (spots), at which the transaction will be conducted.
                    </p>
                    <h3 class="orange"> Spread </h3>
                    <p>
                        — one of the fundamental concepts in the currency market, essential for understanding a trader's
                        work. It denotes
                        the difference between the current buying and selling prices of a financial instrument and is
                        the main source of
                        income for brokers who take a small part of the spread as a commission for providing services.
                    </p>
                    <h3 class="orange"> Bid </h3>
                    <p>
                        — the price at which a trader can sell a financial instrument. In currency quotes, the bid price
                        is shown on the
                        left and is always lower than the ask price. Market orders, pending orders, stop-loss, and
                        take-profit orders are
                        executed at the bid price.
                    </p>
                    <h3 class="orange"> Stop Out </h3>
                    <p>
                        — a signal for the forced closure of a position, issued by the server when a client's account
                        lacks funds to
                        maintain an open trade. Each broker sets the stop-out level individually. Typically, a trader's
                        losing positions are
                        closed at the current market price. If a trader has multiple losing positions, the forced
                        closure starts with the
                        most unprofitable one.
                    </p>
                    <h3 class="orange"> Stop Loss </h3>
                    <p>
                        — an order that allows a trader to lock in a trade when a selected instrument reaches a
                        specified price. Stop-loss
                        parameters can be set before or after opening a position. A stop-loss helps traders avoid
                        additional losses by
                        automatically closing the position. A mandatory condition is that when setting a stop-loss
                        order, the price of the
                        financial instrument should not be lower than the current market price for a sell trade and not
                        higher for a buy
                        trade.
                    </p>
                    <h3 class="orange"> Technical Analyst </h3>
                    <p>
                        — a specialist who studies the market using tools of technical analysis and builds forecasts
                        based on the results of
                        technical analysis. The primary tool for technical analysts is the price chart, which is why
                        another name for these
                        specialists is chartists.
                    </p>
                    <h3 class="orange"> Technical Analysis </h3>
                    <p>
                        — a set of graphical and mathematical methods for assessing the current state and dynamics of
                        the price of a stock
                        market asset with the aim of forecasting its future changes. Technical analysis is widely used
                        by traders on the
                        stock exchange and FOREX market.
                    </p>
                    <h3 class="orange"> Tick </h3>
                    <p>
                        — a single quotation of a financial asset (currency, stock, etc.) sent by an information system.
                        In other words, in
                        a trading platform, a tick is any single change or movement of a quotation in one direction or
                        another. It can
                        change by one point or more.
                    </p>
                    <h3 class="orange"> Ticker </h3>
                    <p>
                        — a unique number assigned in a trading platform to each operation, allowing the identification
                        of any pending order
                        or open trading position. The ticker value for each completed operation can be viewed in the
                        transaction history.
                    </p>
                    <h3 class="orange"> Trading Session </h3>
                    <p>
                        — the period during which stock exchange trading occurs on a specific exchange or trading
                        platforms of a region.
                        Every exchange in the world has established trading hours — the main trading session period
                        during which official
                        trading takes place.
                    </p>
                    <h3 class="orange"> Trading Range </h3>
                    <p>
                        — a fluctuation in the exchange rate within a specific range on the market. The support level
                        forms the lower
                        boundary of the range, and the resistance level forms the upper boundary. When the price moves
                        and changes between
                        these two boundaries, it is called a trading range. In other words, it denotes movement within a
                        corridor over a
                        certain period.
                    </p>

                    <h3 class="orange"> Day Trading </h3>
                    <p>
                        Trading on the financial market within one trading session during the day. This means that
                        positions opened on that
                        day are not carried over overnight to the next day or to the next trading session.
                    </p>
                    <h3 class="orange"> Trader </h3>
                    <p>
                        A participant in exchange and over-the-counter trading who conducts trading operations with the
                        aim of profiting
                        from changes in asset prices.
                    </p>
                    <p>
                        Stock exchange traders deal with <span class="orange">exchange-traded assets</span> such as
                        stocks, bonds, and
                        futures. Traders also engage in over-the-counter operations in the foreign exchange market
                        (FOREX), where trading
                        instruments include currencies and CFDs (contracts for difference) on exchange-traded assets
                        such as stocks,
                        futures, and indices.
                    </p>
                    <p>
                        Private traders execute trades online using internet technologies. Exchanges provide specialized
                        <span class="orange">trading platforms</span> for this purpose — programs that provide access to
                        exchange quotes,
                        graphical tools, order forms for buying and selling assets, and many other functions.
                    </p>
                    <p>
                        Traders may specialize based on their <span class="orange">trading style:</span>
                    </p>
                    <ul>
                        <li><span class="orange"> Day Trader </span> — a trader who executes operations
                            within a single trading
                            session.</li>
                        <li><span class="orange"> Scalper </span> — trades on very small trading intervals (up
                            to several minutes).
                        </li>
                        <li><span class="orange"> Long-term Trader </span> — opens trades for a
                            long period ranging
                            from several months to several years.</li>
                        <li><span class="orange"> Medium-term Trader </span> — opens trades for a
                            period ranging from
                            several weeks to several months.</li>
                    </ul>





                    <h3 class="orange"> Trend </h3>
                    <p>Directional price movement. A trend reflects the development of market or instrument tendencies,
                        i.e., the tendency
                        of prices to rise or fall. There are upward (bullish) trends, downward (bearish) trends, as well
                        as sideways trends.
                    </p>
                    <p>
                        For <span class="orange">bullish trends</span>, highs are characterized by rising lows.
                    </p>
                    <p>During <span class="orange">bearish trends</span>, lows are updated with decreasing highs.
                    </p>
                    <p>
                        <span class="orange">Sideways trend (flat)</span> — movement within a price corridor between the
                        maximum and minimum
                        values of quotes.
                    </p>
                    <h3 class="orange"> Take Profit </h3>
                    <p>This is a trading order that allows you to lock in profits when the price reaches a certain
                        level. Such an order
                        helps reduce risks for traders. If a trader sets a take profit order for a selected trading
                        instrument, the trade
                        will automatically close once the price reaches the set level. A take profit can be set at any
                        time during an open
                        trade.</p>
                    <h3 class="orange"> Average </h3>
                    <p>Situation where shares of the same issuer are consecutively bought or sold as their price
                        decreases or increases. The
                        average price at which the shares were bought or sold is maintained.</p>
                    <h3 class="orange"> Stock Market </h3>
                    <p>This is a component of the financial market, an institute of market economy whose main function
                        is the redistribution
                        of capital and investment resources through relationships that arise during the issuance and
                        trading of securities —
                        stocks, shares of investment funds, corporate bonds.</p>
                    <h3 class="orange"> Fundamental Analyst </h3>
                    <p>This is an expert who conducts a comprehensive evaluation of business performance indicators,
                        macroeconomic data,
                        market conditions with the aim of identifying the most promising objects for investment.</p>
                    <h3 class="orange"> Fundamental Analysis </h3>
                    <p>It is a set of methods for evaluating company performance indicators, the impact of various
                        factors, both internal
                        and external, as well as potential risks to determine investment attractiveness. Conducting
                        qualitative fundamental
                        analysis is a necessary condition for making informed investment decisions.</p>
                    <h3 class="orange"> Futures Contract </h3>
                    <p>A contract whose subject is a financial asset or commodity, and according to its terms, delivery
                        is made on a
                        specific date in the future. Futures contracts have strict conditions regarding the type and
                        quantity of goods,
                        allowing only minimal deviations. The contract also specifies conditions for payment of overhead
                        or transportation
                        expenses.</p>
                    <h3 class="orange"> Hedge </h3>
                    <p>To limit, fence off, avoid. Actions aimed at limiting/reducing risks, including risks associated
                        with price
                        movements. Hedging also refers to risk insurance. For example, hedging a loss risk on a short
                        position in one
                        instrument by opening a long position in a derivative of that instrument.</p>
                    <h3 class="orange"> Hedging </h3>
                    <p>These are operations to hedge risks arising from transactions in financial markets. Hedging can
                        be carried out in
                        various ways and using various instruments. The most common instruments are futures contracts,
                        options, or entering
                        into opposite transactions in correlated markets.</p>

                    <h3 class="orange"> Price </h3>
                    <p>1) two-way quote for a financial instrument; consists of Bid and Ask prices; 2) opening or
                        closing price of a
                        position; 3) order level.</p>
                    <h3 class="orange"> Securities </h3>
                    <p>Documents confirming property rights or the fact of a loan issuance by the holder of such a
                        document to the issuer.
                        Securities include, for example, the following: promissory note, bond, share, option, futures
                        contract, warrant,
                        certificate.</p>
                    <h3 class="orange"> Split Close </h3>
                    <p>Closing a position in a partial volume; for example, 0.5 lots out of 2.0.</p>
                    <h3 class="orange"> Issuer </h3>
                    <p>This is a participant in the financial market who issues securities (stocks, bonds) to attract
                        additional investments
                        in business or finance activities. The issuer conducts issuance in its own name and in
                        accordance with established
                        legal procedures.</p>
                    <h3 class="orange"> Equity </h3>
                    <p>The current balance of funds in the account. Equity includes both profit and losses from
                        positions open at the time
                        of calculating this indicator. The formula used to determine it is: Equity = Balance + Credit +
                        Floating Profit -
                        Floating Loss.</p>
                    <h3 class="orange"> Economic Calendar </h3>
                    <p>This is a summary of all news across countries indicating their release time and forecast. It is
                        important to
                        consider when each news item will be officially published, taking into account the time zone
                        differences.</p>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>