<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Неринкові ризики FOREX</span>
                    </h1>

                    <p>До неринкових ризиків FOREX можна віднести дії урядів або центральних банків, які здійснюють
                        непрямий вплив на
                        валютний ринок, наприклад, через адміністративні бар'єри або різні обмеження. Крім того, сюди
                        можна віднести
                        стихійні лиха, терористичні акти та інші непрямі впливи на ринок. Наприклад, теракт у Нью-Йорку,
                        що стався 11
                        вересня 2001 року, миттєво відбився на валютному ринку: курс американського долара різко впав.
                        Передбачити
                        виникнення подібних ризиків неможливо, проте їх вплив можна обмежити шляхом захисту позицій і
                        постійного контролю
                        над ситуацією на ринку.</p>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>