<section class="programm" id="course-trading">
    <div class="container">
        <div class="section-i">
            <h2>Curriculum</h2>
            <div class="programm-decor" style="margin: -10px 0 -40px;">
                <picture class="image">
                    <source srcset="/assets/img/content/icon-course-01_big.png" media="(min-width: 900px)">
                    <img src="/assets/img/content/icon-course-01.png" alt="diagram">
                </picture>
            </div>

            <div class="programm__list">
                <div class="programm__item">
                    <a href="#" class="programm__link js-open-modal"></a>
                    <div class="programm__in">
                        <span class="programm__close"></span>
                        <div class="programm__title orange">
                            Understanding the stock market
                        </div>
                        <ol class="programm__content">
                            <li>Exchange: structure and principle of operation </li>
                            <li>The role of the stock exchange in the financial sector of the economy</li>
                            <li>
                                The main participants of the financial market are banks, funds and other</li>
                            <li>
                                Types of assets</li>
                        </ol>

                    </div>
                </div>
                <div class="programm__item">
                    <a href="#" class="programm__link js-open-modal"></a>
                    <div class="programm__in">
                        <span class="programm__close"></span>
                        <div class="programm__title orange">
                            Market analysis
                        </div>
                        <ol class="programm__content">
                            <li>Types of market analysis
                            </li>
                            <li>Technical analysis. Bonus – trading system "Work from levels"</li>
                            <li>
                                Fundamental analysis</li>
                        </ol>

                    </div>
                </div>
                <div class="programm__item">
                    <a href="#" class="programm__link js-open-modal"></a>
                    <div class="programm__in">
                        <span class="programm__close"></span>
                        <div class="programm__title orange">
                            Volumetric analysis of the market
                        </div>
                        <ol class="programm__content">
                            <li>Market profile
                            </li>
                            <li>Reading tape and price , market structure</li>
                            <li>
                                Practice on real trading accounts</li>
                        </ol>

                    </div>
                </div>
                <div class="programm__item">
                    <a href="#" class="programm__link js-open-modal"></a>
                    <div class="programm__in">
                        <span class="programm__close"></span>
                        <div class="programm__title orange">
                            "Trading system and market psychology" (based on the Wyckoff methodology)
                        </div>
                        <ol class="programm__content">

                            <li>Money management
                            </li>
                            <li>Compound interest</li>
                            <li>
                                Risk management</li>
                            <li>
                                Behavioral factors above the market (price manipulation as a trigger for action)</li>
                            <li>
                                Zone of crowd demand (distribution of the asset by large capital)</li>
                            <li>
                                "Crowd" sale zone (accumulation of assets with large capital)</li>
                        </ol>

                    </div>
                </div>

            </div>
            <p>As the result - you will get a trading system based on reading charts also you will learn how
                markets work and
                you will get the practical skill of opening deals
                under the guidance of a practicing trader, course instructor.</p>
            <div class="button-place">


                <button (click)="navigateToHomeWithId()" class="button js-scroll"><span
                        style="margin-right:15px ;">START
                        NOW</span> </button>

            </div>
        </div>
    </div>
</section>

<section class="separator">
    <div class="container">
        <div class="line"></div>
    </div>
</section>
<section class="programm decor-right" id="support">
    <div class="container">
        <div class="section-i padd">
            <h2>Trading support from Ihor Arapov</h2>
            <div class="programm-decor" style="margin: -30px 0 -10px;">
                <picture class="image">
                    <source srcset="/assets/img/content/icon-course-04_big.png" media="(min-width: 900px)">
                    <img src="/assets/img/content/icon-course-04.png" alt="diagram">
                </picture>
            </div>

            <ol>
                <li>General market analysis</li>
                <li>Search for trades on the chart</li>
                <li>Trade support</li>
                <li>Creation of an individual trading system for the client</li>
                <li>Practice on real trading accounts</li>
            </ol>


        </div>
    </div>
</section>
<section class="separator">
    <div class="container">
        <div class="line"></div>
    </div>
</section>
<section class="programm decor-right" id="tradeResult">
    <div class="container">
        <div class="section-i ">
            <h2>Trading results</h2>
            <div class="programm-decor" style="margin: -30px 0 -10px;">
                <picture class="image">
                    <source srcset="/assets/img/content/icon-course-02_big.png" media="(min-width: 900px)">
                    <img src="/assets/img/content/icon-course-02.png" alt="Навчання трейдингу">
                </picture>
            </div>

            <img src="/assets/img/screens/55.jpg" alt="graph" class="screen__img_graf">

            <div class="button-place">
                <a href="https://telegram.me/Arapov_Trade" target="_blank" class="button"><span
                        style="margin-right:15px ;">Detailed statistics</span> </a>


            </div>
        </div>
    </div>
</section>

<section class="separator">
    <div class="container">
        <div class="line"></div>
    </div>
</section>
<section class="reviews" id="course-system">
    <div class="container">
        <div class="section-i">
            <h2>
                ArapovTradeChat - support in trading
            </h2>
            <div class="screen__list one ">
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">1</span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">


                                        <img src="/assets/img/screens/1.jpg" alt="graph" class="screen__img">
                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">2</span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">


                                        <img src="/assets/img/screens/2.jpg" alt="graph" class="screen__img">

                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">3 </span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/3.jpg" alt="graph" class="screen__img">


                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">4 </span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/4.jpg" alt="graph" class="screen__img">


                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">5 </span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/5.jpg" alt="graph" class="screen__img">


                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">6 </span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/6.jpg" alt="graph" class="screen__img">


                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">7 </span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/7.jpg" alt="graph" class="screen__img">

                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>

                </mat-tab-group>







            </div>
            <div class="screen__list two ">
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">1</span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">

                                        <img src="/assets/img/screens/1.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/2.jpg" alt="graph" class="screen__img">
                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">2</span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">

                                        <img src="/assets/img/screens/3.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/4.jpg" alt="graph" class="screen__img">

                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">3 </span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/5.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/6.jpg" alt="graph" class="screen__img">

                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>





                </mat-tab-group>







            </div>
            <div class="screen__list three ">
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">1</span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/3.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/1.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/2.jpg" alt="graph" class="screen__img">
                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">2</span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">

                                        <img src="/assets/img/screens/6.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/4.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/5.jpg" alt="graph" class="screen__img">
                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>






                </mat-tab-group>







            </div>
        </div>

    </div>
</section>






<section class="separator">
    <div class="container">
        <div class="line"></div>
    </div>
    <section class="speaker" id="course-price">
        <div class="container">

            <div class="section-i">
                <h2>Price</h2>
                <div class="price__block hide2  speaker__wrap">
                    <div class="speaker-i">
                        <div class="speaker__info">
                            <table>
                                <thead class="">
                                    <tr>
                                        <th class="speaker__title">Consultation</th>
                                        <th class="speaker__title">Group studying</th>
                                        <th class="speaker__title">Individual studying</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table__cell">
                                        <td class="table__align">
                                            <ul class="styled-list">
                                                <li>
                                                    Analysis of your trading system and recommendations for improvement
                                                </li>
                                                <li>
                                                    Analysis of the trading situation on your account and
                                                    recommendations regarding
                                                    getting out of "slumps"
                                                </li>
                                                <li>Trial session on trading theory</li>
                                            </ul>
                                        </td>
                                        <td class="table__align middle_cell">
                                            <ul class="styled-list">
                                                <li>
                                                    Trading system in the record
                                                </li>
                                                <li>Methodical materials from the author of the course (theory +
                                                    practice)</li>
                                                <li>Possibility to ask questions during the learning process</li>
                                                <li>Practice + homework</li>

                                            </ul>
                                        </td>
                                        <td class="table__align ">
                                            <ul class="styled-list">
                                                <li>
                                                    Trading system in the record
                                                </li>
                                                <li>Methodical materials from the author of the course (theory +
                                                    practice)</li>
                                                <li>Possibility to ask questions during the learning process</li>
                                                <li>Practice + homework</li>
                                                <li>Unique training system</li>
                                                <li>In-depth study of market mechanics</li>
                                                <li>Trading system</li>
                                                <li>Compilation of an individual account development plan</li>

                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table_cell__pass">

                                            <!-- <p class="contact-block_text">Доступ до чату (торгові рекомендації в
                                                    реал-тайм)
                                                    на 1
                                                    місяць</p>-->

                                        </td>
                                        <td class="table_cell__pass">

                                            <p class="contact-block_text">Access to chat (real-time trading
                                                recommendations) 3 months</p>

                                        </td>
                                        <td class="table_cell__pass">

                                            <p class="contact-block_text">Access to chat (real-time trading
                                                recommendations) 12 months</p>

                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>
                                            <h3>50$</h3>
                                        </td>
                                        <td>
                                            <h3>500$</h3>
                                        </td>
                                        <td>
                                            <h3>1500$</h3>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>

                    </div>

                </div>


                <div class="price__block hide1">
                    <div class="speaker__wrap">
                        <div class="speaker-i">

                            <div class="speaker__info">
                                <div class="speaker__title">
                                    Consultation
                                </div>
                                <div>
                                    <ul class="styled-list">
                                        <li>
                                            Analysis of your trading system and recommendations for improvement
                                        </li>
                                        <li>
                                            Analysis of the trading situation on your account and recommendations for
                                            getting out of the "slump"
                                        </li>
                                        <li>Trial session on trading theory</li>
                                    </ul>
                                </div>

                                <div>
                                    <section class="separator">
                                        <div class="line"></div>
                                    </section>

                                    <!-- <p class="contact-block_text">Доступ до чату (торгові рекомендації в реал-тайм)
                                            на 1
                                            місяць</p>-->

                                    <section class="separator">
                                        <div class="line"></div>
                                    </section>
                                    <h3>50$</h3>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="speaker__wrap">
                        <div class="speaker-i">

                            <div class="speaker__info">
                                <div class="speaker__title">
                                    Group studying
                                </div>
                                <ul class="styled-list">
                                    <li>
                                        Trading system in the record
                                    </li>
                                    <li>Methodical materials from the author of the course (theory + practice)</li>
                                    <li>Possibility to ask questions during the learning process</li>
                                    <li>Practice + homework</li>

                                </ul>
                                <section class="separator">
                                    <div class="line"></div>
                                </section>

                                <p class="contact-block_text">Access to chat (real-time trading recommendations) 3
                                    months</p>

                                <section class="separator">
                                    <div class="line"></div>
                                </section>
                                <h3>500$</h3>
                            </div>
                        </div>
                    </div>

                    <div class="speaker__wrap ">
                        <div class="speaker-i">

                            <div class="speaker__info">
                                <div class="speaker__title">
                                    Individual studying
                                </div>
                                <ul class="styled-list">
                                    <li>
                                        Trading system in the record
                                    </li>
                                    <li>Methodical materials from the author of the course (theory + practice)</li>
                                    <li>Possibility to ask questions during the learning process</li>
                                    <li>Practice + homework</li>
                                    <li>Unique training system</li>
                                    <li>In-depth study of market mechanics</li>
                                    <li>Trading system</li>
                                    <li>Compilation of an individual account development plan</li>

                                </ul>
                                <section class="separator">
                                    <div class="line"></div>
                                </section>

                                <p class="contact-block_text">Access to chat (real-time trading recommendations)
                                    12
                                    months</p>

                                <section class="separator">
                                    <div class="line"></div>
                                </section>
                                <h3>1500$</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="studyingDownButton">
                    <div class="button-place">
                        <button (click)="navigateToHomeWithId()" class="button js-scroll"><span
                                style="margin-right:15px ;">START NOW</span> </button>


                    </div>
                </div>

            </div>
        </div>

    </section>