<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Ризик кредитного плеча на FOREX</span>
                    </h1>

                    <p><span class="orange">Кредитне плече</span> — це свого роду кредит, який надається брокером під
                        заставу внесених на торговий рахунок коштів
                        (депозиту). Цей кредит може використовуватися тільки для купівлі та продажу валюти та дозволяє
                        здійснювати операції
                        на суму, що перевищує власні кошти. На сьогоднішній день розміри кредитного плеча варіюються в
                        межах від 1:1 (один
                        до одного) до 1:500 (один до п’ятисот). При цьому цифра, що стоїть після двокрапки, показує, у
                        скільки разів
                        кредитні кошти брокера можуть перевищувати власні кошти (депозит) при здійсненні торгових
                        операцій. Таким чином, при
                        депозиті в 1000 доларів і плечі 1:200 можна оперувати сумою в 200000 доларів, а при плечі 1:500
                        — сумою в 500000
                        доларів. Проте при цьому зростає і ризик втратити депозит повністю. Наприклад, при депозиті в
                        2000 доларів і плечі
                        1:200, можна купити або продати один стандартний лот.</p>
                    <p>Економічну політику визначають інтереси промислових і фінансових груп, експортерів та імпортерів
                        товарів і капіталів
                        тощо. Крім того, з урахуванням посилення взаємозалежності країн світу, оптимальна економічна
                        політика являє собою
                        компроміс національних і закордонних інтересів.</p>
                    <p>Основними економічними факторами, які суттєво впливають на динаміку курсу валют, є економічні
                        показники, переговори,
                        засідання центральних банків, економічних і торгових союзів, виступи керівництва провідних
                        фінансових та економічних
                        державних інститутів, фахівців з економіки та фінансових операцій, домовленості про спільні
                        інтервенції.</p>
                    <ul> <span class="orange">Економічні показники важливі у трьох аспектах:</span>
                        <li>— очікуваний рівень</li>
                        <li>— попередній рівень</li>
                        <li>— діапазон прогнозів</li>
                    </ul>
                    <p>Крім того, потрібно враховувати поведінку інших ринків: фондового ринку, ринку золота, нафти,
                        сільськогосподарських
                        товарів. Якщо центральний банк поповнює резерви шляхом купівлі цінних паперів з метою їх
                        перепродажу, понизиться
                        облікова ставка, що, в свою чергу, дозволяє банкам знизити процентні ставки і викликає падіння
                        курсу. І навпаки,
                        скорочення резервів країни шляхом продажу цінних паперів з метою їх викупу в майбутньому
                        призводить до підвищення
                        облікової ставки, подорожчання кредитів і посилення інтересу до заощаджень у національній
                        валюті, що призводить до
                        її зміцнення.</p>
                    <p>У разі підвищення цін на нафту, для країн-імпортерів нафти можна очікувати підвищення попиту на
                        долар США, що
                        призведе до його здорожчання. Зниження цін на золото збільшує придбання цінних паперів, що
                        призводить до їх
                        здорожчання і, відповідно, зміцнення національної валюти. Аналогічно, дешевизна золота викликає
                        зростання інтересу
                        до депозитів, що дозволяє банкам, контролюючи зростання процентних ставок, підвищити попит на
                        національну валюту.
                    </p>
                    <p>Для більш точного оцінювання впливу того чи іншого показника на динаміку курсів валют слід
                        враховувати останні зміни,
                        прогнози фахівців, а також співвідношення різних індикаторів. Саме прогнози фахівців часто
                        провокують відображаючу
                        реакцію ринку, яка за фактом оголошення даних або посилюється (у разі підтвердження прогнозу),
                        або, навпаки,
                        змінюється на протилежну (у разі помилковості прогнозів).</p>


                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>