<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Біржовий та позабіржовий ринки </span>
                    </h1>
                    <p>В даному розділі розглядається устрій фінансових ринків, їх функції, основні учасники та що
                        торгується на
                        найбільших біржах. Ця інформація є загальнодоступною і може бути знайдена в Інтернеті або в
                        інших джерелах.
                    </p>

                    <p> <span class="orange">Біржовий ринок</span>
                        означає, що торги ведуться в спеціально відведеному місці, іменованому біржею.</p>

                    <h3 class="orange">Біржа</h3>
                    <p>Організація, яка одержала від державного регулюючого органу ліцензію на проведення торгівлі
                        цінними
                        паперами. Особливість біржової торгівлі полягає в тому, що торги ведуться за жорстко
                        встановленими
                        правилами. У зв'язку з цим біржовий ринок визнається організованим ринком, на якому:</p>

                    <ul>
                        <li>Торги здійснюються протягом певного часу, так званих торгових сесій.</li>
                        <li>Торгівля проводиться відповідно до регламенту біржі, і всі учасники торгів зобов'язані
                            дотримуватися
                            цих правил.
                        </li>
                        <li>Біржа служить гарантом виконання угод, тобто продавцю цінних паперів гарантовано отримання
                            грошових
                            коштів, а покупцю — цінних паперів.</li>
                        <li>До біржової торгівлі допускаються цінні папери лише надійних емітентів.</li>
                    </ul>

                    <p>Для цього біржа проводить відбір емітентів за критеріями розміру компанії, прибутковості її
                        роботи,
                        надійності і т.д. Цю процедуру називають <span class="orange">лістингом</span>, тобто допуском
                        до біржової
                        торгівлі. За діяльністю цих компаній біржа веде
                        постійний контроль, і якщо компанія перестала задовольняти вимогам біржі, то відбувається
                        процедура
                        <span class="orange">делістингу</span>,
                        тобто виключення компанії з біржового списку.
                    </p>

                    <p>Першою біржею, на якій здійснювалась торгівля цінними паперами, вважається біржа, створена в
                        Антверпені
                        в 1531 році. На ній продавалися як товари (тканини, зерно і т.д.), так і цінні папери. Такі
                        біржі
                        називають <span class="orange">універсальними</span>, так
                        як на них торгують різними продуктами. Пізніше з'явилися спеціалізовані біржі, на яких
                        продавалися
                        тільки цінні папери. Ці біржі отримали назву <span class="orange">фондових бірж</span>. Перша
                        фондова біржа була створена в
                        Лондоні в 1773 р. і
                        існує донині.
                    </p>

                    <p>В Росії перша біржа з'явилася в 1809 р. в Санкт-Петербурзі, припинила своє існування в 1917 р.
                        Відродження
                        російських бірж відноситься до початку 1990-х рр., коли в країні розпочалися ринкові реформи.
                        Сьогодні в
                        Росії до
                        найбільш відомих відносяться: Московська міжбанківська валютна біржа (ММВБ) та Російська
                        торговельна
                        система (РТС).
                        Найбільша з них — ММВБ, на неї припадає майже 90% угод з цінними паперами.</p>

                    <p>Біржа дозволяє здійснювати операції з цінними паперами неперервно протягом торгової сесії. На
                        сьогоднішній
                        день доступ до біржевих котирувань мають не тільки брокерські компанії, але й будь-який
                        інвестор.
                        Розвиток Інтернету дозволяє
                        бачити біржеві котирування та здійснювати торгівлю цінними паперами, не виходячи з дому.</p>

                    <p>Однак цілий ряд угод з цінними паперами здійснюється за межами біржі, на так званому
                        <span class="orange">позабіржовому ринку</span>. В
                        першу чергу це стосується цінних паперів тих компаній, які з якихось причин не
                        допущені до біржової
                        торгівлі. Зазвичай це молоді і невеликі компанії, які ще не досягли відповідних
                        показників для
                        проходження лістингу. На <span class="orange">позабіржовому ринку</span> продавець і покупець
                        цінних паперів безпосередньо
                        зустрічаються між собою і
                        укладають угоду.
                    </p>

                    <p>У сучасний час <span class="orange">позабіржовий ринок</span> представляє собою широко
                        розгалужену телекомунікаційну
                        мережу, яка об'єднує
                        учасників торгових операцій і забезпечує надання їм необхідної інформації для
                        укладання угод.</p>

                    <p>Історично позабіржовий ринок розвивався паралельно з біржовою торгівлею. Активними
                        учасниками
                        позабіржового ринку
                        були інвестиційні банки, які виступали в якості дилерів по купівлі і продажу цінних
                        паперів, а також здійснювали
                        операції купівлі-продажу акцій і облігацій з інвесторами. Ці операції здійснювалися
                        безпосередньо в
                        інвестиційному
                        банку через конторський пункт, де з одного боку знаходився службовець, а з іншого —
                        інвестор. Даний вид операцій
                        отримав назву торгівлі <span class="orange">«через прилавок»</span> (over the counter).</p>

                    <p>Пізніше термін закріпився за всіма видами операцій, які здійснювалися за межами
                        будівлі біржі за
                        допомогою дилерів.
                        Цей ринок отримав назву позабіржового (over the counter market, OTC). На
                        позабіржовому ринку,
                        як правило,
                        здійснюється торгівля цінними паперами емітентів, які не пройшли процедуру
                        лістингу на біржі через
                        недостатність капіталу, короткий термін роботи на ринку і т.п. Це розширює
                        круг емітентів, здатних
                        виставити свої акції для торгівлі на організованому ринку.</p>

                    <p><span class="orange">Позабіржовий ринок </span>має кілька сегментів, які значно
                        відрізняються за організацією
                        торгівлі. По-перше,
                        слід виділити організований позабіржовий ринок, де торгівля цінними паперами
                        ведеться за строго
                        встановленими
                        правилами. Найбільша в світі організована позабіржова система торгівлі цінними
                        паперами —
                        Автоматизована
                        система котирувань Національної асоціації дилерів по цінних паперах (NASDAQ),
                        створена в США в
                        1971 році. На
                        сьогоднішній день в системі NASDAQ здійснюється торгівля більш ніж 4000 акціями
                        різних компаній. У
                        торгівлі
                        беруть участь більш ніж 50 країн, які здійснюють операції з віддалених терміналів.</p>

                    <p>Для того щоб цінні папери були допущені до обігу на організованому позабіржовому ринку, вони
                        проходять процедуру
                        лістингу, яка є значно м'якшою, ніж лістинг на біржі. Однак до компанії пред'являються вимоги
                        щодо мінімального
                        обсягу активів та кількості вільно обігаючих акцій, а також ставиться умова, щоб акції компанії
                        обов'язково
                        котирувались кількома дилерами, що оголошують чіткі ціни купівлі та продажу. Наприклад, в
                        системі NASDAQ існує
                        правило, за яким акції допускаються до торгівлі, якщо їх маркет-мейкерами беруться не менше двох
                        дилерів, тобто вони
                        зобов'язуються встановлювати чіткі котирування, за якими будуть купувати та продавати акції
                        компанії. В середньому
                        один вид цінного паперу котирується 11 маркет-мейкерами, що забезпечує високий рівень
                        ліквідності ринку. Інвестор,
                        який бажає купити акції конкретної компанії, може в будь-який момент придбати їх за ціною
                        пропозиції у дилера, а
                        той, хто бажає продати акції, має можливість їх реалізувати за ціною попиту, яку оголошує дилер.
                    </p>
                    <p>У процесі свого розвитку система NASDAQ модифікувалась, змінювались умови лістингу та торгівлі з
                        метою більш повного
                        задоволення запитів клієнтів. Акції, які найбільш активно торгуються в системі NASDAQ, та
                        емітенти, які відповідають
                        певним вимогам, включені до особливого списку — Національну ринкову систему (NASDAQ/NMS).
                        Приблизно 3500 акцій
                        включені до цього списку. Ці акції мають підвищену ліквідність, і емітенти за розміром свого
                        капіталу наближаються
                        до вимог фондової біржі. Зазвичай організований позабіржовий ринок розглядається як етап перед
                        подачею документів на
                        біржу. Однак багато всесвітньо відомих компаній вважають за краще залишатися в системі
                        NASDAQ/NMS, вважаючи, що цей
                        ринок має більші переваги, ніж біржовий. Угоди з акціями списку NASDAQ/NMS ретельно
                        контролюються, за ними
                        публікуються досить обширні дані, дилери та інвестори отримують докладну інформацію про емітента
                        та стан ринку
                        цінних паперів.</p>

                    <p>Ще одну частину системи NASDAQ складають акції, які не активно обертаються на ринку. В кінці дня
                        дилери, які
                        котирують ці акції, повідомляють лише загальну кількість угод, укладених з цими цінними
                        паперами. Акції з такого
                        списку автоматично переходять у список NASDAQ/NMS, якщо починають задовольняти висуваним
                        вимогам.</p>
                    <p>Особливий сегмент <span class="orange">позабіржового ринку</span> складає неорганізований
                        позабіржовий ринок, на
                        якому торгівля цінними паперами ведеться без будь-яких формалізованих правил. У багатьох країнах
                        цей сегмент ринку
                        функціонує як інформаційно-довідкова система. Учасники торгів в системі лише отримують
                        інформацію про ціни на акції,
                        встановлені різними дилерами. Для укладення угоди вони зв'язуються, наприклад, по телефону,
                        факсу, телексу з дилером
                        і узгоджують всі умови купівлі-продажу цінних паперів. Брокерські фірми, які працюють на
                        позабіржовому ринку,
                        встановлюють гнучкі комісійні ставки, які, як правило, зменшуються при збільшенні масштабів
                        операцій. В результаті
                        сформувався «третій» ринок, де здійснюється позабіржова торгівля зареєстрованими на біржі
                        цінними паперами. На ньому
                        інституціональні інвестори через брокерські компанії придбають котируючіся на біржі цінні папери
                        при значно менших
                        витратах на оплату посередницьких послуг. Значне перевага «третього» ринку полягає в тому, що
                        торгівля на ньому може
                        здійснюватися у будь-який час, тобто поза часовими рамками проведення біржової сесії. Угоди з
                        акціями тривають
                        навіть тоді, коли на біржі з якихось причин торгівля цими цінними паперами призупинена.</p>






                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>