<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Основы рынка
                        </span>
                    </h1>
                    <h2>
                        <span style="background-color:#222;" class="orange">
                            Краткий словарь терминов </span>
                    </h2>
                    <p class="pad" style="background-color:#222; ">В каждой профессии есть свой уникальный лексикон,
                        набор фраз и терминов, на которых общаются профессионалы. Ниже
                        представлен список основных, на мой взгляд, терминов, которые нужно узнать перед тем, как
                        знакомиться с финансовыми
                        рынками. На первый взгляд они могут показаться «скучными» и «сложными в понимании», но я вас
                        уверяю, что после
                        прохождения моего учебного курса для вас не будет проблемой общаться на профессиональном языке
                        трейдеров.</p>

                    <h3 class="orange">Акционер</h3>
                    <p>— это физическое или юридическое лицо, владелец ценных бумаг —
                        простых или привилегированных акций, указывающих
                        на долю их владельца в капитале эмитента. Акционеры наделены правами имущественного и
                        неимущественного характера.</p>

                    <h3 class="orange">Акция</h3> — это ценная бумага, свидетельствующая о доле инвестора (акционера) в
                    капитале компании. Акция
                    наделяет инвестора
                    рядом прав имущественного и неимущественного характера:
                    <ul>

                        <li>получать дивиденды;</li>
                        получать долю в активах пропорционально вкладу при ликвидации компании;
                        <li>получать долю в активах пропорционально вкладу при ликвидации компании;</li>
                        принимать участие в управлении компанией путем голосования на собрании акционеров.
                        <li>принимать участие в управлении компанией путем голосования на собрании акционеров.</li>

                    </ul>
                    <h3 class="orange">Американская фондовая биржа (American Stock Exchange)</h3>
                    <p>
                        — мировая фондовая
                        биржа, выросшая из
                        небольшой компании торговцев
                        акциями во вторую по величине биржу США.
                    </p>

                    <p>
                        В свою очередь акции делятся на привилегированные и обычные. Основное отличие привилегированных
                        акций заключается в том,
                        что размер дивидендов, выплачиваемых по ним, определен заранее, тогда как размер дивидендов для
                        владельцев обыкновенных
                        акций может варьироваться в зависимости от финансовых результатов деятельности компании.
                    </p>


                    <h3 class="orange"> Анализ </h3>
                    <p>
                        — это совокупность методов изучения, исследования объектов, явлений, процессов путем
                        выявления закономерностей и
                        факторов, влияющих на результат, для определения тенденций. Результаты анализа используются для
                        прогнозирования.
                        Трейдеры используют фундаментальный и технический анализ финансовых инструментов — акций,
                        индексов,
                        фьючерсных
                        контрактов, валютных пар — для прогнозирования дальнейшего движения цены актива с целью
                        получения
                        прибыли.
                    </p>

                    <h3 class="orange">Арбитраж (Arbitrage)</h3>
                    <p>
                        — процедура одновременного приобретения определенного
                        товара на рынке по
                        наименьшей цене и
                        реализации его на другой торговой площадке по наиболее высокой стоимости с целью получения
                        дохода.
                        Если рассматривать
                        данный процесс на FOREX, то арбитраж позволяет трейдерам получить прибыль в короткий срок за
                        счет
                        кратковременной
                        разницы между курсами валют.
                    </p>
                    <h3 class="orange">Базовая валюта (Base currency) на FOREX</h3>

                    <p>
                        — это валюта, стоящая в первой валютной паре на FOREX. Все
                        торговые сделки
                        осуществляются за счет базовой валюты (основная или торгуемая валюта), второй валютой является
                        валюта котирования.</p>
                    <p>
                        Подсчитывание объема торговой сделки всегда осуществляется в базовой валюте, тогда как стоимость
                        пункта — в валюте
                        котирования. Например, в валютной паре USD/EUR, USD (доллары США) — базовая валюта, а EUR (евро)
                        —
                        валюта котирования.
                    </p>
                    <p>
                        Стоит отметить, что чаще всего базовой валютой в валютной паре выступают: американские доллары,
                        евро, британские фунты,
                        австралийские и канадские доллары.
                    </p>


                    <h3 class="orange">Бары (Bars)</h3>
                    <p>
                        — вертикальные линии, обозначающие минимумы и максимумы цены, с
                        горизонтальными линиями,
                        которые обозначают
                        цены открытия и закрытия.
                    </p>


                    <h3 class="orange">Брокер (Broker)</h3>
                    <p>
                        — по поручению клиента выполняет функции посредника между
                        продавцом и покупателем
                        ценных бумаг. Работу
                        брокера также оплачивает клиент — чаще всего оплата осуществляется в форме комиссии за различные
                        операции. Существует
                        также понятие биржевого брокера — <span class="orange">Floor broker.</span>
                    </p>
                    <p>
                        Трейдеры и инвесторы не имеют прямого доступа к
                        биржевым торгам, а могут
                        совершать биржевые операции только с помощью посредников, которые имеют аккредитацию на
                        совершение
                        брокерской
                        деятельности от регулирующих органов.
                    </p>

                    <h3 class="orange">Валютная пара (Currency Pair)</h3>
                    <p>
                        — инструмент торговли, основанный на изменении
                        стоимости одной валюты
                        по отношению к
                        другой валюте.
                    </p>

                    <h3 class="orange">Волатильность (Volatility)</h3>
                    <p>
                        — диапазон колебания цены финансового
                        инструмента, являющийся одним из
                        наиболее значительных
                        показателей привлекательности инструмента в торговле. Волатильность отражает степень риска в
                        работе
                        с тем или иным
                        инструментом: чем выше этот показатель, тем больше диапазон изменения курса в определенный
                        промежуток времени.
                    </p>

                    <h3 class="orange">Голубая фишка (Blue chip)</h3>
                    <p>
                        — наиболее высоколиквидные акции крупнейших
                        компаний, которые
                        демонстрируют стабильные
                        показатели доходности на протяжении длительного периода времени. Эти ценные бумаги во многом
                        являются индикаторами
                        рынка, а движение цен на них задает рыночный тренд.
                    </p>

                    <h3 class="orange">График (Chart)</h3>
                    <p>
                        — графическое отображение временной последовательности цен в
                        виде линий, баров или
                        японских свечей.
                    </p>

                    <h3 class="orange">Гэп (Gap)</h3>
                    <p>
                        — значительный разрыв между двумя последовательными значениями
                        котировок. При совпадении с
                        последней секундой
                        закрытия свечи на том или ином масштабе может быть отображен на графике как пустое пространство
                        между свечами или
                        барами. Гэп между сессиями — ценовой разрыв между первой котировкой текущей сессии и последней
                        котировкой предыдущей
                        сессии.
                    </p>

                    <h3 class="orange">Демо-счет (Demo Account)</h3>
                    <p>— учебный счет.</p>

                    <h3 class="orange">Диапазон (Range)</h3>
                    <p>
                        — разница между минимальной (min) и максимальной (max)
                        ценами торгового инструмента
                        за определенный
                        промежуток времени. Трейдеры выбирают таймфрейм (час, день, неделю и т.д.) и следят за
                        изменениями
                        цены в этот период.
                        Коридор, в котором двигалась цена, а также минимум и максимум цен и будут считаться диапазоном.
                    </p>

                    <h3 class="orange">Диверсификация (Diversification)</h3>
                    <p>Распределение капитала между различными по доходности и риску активами с целью минимизировать
                        риски и снизить
                        финансовые потери. Инвестор вкладывает средства в ценные бумаги разных эмитентов, формируя
                        инвестиционный портфель.
                        Если какие-то акции окажутся убыточными, то другие, доходные, помогут свести потери к минимуму,
                        таким образом
                        диверсифицируя риски.</p>

                    <h3 class="orange">Длинная позиция (Long)</h3>
                    <p>Сделка, открытая для покупки какого-либо торгового инструмента (Buy).</p>

                    <h3 class="orange">Доступная маржа/свободная маржа (Free Margin)</h3>
                    <p>Средства на счете за исключением маржи, а также текущая прибыль/убыток.</p>

                    <h3 class="orange">Доходность (Yield)</h3>
                    <p>Показатель прибыльности и целесообразности инвестиций. Единицей измерения, как правило, выступает
                        процент прибыли,
                        полученной за определенный период.</p>

                    <h3 class="orange">Инвестиции (Investments)</h3>
                    <p>Вложение средств для получения прибыли или увеличения активов компании. Инвестиции приносят доход
                        только в случае
                        вложения в прибыльные проекты или акции, поэтому важно просчитывать потенциальные риски. Обычно
                        инвестиции в более
                        высокодоходные активы являются и более рискованными.</p>


                    <h3 class="orange">Инсайдер (Insider)</h3>
                    <p>Человек, обладающий важной внутренней информацией, неизвестной обычным участникам торгов и
                        касающейся финансовых
                        рынков, благодаря занимаемой должности. Инсайдерами являются топ-менеджеры банков, крупные
                        акционеры, члены совета
                        директоров — те, кто имеет доступ к закрытым новостям на финансовых рынках и могут
                        воспользоваться этой информацией
                        в своих целях. Их деятельность регулируется законами об инсайде. Каждый участник валютного рынка
                        может следить за
                        действиями инсайдеров и учитывать эти сигналы в своей работе. Но, по словам многих аналитиков,
                        решения инсайдеров не
                        всегда могут быть верными.</p>

                    <h3 class="orange">Интервенция (валютная) (Currency Intervention)</h3>
                    <p>Валютная интервенция является одним из самых важных валютных инструментов каждого государства.
                        Чтобы воздействовать
                        на курс национальной денежной единицы, Центральный банк проводит операцию купли-продажи
                        национальной валюты или
                        золота против главных мировых валют. Для подобных вмешательств обычно используются официальные
                        государственные
                        валютные резервы. Благодаря валютным интервенциям корректируется валютный курс.</p>

                    <h3 class="orange">Комиссия по ценным бумагам и биржам (Securities and Exchange Commission)</h3>
                    <p>Основной регулятор американского рынка акций, который устанавливает правила регистрации ценных
                        бумаг и осуществляет
                        надзор за деятельностью фондовых бирж. Созданная в 1933 году, комиссия была призвана
                        восстановить доверие инвесторов
                        к фондовому рынку, которое серьезно пошатнулось во времена Великой депрессии. Сегодня Комиссия
                        отвечает за
                        выполнение законов о ценных бумагах и биржах.</p>

                    <h3 class="orange">Контракт на разницу (CFD)</h3>
                    <p>Финансовый инструмент, позволяющий продавцу и покупателю без доставки базового актива произвести
                        расчет, выплачивая
                        друг другу разницу между стоимостью, указанной в контракте, и фактической котировкой. В качестве
                        базового актива
                        могут выступать фьючерсы, акции, драгоценные металлы, фондовые индексы и другие. Зарабатывать
                        можно как на падении,
                        так и на росте рынка.</p>


                    <h3 class="orange">Короткая позиция (Short)</h3>
                    <p>
                        — сделка на продажу. На бирже короткая позиция
                        обозначает продажу актива,
                        которого нет в
                        наличии у продавца, с целью купить его по более выгодной цене в случае изменения ситуации на
                        рынке.
                        Например, вы
                        открываете короткую позицию на покупку нефти по цене $50 за баррель, а через неделю цена на
                        нефть
                        падает.
                        Соответственно, при закрытии сделки вы покупаете нефть дешевле, чем продавали, и получаете
                        прибыль.
                    </p>

                    <h3 class="orange">Котировка (Quote)</h3>
                    <p>
                        — цена инструмента в определенный момент времени.
                        Обозначает, за какую цену
                        продавец готов продать
                        актив. На бирже эти цены меняются достаточно быстро. Котировки образуются на основе нескольких
                        факторов, таких как
                        процентные ставки, инфляция, политические события и другие. Валютная котировка выражена в
                        стоимости
                        одной валюты через
                        единицу другой.
                    </p>

                    <h3 class="orange">Кредитное плечо (Leverage) </h3>
                    <p>
                        — денежная сумма, которую брокер готов
                        предоставить трейдеру для
                        совершения операций на
                        финансовых рынках с большим объемом сделок. Используя кредитное плечо, трейдер увеличивает свой
                        депозит в несколько раз.
                        Выражается в соотношении между залоговой суммой и объемом торгов: 1:10, 1:100, 1:500 и т.д. При
                        использовании кредитного
                        плеча в качестве залога выступают собственные средства трейдера.
                    </p>

                    <h3 class="orange">Кросс-курс (Cross rates)</h3>
                    <p>
                        — соотношение двух валют, рассчитываемое исходя из
                        курса каждой из них по
                        отношению к третьей
                        валюте. Пример: Банк Англии продает или покупает евро за иены. Чтобы рассчитать кросс-курс пары
                        EUR/JPY, банк будет
                        использовать котировки долларовых пар с обеими валютами — EUR/USD и USD/JPY.
                    </p>
                    <p>
                        Таким образом,
                        котировки Ask и Bid
                        кросс-курса EUR/JPY будут рассчитаны по следующим формулам: Bid EUR/JPY = Bid EUR/USD × Bid
                        USD/JPY;
                        Ask EUR/JPY = Ask
                        EUR/USD × Ask USD/JPY.
                    </p>

                    <h3 class="orange">Локированные позиции (Locked Positions)</h3>
                    <p>
                        — позиции одинакового объема,
                        открытые на одном счете по
                        одному и тому же
                        инструменту в разных направлениях (на покупку и продажу). Например, трейдер открывает сделку на
                        продажу EUR/USD объемом
                        1 лот. Через некоторое время цена начинает идти против ожиданий трейдера, и трейдер решает
                        открыть
                        противоположную
                        сделку — позицию на покупку — с тем же объемом и по тому же торговому инструменту. В результате
                        убытки по первой
                        открытой позиции фиксируются.
                    </p>

                    <h3 class="oran">Маржа (Margin)</h3>
                    <p>
                        — денежные средства, резервируемые дилером в качестве
                        обеспечения для поддержания
                        открытых позиций.
                    </p>

                    <h3 class="orange">Маржа для локированных позиций (Hedged Margin)</h3>
                    <p>
                        — маржа для локированных
                        позиций — это денежные
                        средства, которые
                        необходимы для открытия и последующего поддержания сделок такого типа (то есть открытых в разных
                        направлениях). Размер
                        маржи для локированной позиции можно найти в спецификации контракта конкретного инструмента на
                        нашем
                        сайте.
                    </p>

                    <h3 class="orange">Маржинальная торговля (Marginal Trading)</h3>
                    <p>
                        — использование для осуществления
                        сделок кредитного плеча,
                        благодаря чему
                        клиенты получают возможность совершать торговые операции с суммами, существенно превышающими
                        количество средств на
                        торговом счете.
                    </p>

                    <h3 class="orange">Маржинальный счет (Margin Account)</h3>
                    <p>
                        — любой торговый счет с возможностью
                        использовать в торговле
                        кредитное плечо, который
                        клиент может открыть в компании брокера.
                    </p>

                    <h3 class="orange">Маркет-мейкер (Market Maker)</h3>
                    <p>
                        — участники внебиржевого рынка, непосредственно
                        определяющие
                        ликвидность этого рынка и
                        поддерживающие ее. Выступают в качестве как продавцов, так и покупателей.
                    </p>

                    <h3 class="orange">Международный валютный рынок FOREX (Foreign Exchange)</h3>
                    <p>
                        — крупнейший и
                        наиболее ликвидный в мире
                        глобальный финансовый
                        рынок. Товаром на этом рынке выступают национальные валюты. Цены на валюты определяются только
                        уровнем спроса и
                        предложения и формируются на основе соглашения между участниками торговли.
                    </p>

                    <h3 class="orange">Овернайт (Overnight)</h3>
                    <p>
                        — операция на один рабочий день или, в случае сделок,
                        заключенных в пятницу, —
                        на срок от пятницы
                        до понедельника включительно. То есть, по сути, это переход позиции на следующий рабочий день
                        «через
                        ночь». В банковской
                        сфере «овернайт» может также означать однодневный кредит, который один банк дает другому.
                    </p>

                    <h3 class="orange">Опцион (Option)</h3>
                    <p>
                        — контракт, заключенный двумя инвесторами, по условиям
                        которого один из участников
                        сделки приобретает в
                        течение оговоренного времени по заранее определенной цене базовый актив или продает его. Другой
                        инвестор покупает на
                        указанных условиях или продает предмет договора. Другими словами, опцион может быть договором
                        как на
                        покупку, так и на
                        продажу какого-либо торгового инструмента.
                    </p>

                    <h3 class="orange">Ордер (Order)</h3>
                    <p>
                        — на валютном рынке FOREX «ордер» означает отложенное
                        распоряжение, которое оставляет
                        клиент или компания,
                        выступающая от его лица, в торговой платформе. Когда цена достигнет уровня, указанного в
                        распоряжении-ордере, сделка
                        автоматически откроется или закроется.
                    </p>

                    <h3 class="orange">Открытая позиция (Open Position)</h3>
                    <p>
                        — действующий контракт клиента на покупку
                        или продажу финансового
                        инструмента; является
                        результатом первой части полной транзакции и обязательством клиента впоследствии совершить
                        противоположную транзакцию
                        (закрытие позиции) в том же объеме. Также является обязательством клиента выполнять маржинальные
                        требования и
                        поддерживать стоимость активов на счете (средства) на уровне, превышающем установленный минимум
                        (например, 30% от
                        зарезервированной маржи).
                    </p>

                    <h3 class="orange">Отложенный ордер (Pending Order)</h3>
                    <p>
                        — заявка, которую трейдер оставляет
                        брокеру, сигнализирующая, при
                        каком уровне цены
                        необходимо открыть или закрыть позицию. Опытные трейдеры не советуют торговать на валютных
                        рынках
                        без использования
                        отложенных ордеров, так как именно они позволяют избежать больших убытков.
                    </p>

                    <h3 class="orange">Предложение (Ask)</h3>
                    <p>
                        — цена, которую брокер предлагает трейдеру для покупки
                        определенного финансового
                        инструмента. В
                        широком понятии — это та цена, за которую продавец готов расстаться со своим товаром. В валютной
                        котировке эта цена
                        указывается справа. Цена предложения всегда выше цены спроса.
                    </p>

                    <h3 class="orange">Прибыль (Profit)</h3>
                    <p>
                        — положительный финансовый результат торговой или
                        спекулятивной операции,
                        инвестирования средств,
                        превышающий сумму первоначальных вложений.
                    </p>

                    <h3 class="orange">Пункт (Point, Pips)</h3>
                    <p>
                        — минимальное изменение стоимости финансового
                        инструмента. Пипсом (pips) также
                        называется
                        предпоследний знак в котировке валютной пары.
                    </p>

                    <h3 class="orange">Размер лота (Lot Size)</h3>
                    <p>
                        — количество единиц базовой валюты, акций, базовых
                        активов или других единиц,
                        определенных в
                        спецификациях инструментов в качестве размера одного лота.
                    </p>

                    <h3 class="orange">Расчет (Clearing)</h3>
                    <p>
                        — один из видов встречной торговли, подразумевающий
                        безналичный расчет за сделки
                        по ценным бумагам,
                        осуществляющийся на основе взаимных финансовых требований и обязательств.
                    </p>

                    <h3 class="orange">Расчетная (клиринговая) палата (Clearing House)</h3>
                    <p>
                        — отдельное подразделение
                        биржи, которое занимается
                        урегулированием
                        операций клиентов. Например, клиринговая палата производит регистрацию всех сделок клиентов,
                        осуществляет клиринг. Также
                        в обязанности этого подразделения входит проведение платежей по результатам клиринга.
                    </p>

                    <h3 class="orange">Репо (Repo)</h3>
                    <p>
                        — договор продажи активов, включающий обязательство их
                        последующего выкупа по заранее
                        определенной цене.
                    </p>

                    <h3 class="orange">Ролловер (Rollover) </h3>
                    <p>
                        — ситуация, когда продлевается срок экспирации контракта
                        на финансовом рынке.
                    </p>

                    <h3 class="orange">Рыночный ордер (Market Order)</h3>
                    <p>
                        — фактически указание от трейдера к брокеру,
                        сообщающее о
                        необходимости закрыть или
                        открыть позиции на рынке FOREX, конкретного вида валюты с определенным объемом по представленной
                        в
                        этот промежуток
                        времени цене на рынке. Существует два типа рыночного ордера: ордер на покупку (buy) и ордер на
                        продажу (sell). Рыночный
                        ордер обрабатывается с невероятной скоростью, либо не обрабатывается вообще.
                    </p>
                    <p>
                        В этом случае
                        происходит реквот, то есть
                        отказ в обработке по запрошенной цене.
                    </p>

                    <h3 class="orange">Рыночный приказ (Market Order)</h3>
                    <p>
                        — приказ о немедленной покупке или продаже
                        финансового актива по
                        рыночной цене, который
                        брокер получает от клиента.
                    </p>

                    <h3 class="orange">Свечной график (Candlestick Charts)</h3>
                    <p>
                        — самый популярный график. Тело свечи
                        обозначает цены открытия и
                        закрытия, а хвосты
                        — минимум и максимум цены.
                    </p>

                    <h3 class="orange">Свободная маржа (Free Margin)</h3>
                    <p>
                        — находящиеся на торговом счете свободные
                        денежные средства, которые
                        не использовались в
                        качестве залога в сделках на финансовом рынке. Могут быть задействованы для проведения любых
                        операций, в том числе для
                        вывода или открытия новых сделок. Формула расчета: Free Margin = Equity — Margin.
                    </p>

                    <h3 class="orange">Своп (Swap)</h3>
                    <p>
                        — представляет собой разницу процентных ставок по кредитам в
                        валютах, участвующих в
                        сделке. Зачисляется
                        (если положительный) на торговый счет или списывается с него (если отрицательный), когда
                        открытая
                        торговая позиция
                        переносится через ночь.
                    </p>

                    <h3 class="orange">Сделка (Transaction)</h3>
                    <p>
                        — любая операция с финансовым активом (валютные пары,
                        акции и т. д.) в рамках
                        работы на финансовом
                        или валютном рынке. Например, покупка или продажа акций.
                    </p>

                    <h3 class="orange">Спот-торговля (Spot trade)</h3>
                    <p>
                        — сделки по покупке и продаже каких-либо
                        финансовых активов, которые
                        предполагают поставку
                        инструмента через один банковский день, называются спот-торговлей. Имеется в виду, что участники
                        торговой операции
                        заранее определяют цену и дату, то есть своеобразные точки (спот), по которым будет проведена
                        сделка.
                    </p>
                    <h3 class="orange">Спред (Spread)</h3>
                    <p>Одно из основополагающих понятий на валютном рынке, без знания которого сложно представить себе
                        работу трейдера.
                        Обозначает разницу между текущими ценами покупки и продажи финансового инструмента и является
                        основным источником
                        дохода для брокеров, которые забирают небольшую часть спреда в качестве своеобразной комиссии за
                        предоставление
                        услуг.</p>

                    <h3 class="orange">Спрос (Bid)</h3>
                    <p>Это цена, по которой трейдер может продать финансовый инструмент. В котировках валют цена спроса
                        пишется слева, она
                        будет всегда ниже цены предложения. По цене Bid исполняются рыночные ордера, закрываются
                        позиции, отложенные ордера,
                        а также приказы Stop Loss и Take Profit.</p>

                    <h3 class="orange">Стоп-аут (Stop Out)</h3>
                    <p>Это сигнал на принудительное закрытие позиции, который подается сервером в случае, если у клиента
                        обнаруживается
                        нехватка средств на счете для поддержания открытой сделки. Размер стоп-аута каждый брокер
                        устанавливает
                        индивидуально. Как правило, убыточные позиции трейдера закрываются по текущей цене рынка. Если
                        трейдер ушел в минус
                        по нескольким позициям, то принудительное закрытие начинается с самой убыточной из них.</p>

                    <h3 class="orange">Стоп-лосс (Stop Loss)</h3>
                    <p>Это ордер, который позволяет зафиксировать сделку, когда выбранный трейдером инструмент достигнет
                        определенной цены.
                        Параметры стоп-лосс можно установить до или после открытия позиции. Стоп-лосс позволяет трейдеру
                        избежать
                        дополнительных убытков, автоматически закрывая позицию. Обязательное условие — в случае
                        установки ордера стоп-лосс,
                        цена финансового инструмента должна быть не меньше текущей цены на рынке при сделке на продажу и
                        не больше при
                        сделке на покупку.</p>


                    <h3 class="orange">Технический аналитик (Technical Analyst)</h3>
                    <p>Специалист, который исследует рынок с помощью инструментов технического анализа и строит свой
                        прогноз на основе
                        результатов технического анализа. Основным инструментом технических аналитиков является ценовой
                        график, поэтому
                        второе название специалистов данного профиля — чартисты (chartists).</p>

                    <h3 class="orange">Технический анализ (Technical Analysis)</h3>
                    <p>Совокупность графическо-математических методов оценки текущего состояния и динамики цены
                        биржевого актива с целью
                        прогнозирования ее изменения в будущем. Технический анализ широко используется трейдерами
                        фондовой биржи и рынка
                        FOREX.</p>

                    <h3 class="orange">Тик (Tick)</h3>
                    <p>Отправляемая информационной системой единичная котировка финансового актива (валюты, акции и т.
                        п.). Иными словами, в
                        торговой платформе тик — это любое единичное изменение или движение котировки в ту или другую
                        сторону. Может
                        меняться на один пункт и более.</p>

                    <h3 class="orange">Тикер (Ticker)</h3>
                    <p>Определяемый в торговой платформе для каждой операции уникальный номер, позволяющий
                        идентифицировать любой отложенный
                        ордер или открытую торговую позицию. Значение тикера для каждой совершенной операции можно
                        посмотреть в истории
                        сделок.</p>


                    <h3 class="orange">Торговая сессия (Trading Session)</h3>
                    <p>Время проведения биржевых торгов на определенной бирже или биржевых площадках одного региона. Для
                        любой биржи мира
                        существуют установленные часы работы — это период основной торговой сессии, в течение которого
                        проводятся
                        официальные торги.</p>

                    <h3 class="orange">Торговый коридор (Trading Range)</h3>
                    <p>Некоторое изменение курса валют на рынке в рамках одного диапазона. Уровень поддержки образует
                        нижнюю границу
                        диапазона, уровень сопротивления, соответственно, верхнюю границу. Подобная ситуация, когда цена
                        передвигается и
                        меняется между двумя границами, называется торговым коридором. Другими словами, это означает
                        движение в коридоре на
                        некотором временном отрезке.</p>

                    <h3 class="orange">Торговля внутри дня (Day Trading)</h3>
                    <p>Торговля на финансовом рынке в рамках одной торговой сессии в течение дня. Это означает, что
                        открытые в этот день
                        торговые позиции не переносятся через ночь на следующий день и на следующую торговую сессию.</p>

                    <h3 class="orange">Трейдер (Trader)</h3>
                    <p>Участник биржевых и внебиржевых торгов, совершающий торговые операции с целью извлечения прибыли
                        от изменения
                        стоимости активов.</p>
                    <p>
                        Трейдеры фондовой биржи оперируют <span class="orange">биржевыми активами</span> — акциями,
                        облигациями,
                        фьючерсами. Трейдеры
                        также могут совершать внебиржевые операции на валютном рынке (FOREX), где инструментом торговли
                        являются валюты и
                        CFD (контракты на разницу) на биржевые активы — акции, фьючерсы, индексы.
                    </p>
                    <p>
                        Частные трейдеры
                        совершают торговые
                        операции онлайн, используя интернет технологии. Для этого биржи предоставляют специальные
                        <span class="orange">торговые платформы</span> —
                        программы, которые дают доступ к биржевым котировкам, графическим инструментам, формам подачи
                        заявок на покупку и
                        продажу активов и многим другим функциям.
                    </p>



                    <p>Трейдеры могут иметь разную специализацию в зависимости от <span class="orange">вида
                            торговли:</span></p>
                    <ul>
                        <li> <span class="orange">Дейтрейдер (Day Trader)</span>— трейдер, который осуществляет операции
                            внутри одной торговой
                            сессии.</li>
                        <li><span class="orange">Скальпер (Scalper) </span>— торгует на самых малых торговых интервалах
                            (до нескольких минут).</li>
                        <li><span class="orange">Долгосрочный трейдер (Long-term Trader)</span> — открывает сделку на
                            длительный срок — от
                            нескольких
                            месяцев до нескольких лет.</li>
                        <li><span class="orange">Среднесрочный трейдер (Medium-term Trader)</span> — открывает сделки на
                            срок от нескольких недель
                            до
                            нескольких месяцев.</li>
                    </ul>







                    <h3 class="orange">Тренд (Trend)</h3>
                    <p>Направленное ценовое движение. Тренд отражает развитие тенденции для рынков или инструментов, т.
                        е. тенденцию
                        котировок к росту или падению. Различают растущий (повышательный или бычий) тренд, понижающийся
                        (понижательный или
                        медвежий) тренд, а также боковой тренд.</p>

                    <p>
                        Для <span class="orange">бычьего тренда</span> характерно обновление максимумов при
                        повышающихся
                        минимумах.
                    </p>

                    <p>При <span class="orange">медвежьем тренде</span> обновляются минимумы при снижающихся максимумах.
                    </p>

                    <p>
                        <span class="orange">Боковой тренд
                            (флэт)</span> — движение в
                        боковом коридоре цен между максимальными и минимальными значениями котировок.
                    </p>

                    <h3 class="orange">Тэйк профит (Take Profit)</h3>
                    <p>Это торговый приказ, который позволяет зафиксировать прибыль, когда цена достигает определенного
                        уровня. Такой ордер
                        помогает снизить риски для трейдера. Если трейдер устанавливает ордер тэйк профит для выбранного
                        торгового
                        инструмента, то после того как цена достигнет установленного уровня, сделка закроется
                        автоматически. В открытой
                        сделке тэйк профит может быть установлен в любое время.</p>

                    <h3 class="orange">Усреднять (Average)</h3>
                    <p>Ситуация, когда акции одного эмитента последовательно покупаются или продаются по мере того, как
                        их курс снижается
                        или повышается. При этом удерживается средняя цена, по которой покупались или продавались акции.
                    </p>

                    <h3 class="orange">Фондовый рынок (Stock Market)</h3>
                    <p>Это составляющая часть финансового рынка, институт рыночной экономики, основной функцией которого
                        является
                        перераспределение капиталов и инвестиционных ресурсов посредством отношений, возникающих при
                        эмиссии и обращении
                        ценных бумаг — акций, паев инвестиционных фондов, корпоративных облигаций.</p>


                    <h3 class="orange">Фундаментальный аналитик (Fundamental Analyst)</h3>
                    <p>Это эксперт, который проводит комплексную оценку показателей хозяйственной деятельности
                        предприятий,
                        макроэкономических данных, рыночной конъюнктуры с целью выявления наиболее перспективных
                        объектов для
                        инвестирования.</p>

                    <h3 class="orange">Фундаментальный анализ (Fundamental Analysis)</h3>
                    <p>Это совокупность методов оценки показателей деятельности компаний, влияния различных факторов,
                        как внутренних, так и
                        внешних, а также потенциальных рисков с целью определения инвестиционной привлекательности.
                        Проведение качественного
                        фундаментального анализа является необходимым условием для принятия взвешенного инвестиционного
                        решения.</p>

                    <h3 class="orange">Фьючерс (Futures Contract)</h3>
                    <p>Контракт, предметом которого является финансовый актив или товар, и по условиям которого поставка
                        осуществляется в
                        конкретную дату в будущем. Для фьючерсов характерны строгие условия по виду и количеству товара,
                        допускающие лишь
                        минимальные отклонения. Также по контракту действуют определенные условия оплаты накладных или
                        транспортных
                        расходов.</p>

                    <h3 class="orange">Хедж (Hedge)</h3>
                    <p>Ограничивать, огораживать, уклоняться. Действия, направленные на ограничение/уменьшение рисков, в
                        том числе рисков,
                        связанных с движениями цены. Хеджем также называется страхование рисков. Например, когда для
                        страхования риска
                        убытков по короткой позиции по одному инструменту открывается длинная позиция по производной
                        этого инструмента.</p>


                    <h3 class="orange">Хеджирование (Hedging)</h3>
                    <p>Это операции страхования рисков, возникающих при заключении сделок на финансовых рынках.
                        Хеджирование может
                        осуществляться разными способами и инструментами. Наиболее распространенными инструментами
                        являются срочные
                        контракты — фьючерсы и опционы или заключение противоположных сделок на коррелирующихся рынках.
                    </p>

                    <h3 class="orange">Цена (Price)</h3>
                    <p>1) двусторонняя котировка по финансовому инструменту; состоит из цен Bid и Ask; 2) цена открытия
                        или закрытия
                        позиции; 3) уровень ордера.</p>

                    <h3 class="orange">Ценные бумаги (Securities)</h3>
                    <p>Документы, подтверждающие имущественное право или факт выдачи займа обладателем такой бумаги
                        лицу, ее выпустившему. К
                        ценным бумагам относятся, например, следующие: вексель, облигация, акция, опцион, фьючерс,
                        варрант, сертификат.</p>

                    <h3 class="orange">Частичное закрытие (Split Close)</h3>
                    <p>Закрытие позиции в неполном объеме; например, 0.5 лота из 2.0.</p>

                    <h3 class="orange">Эмитент (Issuer)</h3>
                    <p>Это участник финансового рынка, который выпускает в обращение ценные бумаги (акции, облигации) с
                        целью привлечения
                        дополнительных инвестиций в бизнес или финансирования деятельности. Эмитент осуществляет эмиссию
                        от своего имени и в
                        установленном законом порядке.</p>

                    <h3 class="orange">Эквити или Средства (Equity)</h3>
                    <p>Состояние средств на счете в текущий момент. Средства включают в себя как прибыль, так и убытки
                        по позициям, открытым
                        на момент расчета данного показателя. Для определения используется следующая формула: Средства =
                        Баланс + Кредит +
                        Плавающая прибыль — Плавающий убыток.</p>


                    <h3 class="orange">Экономический календарь (Economic Calendar)</h3>
                    <p>Это своего рода сводка всех новостей по всем странам с указанием времени их выхода и прогноза.
                        Прежде всего, следует
                        иметь в виду, какая новость и когда будет официально опубликована. Важно учитывать разницу в
                        часовых поясах.</p>



                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>