<section class="programm" id="course-trading">
    <div class="container">
        <div class="section-i">
            <h2>Программа обучения</h2>
            <div class="programm-decor" style="margin: -10px 0 -40px;">
                <picture class="image">
                    <source srcset="/assets/img/content/icon-course-01_big.png" media="(min-width: 900px)">
                    <img src="/assets/img/content/icon-course-01.png" alt="diagram">
                </picture>
            </div>

            <div class="programm__list">
                <div class="programm__item">
                    <a href="#" class="programm__link js-open-modal"></a>
                    <div class="programm__in">
                        <span class="programm__close"></span>
                        <div class="programm__title orange">
                            Знакомство с биржей
                        </div>
                        <ol class="programm__content">
                            <li>Биржа: структура и принцип работы</li>
                            <li>Роль биржи в финансовом секторе экономики</li>
                            <li>
                                Основные участники финансового рынка – банки, фонды и прочее</li>
                            <li>
                                Виды активов</li>
                        </ol>

                    </div>
                </div>
                <div class="programm__item">
                    <a href="#" class="programm__link js-open-modal"></a>
                    <div class="programm__in">
                        <span class="programm__close"></span>
                        <div class="programm__title orange">
                            Анализ рынка
                        </div>
                        <ol class="programm__content">
                            <li>Типы анализа рынка
                            </li>
                            <li>Технический анализ. Бонус – торговая система «Работа от уровней»</li>
                            <li>
                                Фундаментальный анализ</li>
                        </ol>

                    </div>
                </div>
                <div class="programm__item">
                    <a href="#" class="programm__link js-open-modal"></a>
                    <div class="programm__in">
                        <span class="programm__close"></span>
                        <div class="programm__title orange">
                            Объемный анализ рынка
                        </div>
                        <ol class="programm__content">
                            <li>Рыночный профиль
                            </li>
                            <li>Чтение ленты и стакан цен, микроструктура рынка</li>
                            <li>
                                Практика на реальных торговых счетах</li>
                        </ol>

                    </div>
                </div>
                <div class="programm__item">
                    <a href="#" class="programm__link js-open-modal"></a>
                    <div class="programm__in">
                        <span class="programm__close"></span>
                        <div class="programm__title orange">
                            "Торговая система и психология рынка" (основана на методологии Вайкоффа)
                        </div>
                        <ol class="programm__content">
                            <li>Манименеджмент
                            </li>
                            <li>Сложный процент</li>
                            <li>
                                Риск менеджмента</li>
                            <li>
                                Поведенческие факторы на рынке (манипуляции ценой как триггер к действию)</li>
                            <li>
                                Зона спроса толпы (дистрибуции актива крупным капиталом)</li>
                            <li>
                                Зона распродажи «толпы» (накопление актива крупным капиталом)</li>
                        </ol>

                    </div>
                </div>

            </div>
            <p>Результат – вы получите торговую систему, основанную на чтении объемов, а также вы узнаете, как
                функционируют рынки и
                получите практический навык открытия сделок
                под руководством практикующего трейдера, наставника курса.</p>
            <div class="button-place">


                <button (click)="navigateToHomeWithId()" class="button js-scroll"><span
                        style="margin-right:15px ;">Быстрый
                        старт</span> </button>

            </div>
        </div>
    </div>
</section>

<section class="separator">
    <div class="container">
        <div class="line"></div>
    </div>
</section>
<section class="programm decor-right" id="support">
    <div class="container">
        <div class="section-i padd">
            <h2>Сопровождение в торговле от Арапова Игоря</h2>
            <div class="programm-decor" style="margin: -30px 0 -10px;">
                <picture class="image">
                    <source srcset="/assets/img/content/icon-course-04_big.png" media="(min-width: 900px)">
                    <img src="/assets/img/content/icon-course-04.png" alt="diagram">
                </picture>
            </div>

            <ol>
                <li>Общий анализ рынка</li>
                <li>Поиск сделок по графику</li>
                <li>Сопровождение в торговле</li>
                <li>Создание индивидуальной торговой системы под клиента</li>
                <li>Практика на реальных торговых счетах</li>
            </ol>


        </div>
    </div>
</section>
<section class="separator">
    <div class="container">
        <div class="line"></div>
    </div>
</section>
<section class="programm decor-right" id="tradeResult">
    <div class="container">
        <div class="section-i ">
            <h2>Результаты торговли</h2>
            <div class="programm-decor" style="margin: -30px 0 -10px;">
                <picture class="image">
                    <source srcset="/assets/img/content/icon-course-02_big.png" media="(min-width: 900px)">
                    <img src="/assets/img/content/icon-course-02.png" alt="Навчання трейдингу">
                </picture>
            </div>

            <img src="/assets/img/screens/55.jpg" alt="graph" class="screen__img_graf">

            <div class="button-place">
                <a href="https://telegram.me/Arapov_Trade" target="_blank" class="button"><span
                        style="margin-right:15px ;">Детальная статистика</span> </a>


            </div>
        </div>
    </div>
</section>

<section class="separator">
    <div class="container">
        <div class="line"></div>
    </div>
</section>
<section class="reviews" id="course-system">
    <div class="container">
        <div class="section-i">
            <h2>
                ArapovTradeChat – сопровождение в торговле
            </h2>
            <div class="screen__list one ">
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">1</span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">


                                        <img src="/assets/img/screens/1.jpg" alt="graph" class="screen__img">
                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">2</span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">


                                        <img src="/assets/img/screens/2.jpg" alt="graph" class="screen__img">

                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">3 </span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/3.jpg" alt="graph" class="screen__img">


                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">4 </span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/4.jpg" alt="graph" class="screen__img">


                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">5 </span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/5.jpg" alt="graph" class="screen__img">


                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">6 </span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/6.jpg" alt="graph" class="screen__img">


                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">7 </span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/7.jpg" alt="graph" class="screen__img">

                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>

                </mat-tab-group>







            </div>
            <div class="screen__list two ">
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">1</span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">

                                        <img src="/assets/img/screens/1.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/2.jpg" alt="graph" class="screen__img">
                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">2</span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">

                                        <img src="/assets/img/screens/3.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/4.jpg" alt="graph" class="screen__img">

                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">3 </span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/5.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/6.jpg" alt="graph" class="screen__img">

                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>





                </mat-tab-group>







            </div>
            <div class="screen__list three ">
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">1</span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/3.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/1.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/2.jpg" alt="graph" class="screen__img">
                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">2</span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">

                                        <img src="/assets/img/screens/6.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/4.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/5.jpg" alt="graph" class="screen__img">
                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>






                </mat-tab-group>







            </div>
        </div>

    </div>
</section>






<section class="separator">
    <div class="container">
        <div class="line"></div>
    </div>
    <section class="speaker" id="course-price">
        <div class="container">

            <div class="section-i">
                <h2>Тарифы</h2>
                <div class="price__block hide2  speaker__wrap">
                    <div class="speaker-i">
                        <div class="speaker__info">
                            <table>
                                <thead class="">
                                    <tr>
                                        <th class="speaker__title">Консультация</th>
                                        <th class="speaker__title">Групповое обучение</th>
                                        <th class="speaker__title">Индивидуальное обучение</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table__cell">
                                        <td class="table__align">
                                            <ul class="styled-list">
                                                <li>
                                                    Анализ вашей торговой системы и рекомендации по улучшению
                                                </li>
                                                <li>
                                                    Разбор торговой ситуации на вашем счету и рекомендации по
                                                    выхода из "просадок"
                                                </li>
                                                <li>Пробное занятие по теории трейдинга</li>
                                            </ul>
                                        </td>
                                        <td class="table__align middle_cell">
                                            <ul class="styled-list">
                                                <li>
                                                    Торговая система в записи
                                                </li>
                                                <li>Методические материалы от автора курса (теория + практика)</li>
                                                <li>Возможность задавать вопросы в процессе обучения</li>
                                                <li>Практика + домашние задания</li>

                                            </ul>
                                        </td>
                                        <td class="table__align ">
                                            <ul class="styled-list">
                                                <li>
                                                    Торговая система в записи
                                                </li>
                                                <li>Методические материалы от автора курса (теория + практика)</li>
                                                <li>Возможность задавать вопросы в процессе обучения</li>
                                                <li>Практика + домашние задания</li>
                                                <li>Уникальная система обучения</li>
                                                <li>Углубленное изучение механики рынка</li>
                                                <li>Торговая система</li>
                                                <li>Составление индивидуального плана развития счета</li>

                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table_cell__pass">

                                            <!-- <p class="contact-block_text">Доступ до чату (торгові рекомендації в
                                                    реал-тайм)
                                                    на 1
                                                    місяць</p>-->

                                        </td>
                                        <td class="table_cell__pass">

                                            <p class="contact-block_text">Доступ к чату (торговые рекомендации в
                                                реал-тайм)
                                                на 3
                                                месяца</p>

                                        </td>
                                        <td class="table_cell__pass">

                                            <p class="contact-block_text">Доступ к чату (торговые рекомендации в
                                                реал-тайм)
                                                на 12
                                                месяцев</p>

                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>
                                            <h3>50$</h3>
                                        </td>
                                        <td>
                                            <h3>500$</h3>
                                        </td>
                                        <td>
                                            <h3>1500$</h3>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>

                    </div>

                </div>


                <div class="price__block hide1">
                    <div class="speaker__wrap">
                        <div class="speaker-i">

                            <div class="speaker__info">
                                <div class="speaker__title">
                                    Консультация
                                </div>
                                <div>
                                    <ul class="styled-list">
                                        <li>
                                            Анализ вашей торговой системы и рекомендации по улучшению
                                        </li>
                                        <li>
                                            Разбор торговой ситуации на вашем счету и рекомендации по
                                            выхода из "просадок"
                                        </li>
                                        <li>Пробное занятие по теории трейдинга</li>
                                    </ul>
                                </div>

                                <div>
                                    <section class="separator">
                                        <div class="line"></div>
                                    </section>

                                    <!-- <p class="contact-block_text">Доступ до чату (торгові рекомендації в реал-тайм)
                                            на 1
                                            місяць</p>-->

                                    <section class="separator">
                                        <div class="line"></div>
                                    </section>
                                    <h3>50$</h3>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="speaker__wrap">
                        <div class="speaker-i">

                            <div class="speaker__info">
                                <div class="speaker__title">
                                    Групповое обучение
                                </div>
                                <ul class="styled-list">
                                    <li>
                                        Торговая система в записи
                                    </li>
                                    <li>Методические материалы от автора курса (теория + практика)</li>
                                    <li>Возможность задавать вопросы в процессе обучения</li>
                                    <li>Практика + домашние задания</li>

                                </ul>
                                <section class="separator">
                                    <div class="line"></div>
                                </section>

                                <p class="contact-block_text">Доступ к чату (торговые рекомендации в реал-тайм) на 3
                                    месяца</p>

                                <section class="separator">
                                    <div class="line"></div>
                                </section>
                                <h3>500$</h3>
                            </div>
                        </div>
                    </div>

                    <div class="speaker__wrap ">
                        <div class="speaker-i">

                            <div class="speaker__info">
                                <div class="speaker__title">
                                    Индивидуальное обучение
                                </div>
                                <ul class="styled-list">
                                    <li>
                                        Торговая система в записи
                                    </li>
                                    <li>Методические материалы от автора курса (теория+практика)</li>
                                    <li>Возможность задавать вопросы в процессе обучения</li>
                                    <li>Практика + домашние задания</li>
                                    <li>Уникальная система обучения</li>
                                    <li>Углубленное изучение механики рынка</li>
                                    <li>Торговая система</li>
                                    <li>Составление индивидуального плана развития счета</li>

                                </ul>
                                <section class="separator">
                                    <div class="line"></div>
                                </section>

                                <p class="contact-block_text">Доступ к чату (торговые рекомендации в реал-тайм)
                                    12
                                    месяцев</p>

                                <section class="separator">
                                    <div class="line"></div>
                                </section>
                                <h3>1500$</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="studyingDownButton">
                    <div class="button-place">
                        <button (click)="navigateToHomeWithId()" class="button js-scroll"><span
                                style="margin-right:15px ;">Быстрый старт</span> </button>


                    </div>
                </div>

            </div>
        </div>

    </section>