<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Дата валютування і перенесення
                            позиції</span>
                    </h1>

                    <p>Загальноприйнятими для роботи на ринку Forex і на умовах маржинальної торгівлі є розрахунки
                        (<span class="orange">Дата
                            валютування</span>) через
                        день після здійснення операції. Угода з датою розрахунків через день після здійснення операції
                        отримала назву <span class="orange">SPOT</span>
                        . На валютному ринку існують угоди <span class="orange"> TOD</span> (today - розрахунки
                        сьогодні), <span class="orange">TOM</span> (tomorrow -
                        розрахунки завтра) та
                        інші, однак при торгівлі на умовах маржі вони не використовуються. Таким чином, дата розрахунків
                        за угодою жорстко
                        закріплюється в момент її здійснення.</p>
                    <p>Часто буває так, що відкривши угоду сьогодні, ви не можете або не хочете закрити її з прибутком,
                        звідки виникає
                        необхідність перенести розрахунки за відкритою позицією на день далі. Ця операція називається
                        перенесенням відкритої
                        позиції, і посередники (банки) стягують за її виконання певну комісію — <span class="orange">
                            SWAP</span> . У реальних
                        умовах
                        міжбанківського ринку Forex розмір комісії за перенесення залежить від різниці по поточних
                        ставках при зберіганні
                        кожної з валют, що беруть участь в угоді. При цьому перенесення позиції може навіть приносити
                        прибуток.</p>
                    <p>При роботі на умовах маржинальної торгівлі трейдер вносить посереднику заставу, яка служить
                        забезпеченням для
                        розрахунків за угодами. При цьому банк, що надає послуги з торгівлі на ринку Forex, постійно
                        розраховує поточний
                        результат за відкритими клієнтом угодами, щоб виключити ситуацію, коли втрати клієнта перевищать
                        внесений депозит.
                        Таким чином, якщо втрати клієнта досягають певного рівня, банк або автоматично, примусово
                        закриває відкриті позиції,
                        або виставляє вимогу про додаткове внесення коштів на депозит.</p>
                    <p>Вимога про внесення коштів називається маржин-колл (<span class="orange"> margin-call</span>). У
                        різних банків-маркет-мейкерів
                        рівень залишку
                        рахунку, при якому настає маржин-колл або примусове закриття, коливається від 10 до 40 відсотків
                        від загальної суми
                        депозиту. Великий депозит при зваженій стратегії та обсягах угод дозволяє краще утримувати
                        тимчасово збиткові
                        позиції і дає запас міцності в разі тимчасових несприятливих коливань курсу.</p>




                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>