<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Трейдинг </span>
                    </h1>
                    <p class="pad" style="background-color:#222; "><span class="orange ">Трейдинг</span> – це процес
                        купівлі та
                        продажу фінансових інструментів, таких як акції, облігації,
                        валюти, товари та інші
                        активи з метою отримання прибутку. Трейдинг може здійснюватися різних фінансових ринках,
                        включаючи фондові, валютні і
                        товарні ринки.
                    </p>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>
<section class="" id="hero">
    <div class="container black">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content flex">
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="adviceforbeginners"><img class="article-img"
                                            src="/assets/img/content/TipsForStarters.webp" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="adviceforbeginners" class="orange">
                                        <h3>Поради трейдерам-початківцям</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div class="block-img">
                                    <a routerLink="marketbasics"><img class="article-img"
                                            src="/assets/img/content/osnovirinka44.jpg" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="marketbasics" class="orange">
                                        <h3>Основи ринку. Терміни
                                        </h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="exchange"><img class="article-img"
                                            src="/assets/img/content/znakomstvosbirgey44.jpg" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="exchange" class="orange">
                                        <h3>Знайомство з біржею</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="exchangemarket"><img class="article-img"
                                            src="/assets/img/content/exchangemarkets44.jpg" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="exchangemarket" class="orange">
                                        <h3>Біржовий та позабіржовий ринки</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="derivatives"><img class="article-img"
                                            src="/assets/img/content/derivativesNew4.png" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="derivatives" class="orange">
                                        <h3>Деривативи та їх види</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="exchangeparticipants"><img class="article-img"
                                            src="/assets/img/content/uchastnikiBirgi44.png" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="exchangeparticipants" class="orange">
                                        <h3>Основні учасники біржі</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="forexmarket"><img class="article-img"
                                            src="/assets/img/content/forexMarket44.png" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="forexmarket" class="orange">
                                        <h3>Ринок FOREX</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="currenciesandquotes"><img class="article-img"
                                            src="/assets/img/content/currencies44.jpg" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="currenciesandquotes" class="orange">
                                        <h3>Валюти та їх котирування</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="formationexchange"><img class="article-img"
                                            src="/assets/img/content/formationExchange44.png" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="formationexchange" class="orange">
                                        <h3>Формування курсу валют</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="currencyposition">
                                        <img class="article-img" src="/assets/img/content/currencyPosition44.png"
                                            alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="currencyposition" class="orange">
                                        <h3>Позиція: поняття, види і типи</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="forexvaluedate">
                                        <img class="article-img" src="/assets/img/content/forexValueDate44.png"
                                            alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="forexvaluedate" class="orange">
                                        <h3>Дата валютування</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="howtomakemoney">
                                        <img class="article-img" src="/assets/img/content/howToMakeMoney44.png"
                                            alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="howtomakemoney" class="orange">
                                        <h3>Як заробити на FOREX</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="riskcurrencyexchange">
                                        <img class="article-img" src="/assets/img/content/riskCurrencyExchange44.png"
                                            alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="riskcurrencyexchange" class="orange">
                                        <h3>Ризик зміни курсу</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="forexleveragerisk">
                                        <img class="article-img" src="/assets/img/content/forexLeverageRisk44.png"
                                            alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="forexleveragerisk" class="orange">
                                        <h3>Ризик кредитного плеча на FOREX</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="majorbankfrs">
                                        <img class="article-img" src="/assets/img/content/majorBankFrs44.png"
                                            alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="majorbankfrs" class="orange">
                                        <h3>Основні центральні банки</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="behavioralrisks">
                                        <img class="article-img" src="/assets/img/content/behavioralsRisks44.png"
                                            alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="behavioralrisks" class="orange">
                                        <h3>Поведенкові ризики</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="nonmarketrisks">
                                        <img class="article-img" src="/assets/img/content/nonmarketrisks44.png"
                                            alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="nonmarketrisks" class="orange">
                                        <h3>Неринкові ризики FOREX</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="psychorisks">
                                        <img class="article-img" src="/assets/img/content/psychorisks44.png" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="psychorisks" class="orange">
                                        <h3>Психологічні ризики FOREX</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="f19">
                                        <img class="article-img"
                                                                                    src="/assets/img/content/formationExchange44.png" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="f19" class="orange">
                                        <h3>19</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="f20">
                                        <img class="article-img"
                                                                                    src="/assets/img/content/formationExchange44.png" alt="tips">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="f20" class="orange">
                                        <h3>20</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> -->





                </div>

            </div>
        </div>
    </div>
</section>