<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Основи ринку
                        </span>
                    </h1>
                    <h2>
                        <span style="background-color:#222;" class="orange">
                            Короткий словник термінів </span>
                    </h2>
                    <p class="pad" style="background-color:#222;">У кожній професії є свій унікальний лексикон,
                        набір фраз і термінів, на яких спілкуються професіонали. Нижче
                        представлений список основних, на мій погляд, термінів, які потрібно знати перед тим, як
                        знайомитися з фінансовими
                        ринками. На перший погляд вони можуть здатися «нудними» і «складними у розумінні», але я вас
                        запевняю, що після
                        проходження мого навчального курсу для вас не буде проблемою спілкуватися професійною мовою
                        трейдерів.</p>

                    <h3 class="orange">Акціонер</h3>
                    <p>— це фізична або юридична особа, власник цінних паперів —
                        простих або привілейованих акцій, що вказують
                        на частку їх власника в капіталі емітента. Акціонери наділені правами майнового і
                        немайнового характеру.</p>

                    <h3 class="orange">Акція</h3> — це цінний папір, що свідчить про частку інвестора (акціонера) в
                    капіталі компанії. Акція
                    наділяє інвестора
                    рядом прав майнового і немайнового характеру:
                    <ul>
                        <li>отримувати дивіденди;</li>
                        <li>отримувати частку в активах пропорційно вкладу при ліквідації компанії;</li>
                        <li>брати участь в управлінні компанією шляхом голосування на зборах акціонерів.</li>
                    </ul>
                    <h3 class="orange">Американська фондова біржа (American Stock Exchange)</h3>

                    <p>
                        — світова фондова біржа, що виросла з невеликої компанії торговців акціями у другу за величиною
                        біржу США.
                    </p>

                    <p>
                        У свою чергу акції поділяються на привілейовані та звичайні. Основна відмінність привілейованих
                        акцій полягає в
                        тому,
                        що розмір дивідендів, виплачуваних за ними, визначений заздалегідь, тоді як розмір дивідендів
                        для власників
                        звичайних
                        акцій може варіюватися залежно від фінансових результатів діяльності компанії.
                    </p>

                    <h3 class="orange"> Аналіз </h3>
                    <p>
                        — це сукупність методів вивчення, дослідження об'єктів, явищ, процесів шляхом виявлення
                        закономірностей і
                        факторів, що впливають на результат, для визначення тенденцій. Результати аналізу
                        використовуються для
                        прогнозування. Трейдери використовують фундаментальний і технічний аналіз фінансових
                        інструментів — акцій,
                        індексів, ф'ючерсних контрактів, валютних пар — для прогнозування подальшого руху ціни активу з
                        метою отримання
                        прибутку.
                    </p>

                    <h3 class="orange">Арбітраж (Arbitrage)</h3>
                    <p>
                        — процедура одночасного придбання певного товару на ринку за найменшою ціною і
                        реалізації його на іншій торговій площадці за найвищою вартістю з метою отримання
                        доходу. Якщо розглядати
                        цей процес на FOREX, то арбітраж дозволяє трейдерам отримати прибуток за короткий строк за
                        рахунок
                        короткочасної різниці між курсами валют.
                    </p>

                    <h3 class="orange">Базова валюта (Base currency) на FOREX</h3>
                    <p>
                        — це валюта, що стоїть першою у валютній парі на FOREX. Всі
                        торгові угоди здійснюються за рахунок базової валюти (основна або торгована валюта), другою
                        валютою є
                        валюта котирування.
                    </p>
                    <p>
                        Підрахунок обсягу торгової угоди завжди здійснюється в базовій валюті, тоді як вартість
                        пункту — у валюті
                        котирування. Наприклад, у валютній парі USD/EUR, USD (долари США) — базова валюта, а EUR (євро)
                        —
                        валюта котирування.
                    </p>
                    <p>
                        Варто зазначити, що найчастіше базовою валютою у валютній парі виступають: американські долари,
                        євро, британські фунти,
                        австралійські та канадські долари.
                    </p>

                    <h3 class="orange">Бари (Bars)</h3>
                    <p>
                        — вертикальні лінії, що позначають мінімуми і максимуми ціни, з
                        горизонтальними лініями, які позначають
                        ціни відкриття і закриття.
                    </p>


                    <h3 class="orange">Брокер (Broker)</h3>
                    <p>
                        — за дорученням клієнта виконує функції посередника між
                        продавцем і покупцем
                        цінних паперів. Роботу
                        брокера також оплачує клієнт — найчастіше оплата здійснюється у формі комісії за різні
                        операції. Існує
                        також поняття біржового брокера — <span class="orange">Floor broker.</span>
                    </p>
                    <p>
                        Трейдери і інвестори не мають прямого доступу до
                        біржових торгів, а можуть
                        здійснювати біржові операції тільки за допомогою посередників, які мають акредитацію на
                        здійснення
                        брокерської
                        діяльності від регулюючих органів.
                    </p>

                    <h3 class="orange">Валютна пара (Currency Pair)</h3>
                    <p>
                        — інструмент торгівлі, заснований на зміні
                        вартості однієї валюти
                        щодо
                        іншої валюти.
                    </p>

                    <h3 class="orange">Волатильність (Volatility)</h3>
                    <p>
                        — діапазон коливання ціни фінансового
                        інструменту, який є одним з
                        найбільш значних
                        показників привабливості інструменту в торгівлі. Волатильність відображає ступінь ризику в
                        роботі
                        з тим чи іншим
                        інструментом: чим вищий цей показник, тим більший діапазон зміни курсу в певний
                        проміжок часу.
                    </p>

                    <h3 class="orange">Блакитна фішка (Blue chip)</h3>
                    <p>
                        — найбільш ліквідні акції найбільших
                        компаній, які
                        демонструють стабільні
                        показники доходності протягом тривалого періоду часу. Ці цінні папери багато в чому
                        є індикаторами
                        ринку, а рух цін на них задає ринковий тренд.
                    </p>

                    <h3 class="orange">Графік (Chart)</h3>
                    <p>
                        — графічне відображення часової послідовності цін у
                        вигляді ліній, барів або
                        японських свічок.
                    </p>

                    <h3 class="orange">Геп (Gap)</h3>
                    <p>
                        — значний розрив між двома послідовними значеннями
                        котирувань. При збігу з
                        останньою секундою
                        закриття свічки на тому чи іншому масштабі може бути відображений на графіку як порожній простір
                        між свічками або
                        барами. Геп між сесіями — ціновий розрив між першою котируванням поточної сесії і останньою
                        котируванням попередньої
                        сесії.
                    </p>

                    <h3 class="orange">Демо-рахунок (Demo Account)</h3>
                    <p>— навчальний рахунок.</p>


                    <h3 class="orange">Діапазон (Range)</h3>
                    <p>
                        — різниця між мінімальною (min) і максимальною (max)
                        цінами торгового інструменту
                        за певний
                        проміжок часу. Трейдери обирають таймфрейм (годину, день, тиждень і т.д.) та слідкують за
                        змінами
                        ціни в цей період.
                        Коридор, у якому рухалась ціна, а також мінімум і максимум цін і будуть вважатися діапазоном.
                    </p>

                    <h3 class="orange">Диверсифікація (Diversification)</h3>
                    <p>
                        Розподіл капіталу між різними за доходністю і ризиком активами з метою мінімізувати
                        ризики та знизити
                        фінансові втрати. Інвестор вкладає кошти в цінні папери різних емітентів, формуючи
                        інвестиційний портфель.
                        Якщо якісь акції виявляться збитковими, то інші, дохідні, допоможуть звести втрати до мінімуму,
                        таким чином
                        диверсифікуючи ризики.
                    </p>

                    <h3 class="orange">Довга позиція (Long)</h3>
                    <p>
                        Угода, відкрита для купівлі якого-небудь торгового інструменту (Buy).
                    </p>

                    <h3 class="orange">Доступна маржа/вільна маржа (Free Margin)</h3>
                    <p>
                        Кошти на рахунку за винятком маржі, а також поточний прибуток/збиток.
                    </p>

                    <h3 class="orange">Доходність (Yield)</h3>
                    <p>
                        Показник прибутковості та доцільності інвестицій. Одиницею вимірювання, як правило, виступає
                        відсоток прибутку,
                        отриманого за певний період.
                    </p>

                    <h3 class="orange">Інвестиції (Investments)</h3>
                    <p>
                        Вкладення коштів для отримання прибутку або збільшення активів компанії. Інвестиції приносять
                        дохід
                        тільки у випадку
                        вкладення в прибуткові проекти або акції, тому важливо прораховувати потенційні ризики. Зазвичай
                        інвестиції в більш
                        високо дохідні активи є і більш ризикованими.
                    </p>

                    <h3 class="orange">Інсайдер (Insider)</h3>
                    <p>
                        Людина, яка має важливу внутрішню інформацію, невідому звичайним учасникам торгів і
                        яка стосується фінансових
                        ринків, завдяки займаній посаді. Інсайдерами є топ-менеджери банків, великі
                        акціонери, члени ради
                        директорів — ті, хто має доступ до закритих новин на фінансових ринках і можуть
                        скористатися цією інформацією
                        у своїх цілях. Їхня діяльність регулюється законами про інсайд. Кожен учасник валютного ринку
                        може стежити за
                        діями інсайдерів і враховувати ці сигнали у своїй роботі. Але, за словами багатьох аналітиків,
                        рішення інсайдерів не
                        завжди можуть бути правильними.
                    </p>

                    <h3 class="orange">Інтервенція (валютна) (Currency Intervention)</h3>
                    <p>
                        Валютна інтервенція є одним з найважливіших валютних інструментів кожної держави.
                        Щоб вплинути
                        на курс національної грошової одиниці, Центральний банк проводить операцію купівлі-продажу
                        національної валюти або
                        золота проти головних світових валют. Для подібних втручань зазвичай використовуються офіційні
                        державні
                        валютні резерви. Завдяки валютним інтервенціям коригується валютний курс.
                    </p>

                    <h3 class="orange">Комісія з цінних паперів та бірж (Securities and Exchange Commission)</h3>
                    <p>
                        Основний регулятор американського ринку акцій, який встановлює правила реєстрації цінних
                        паперів та здійснює
                        нагляд за діяльністю фондових бірж. Створена у 1933 році, комісія мала відновити довіру
                        інвесторів
                        до фондового ринку, яке серйозно похитнулося у часи Великої депресії. Сьогодні Комісія
                        відповідає за
                        виконання законів про цінні папери та біржі.
                    </p>


                    <h3 class="orange">Контракт на різницю (CFD)</h3>
                    <p>Фінансовий інструмент, що дозволяє продавцю і покупцю без доставки базового активу здійснити
                        розрахунок, виплачуючи
                        один одному різницю між вартістю, зазначеною в контракті, і фактичною котируванням. Як
                        базовий актив
                        можуть виступати ф'ючерси, акції, дорогоцінні метали, фондові індекси та інші. Заробляти
                        можна як на падінні,
                        так і на зростанні ринку.</p>

                    <h3 class="orange">Коротка позиція (Short)</h3>
                    <p>
                        — угода на продаж. На біржі коротка позиція
                        означає продаж активу,
                        якого немає в
                        наявності у продавця, з метою купити його за вигіднішою ціною у разі зміни ситуації на
                        ринку.
                        Наприклад, ви
                        відкриваєте коротку позицію на купівлю нафти за ціною $50 за барель, а через тиждень ціна на
                        нафту
                        падає.
                        Відповідно, при закритті угоди ви купуєте нафту дешевше, ніж продавали, і отримуєте
                        прибуток.
                    </p>

                    <h3 class="orange">Котирування (Quote)</h3>
                    <p>
                        — ціна інструменту в певний момент часу.
                        Означає, за яку ціну
                        продавець готовий продати
                        актив. На біржі ціни змінюються досить швидко. Котирування утворюються на основі декількох
                        факторів, таких як
                        процентні ставки, інфляція, політичні події та інші. Валютне котирування виражене у
                        вартості
                        однієї валюти через
                        одиницю іншої.
                    </p>

                    <h3 class="orange">Кредитне плече (Leverage)</h3>
                    <p>
                        — грошова сума, яку брокер готовий
                        надати трейдеру для
                        здійснення операцій на
                        фінансових ринках з великим обсягом угод. Використовуючи кредитне плече, трейдер збільшує свій
                        депозит у кілька разів.
                        Відображається у співвідношенні між заставною сумою та обсягом торгів: 1:10, 1:100, 1:500 і т.д.
                        При
                        використанні кредитного
                        плеча як застава виступають власні кошти трейдера.
                    </p>

                    <h3 class="orange">Крос-курс (Cross rates)</h3>
                    <p>
                        — співвідношення двох валют, що розраховується виходячи з
                        курсу кожної з них по
                        відношенню до третьої
                        валюти. Приклад: Банк Англії продає або купує євро за єни. Щоб розрахувати крос-курс пари
                        EUR/JPY, банк буде
                        використовувати котирування доларових пар з обома валютами — EUR/USD та USD/JPY.
                    </p>
                    <p>
                        Таким чином,
                        котирування Ask та Bid
                        крос-курсу EUR/JPY будуть розраховані за наступними формулами: Bid EUR/JPY = Bid EUR/USD × Bid
                        USD/JPY;
                        Ask EUR/JPY = Ask
                        EUR/USD × Ask USD/JPY.
                    </p>


                    <h3 class="orange">Локовані позиції (Locked Positions)</h3>
                    <p>
                        — позиції однакового об'єму,
                        відкриті на одному рахунку по
                        одному і тому ж
                        інструменту в різних напрямках (на купівлю та продаж). Наприклад, трейдер відкриває угоду на
                        продаж EUR/USD об'ємом
                        1 лот. Через деякий час ціна починає йти проти очікувань трейдера, і трейдер вирішує відкрити
                        протилежну
                        угоду — позицію на купівлю — з тим же об'ємом і по тому ж торговому інструменту. В результаті
                        збитки по першій
                        відкритій позиції фіксуються.
                    </p>

                    <h3 class="orange">Маржа (Margin)</h3>
                    <p>
                        — грошові кошти, зарезервовані дилером як
                        забезпечення для підтримання
                        відкритих позицій.
                    </p>

                    <h3 class="orange">Маржа для локованих позицій (Hedged Margin)</h3>
                    <p>
                        — маржа для локованих
                        позицій — це грошові
                        кошти, які
                        необхідні для відкриття та подальшого підтримання угод такого типу (тобто відкритих у різних
                        напрямках). Розмір
                        маржі для локованої позиції можна знайти в специфікації контракту конкретного інструменту на
                        нашому
                        сайті.
                    </p>

                    <h3 class="orange">Маржинальна торгівля (Marginal Trading)</h3>
                    <p>
                        — використання для здійснення
                        угод кредитного плеча,
                        завдяки чому
                        клієнти отримують можливість здійснювати торгові операції з сумами, значно перевищуючими
                        кількість коштів на
                        торговому рахунку.
                    </p>

                    <h3 class="orange">Маржинальний рахунок (Margin Account)</h3>
                    <p>
                        — будь-який торговий рахунок з можливістю
                        використовувати в торгівлі
                        кредитне плече, який
                        клієнт може відкрити в компанії брокера.
                    </p>

                    <h3 class="orange">Маркет-мейкер (Market Maker)</h3>
                    <p>
                        — учасники позабіржового ринку, безпосередньо
                        визначаючі
                        ліквідність цього ринку та
                        підтримуючі її. Виступають як продавцями, так і покупцями.
                    </p>

                    <h3 class="orange">Міжнародний валютний ринок FOREX (Foreign Exchange)</h3>
                    <p>
                        — найбільший та
                        найбільш ліквідний у світі
                        глобальний фінансовий
                        ринок. Товаром на цьому ринку виступають національні валюти. Ціни на валюти визначаються тільки
                        рівнем попиту і
                        пропозиції та формуються на основі домовленості між учасниками торгівлі.
                    </p>

                    <h3 class="orange">Овернайт (Overnight)</h3>
                    <p>
                        — операція на один робочий день або, у випадку угод,
                        укладених у п'ятницю, —
                        на термін від п'ятниці
                        до понеділка включно. Тобто, по суті, це перехід позиції на наступний робочий день
                        «через
                        ніч». У банківській
                        сфері «овернайт» може також означати одноденний кредит, який один банк дає іншому.
                    </p>


                    <h3 class="orange">Опціон (Option)</h3>
                    <p>
                        — контракт, укладений двома інвесторами, згідно з умовами, за якими один із учасників
                        угоди придбає
                        протягом визначеного часу за заздалегідь визначеною ціною базовий актив або продаст його. Інший
                        інвестор купує за
                        вказаними умовами або продав предмет угоди. Іншими словами, опціон може бути угодою як на
                        купівлю, так і на
                        продаж якого-небудь торговельного інструмента.
                    </p>

                    <h3 class="orange">Ордер (Order)</h3>
                    <p>
                        — на валютному ринку FOREX «ордер» означає відкладене
                        розпорядження, яке залишає
                        клієнт або компанія,
                        виступаючи від його імені, в торговій платформі. Коли ціна досягне рівня, вказаного в
                        розпорядженні-ордері, угода
                        автоматично відкриється або закриється.
                    </p>

                    <h3 class="orange">Відкрита позиція (Open Position)</h3>
                    <p>
                        — діючий контракт клієнта на купівлю
                        або продаж фінансового
                        інструменту; є
                        результатом першої частини повної транзакції та зобов'язанням клієнта у подальшому здійснити
                        протилежну транзакцію
                        (закриття позиції) у тому ж обсязі. Також є зобов'язанням клієнта виконувати маржинальні
                        вимоги та
                        підтримувати вартість активів на рахунку (кошти) на рівні, що перевищує встановлену мінімальну
                        величину
                        (наприклад, 30% від
                        зарезервованої маржі).
                    </p>

                    <h3 class="orange">Відкладений ордер (Pending Order)</h3>
                    <p>
                        — заявка, яку трейдер залишає
                        брокеру, сигналізуючи, при
                        якому рівні ціни
                        необхідно відкрити або закрити позицію. Досвідчені трейдери не радять торгувати на валютних
                        ринках
                        без використання
                        відкладених ордерів, оскільки саме вони дозволяють уникнути великих збитків.
                    </p>

                    <h3 class="orange">Пропозиція (Ask)</h3>
                    <p>
                        — ціна, яку брокер пропонує трейдеру для купівлі
                        певного фінансового
                        інструменту. У
                        широкому розумінні — це та ціна, за яку продавець готовий розлучитися зі своїм товаром. У
                        валютній
                        котировці ця ціна
                        вказується справа. Ціна пропозиції завжди вище ціни спросу.
                    </p>

                    <h3 class="orange">Прибуток (Profit)</h3>
                    <p>
                        — позитивний фінансовий результат торговельної або
                        спекулятивної операції,
                        інвестування коштів,
                        що перевищує суму початкових вкладень.
                    </p>

                    <h3 class="orange">Піпс (Point, Pips)</h3>
                    <p>
                        — мінімальне змінення вартості фінансового
                        інструменту. Піпсом (pips) також
                        називається
                        передостанній знак в котировці валютної пари.
                    </p>

                    <h3 class="orange">Розмір лота (Lot Size)</h3>
                    <p>
                        — кількість одиниць базової валюти, акцій, базових
                        активів або інших одиниць,
                        визначених в
                        специфікаціях інструментів як розмір одного лота.
                    </p>

                    <h3 class="orange">Розрахунок (Clearing)</h3>
                    <p>
                        — один із видів взаємної торгівлі, що передбачає
                        безготівковий розрахунок за угоди
                        з цінними паперами,
                        здійснюваний на основі взаємних фінансових вимог і зобов'язань.
                    </p>


                    <h3 class="orange">Розрахункова (клірингова) палата (Clearing House)</h3>
                    <p>
                        — окремий підрозділ
                        біржі, який займається
                        урегулюванням
                        операцій клієнтів. Наприклад, клірингова палата реєструє всі угоди клієнтів,
                        здійснює кліринг. Також
                        до обов'язків цього підрозділу входить проведення платежів за результатами клірингу.
                    </p>

                    <h3 class="orange">Репо (Repo)</h3>
                    <p>
                        — угода про продаж активів, що включає зобов'язання їх
                        подальшого викупу за заздалегідь
                        визначеною ціною.
                    </p>

                    <h3 class="orange">Роловер (Rollover)</h3>
                    <p>
                        — ситуація, коли продовжується строк експірації контракту
                        на фінансовому ринку.
                    </p>

                    <h3 class="orange">Ринковий ордер (Market Order)</h3>
                    <p>
                        — фактична вказівка від трейдера до брокера,
                        повідомляючи про
                        необхідність закрити або
                        відкрити позиції на ринку FOREX, конкретного виду валюти з визначеним обсягом за представленою
                        в
                        цей проміжок
                        часу ціною на ринку. Існують два типи ринкового ордера: ордер на купівлю (buy) і ордер на
                        продаж (sell). Ринковий
                        ордер обробляється з неймовірною швидкістю, або не обробляється взагалі.
                    </p>
                    <p>
                        У цьому випадку
                        відбувається реквот, тобто
                        відмова в обробці за запитаною ціною.
                    </p>

                    <h3 class="orange">Ринковий приказ (Market Order)</h3>
                    <p>
                        — наказ про негайний купівлю або продаж
                        фінансового активу за
                        ринковою ціною, який
                        брокер отримує від клієнта.
                    </p>

                    <h3 class="orange">Свічковий графік (Candlestick Charts)</h3>
                    <p>
                        — найпопулярніший графік. Тіло свічки
                        позначає ціни відкриття і
                        закриття, а хвости
                        — мінімум і максимум ціни.
                    </p>

                    <h3 class="orange">Вільна маржа (Free Margin)</h3>
                    <p>
                        — знаходяться на торговому рахунку вільні
                        грошові кошти, які
                        не використовувалися в
                        якості застави в угодах на фінансовому ринку. Можуть бути задіяні для проведення будь-яких
                        операцій, включаючи
                        вивід або відкриття нових угод. Формула розрахунку: Вільна маржа = Власний капітал — Маржа.
                    </p>

                    <h3 class="orange">Своп (Swap)</h3>
                    <p>
                        — є різниця відсоткових ставок по кредитах в
                        валютах, учасники угоди. Перераховується
                        (якщо позитивний) на торговий рахунок або списується з нього (якщо від'ємний), коли
                        відкрита
                        торгова позиція
                        переносяться через ніч.
                    </p>

                    <h3 class="orange">Угода (Transaction)</h3>
                    <p>
                        — будь-яка операція з фінансовим активом (валютні пaри,
                        акції і т. д.) в рамках
                        роботи на фінансовому
                        або валютному ринку. Наприклад, покупка або продаж акцій.
                    </p>


                    <h3 class="orange">Спот-торгівля (Spot trade)</h3>
                    <p>
                        — угоди з купівлі та продажу будь-яких
                        фінансових активів, які
                        передбачають поставку
                        інструменту протягом одного банківського дня, називаються спот-торгівлею. Мається на увазі, що
                        учасники
                        торгової операції
                        заздалегідь визначають ціну і дату, тобто своєрідні точки (спот), по яких буде проведена
                        угода.
                    </p>
                    <h3 class="orange">Спред (Spread)</h3>
                    <p>Одне з основоположних понять на валютному ринку, без знання якого важко уявити собі
                        роботу трейдера.
                        Позначає різницю між поточними цінами покупки і продажу фінансового інструменту і є
                        основним джерелом
                        доходу для брокерів, які забирають невелику частину спреду в якості своєрідної комісії за
                        надання
                        послуг.</p>
                    <h3 class="orange">Спрос (Bid)</h3>
                    <p>Це ціна, за якою трейдер може продати фінансовий інструмент. У котировках валют ціна спроса
                        пишеться зліва, вона
                        завжди буде нижче ціни пропозиції. За ціною Bid виконуються ринкові ордери, закриваються
                        позиції, відкладені ордери,
                        а також накази Stop Loss і Take Profit.</p>
                    <h3 class="orange">Стоп-аут (Stop Out)</h3>
                    <p>Це сигнал на примусове закриття позиції, який подається сервером у випадку, якщо у клієнта
                        виявляється
                        нестача коштів на рахунку для підтримання відкритої угоди. Розмір стоп-ауту кожен брокер
                        встановлює
                        індивідуально. Зазвичай, збиткові позиції трейдера закриваються за поточною ціною ринку. Якщо
                        трейдер вийшов у мінус
                        по декількох позиціях, то примусове закриття починається з найбільш збиткової з них.</p>
                    <h3 class="orange">Стоп-лос (Stop Loss)</h3>
                    <p>Це ордер, який дозволяє зафіксувати угоду, коли вибраний трейдером інструмент досягне
                        певної ціни.
                        Параметри стоп-лос можна встановити до або після відкриття позиції. Стоп-лос дозволяє трейдеру
                        уникнути
                        додаткових збитків, автоматично закриваючи позицію. Обов'язкове умова — у випадку встановлення
                        ордера стоп-лос,
                        ціна фінансового інструменту повинна бути не менше поточної ціни на ринку при угоді на продаж і
                        не більше при
                        угоді на купівлю.</p>
                    <h3 class="orange">Технічний аналітик (Technical Analyst)</h3>
                    <p>Спеціаліст, який досліджує ринок за допомогою інструментів технічного аналізу і будує свій
                        прогноз на основі
                        результатів технічного аналізу. Основним інструментом технічних аналітиків є ціновий графік,
                        тому
                        друге найменування спеціалістів даного профілю — чартисти (chartists).</p>
                    <h3 class="orange">Технічний аналіз (Technical Analysis)</h3>
                    <p>Сукупність графічно-математичних методів оцінки поточного стану і динаміки ціни
                        біржового активу з метою
                        прогнозування її змін у майбутньому. Технічний аналіз широко використовується трейдерами
                        фондової біржі і ринку
                        FOREX.</p>
                    <h3 class="orange">Тік (Tick)</h3>
                    <p>Відправляється інформаційною системою одинична котировка фінансового активу (валюти, акції і
                        т. д.). Іншими словами, в
                        торговій платформі тік — це будь-яка одинична зміна або рух котировки в одному або іншому
                        напрямку. Може
                        змінюватися на один пункт і більше.</p>
                    <h3 class="orange">Тікер (Ticker)</h3>
                    <p>Визначений в торговій платформі для кожної операції унікальний номер, що дозволяє
                        ідентифікувати будь-який відкладений
                        ордер або відкриту торгову позицію. Значення тікера для кожної здійсненої операції можна
                        переглянути в історії
                        угод.</p>
                    <h3 class="orange">Торгова сесія (Trading Session)</h3>
                    <p>Час проведення біржових торгів на певній біржі або біржевих площадках одного регіону. Для
                        будь-якої біржі світу
                        існують встановлені години роботи — це період основної торгової сесії, протягом якого
                        проводяться
                        офіційні торги.</p>


                    <h3 class="orange">Торговий коридор (Trading Range)</h3>
                    <p>Деяке змінення курсу валют на ринку в межах одного діапазону. Рівень підтримки формує нижню межу
                        діапазону, рівень
                        опори, відповідно, верхню межу. Подібна ситуація, коли ціна рухається і змінюється між двома
                        межами, називається
                        торговим коридором. Іншими словами, це означає рух в коридорі на певному часовому проміжку.</p>

                    <h3 class="orange">Торговля внутрі дня (Day Trading)</h3>
                    <p>Торгівля на фінансовому ринку в рамках однієї торгової сесії протягом дня. Це означає, що
                        відкриті в цей день торгові
                        позиції не переносяться через ніч на наступний день і на наступну торгову сесію.</p>

                    <h3 class="orange">Трейдер (Trader)</h3>
                    <p>Учасник біржових та позабіржових торгів, що здійснює торгові операції з метою отримання прибутку
                        від зміни вартості
                        активів.</p>
                    <p>
                        Трейдери фондової біржі оперують <span class="orange">біржовими активами</span> — акціями,
                        облігаціями,
                        фьючерсами. Трейдери
                        також можуть здійснювати позабіржові операції на валютному ринку (FOREX), де інструментом
                        торгівлі
                        є валюти та
                        CFD (контракти на різницю) на біржові активи — акції, фьючерси, індекси.
                    </p>
                    <p>
                        Приватні трейдери
                        здійснюють торгові
                        операції онлайн, використовуючи інтернет-технології. Для цього біржі надають спеціальні
                        <span class="orange">торгові платформи</span> —
                        програми, які дають доступ до біржових котирувань, графічних інструментів, форм подачі
                        заявок на купівлю і
                        продаж активів та багатьох інших функцій.
                    </p>

                    <p>Трейдери можуть мати різні спеціалізації в залежності від <span class="orange">виду
                            торгівлі:</span></p>
                    <ul>
                        <li><span class="orange">Дейтрейдер (Day Trader)</span> — трейдер, який здійснює операції
                            в межах однієї торгової
                            сесії.</li>
                        <li><span class="orange">Скальпер (Scalper)</span> — торгує на найменших торгових інтервалах
                            (до кількох хвилин).</li>
                        <li><span class="orange">Довгостроковий трейдер (Long-term Trader)</span> — відкриває угоду на
                            тривалий строк — від
                            кількох
                            місяців до кількох років.</li>
                        <li><span class="orange">Середньостроковий трейдер (Medium-term Trader)</span> — відкриває угоди
                            на термін від кількох тижнів
                            до
                            кількох місяців.</li>
                    </ul>

                    <h3 class="orange">Тренд (Trend)</h3>
                    <p>Напрямне цінове рухання. Тренд відображає розвиток тенденції для ринків або інструментів, тобто
                        тенденцію
                        котирувань до росту чи падіння. Розрізняють зростаючий (підйомний або биковий) тренд,
                        знижуючийся (спадний або
                        ведмежий) тренд, а також бічний тренд.</p>

                    <p>
                        Для <span class="orange">бикового тренду</span> характерно оновлення максимумів при
                        підвищуючихся
                        мінімумах.
                    </p>

                    <p>При <span class="orange">ведмежому тренді</span> оновлюються мінімуми при знижуючихся максимумах.
                    </p>

                    <p>
                        <span class="orange">Бічний тренд
                            (флат)</span> — рух в
                        бічному коридорі цін між максимальними та мінімальними значеннями котирувань.
                    </p>

                    <h3 class="orange">Тейк профіт (Take Profit)</h3>
                    <p>Це торговий наказ, який дозволяє зафіксувати прибуток, коли ціна досягає певного рівня. Такий
                        ордер
                        допомагає знизити ризики для трейдера. Якщо трейдер встановлює ордер тейк профіт для обраного
                        торгового
                        інструменту, то після того як ціна досягне встановленого рівня, угода закриється
                        автоматично. У відкритій
                        угоді тейк профіт можна встановити в будь-який час.</p>


                    <h3 class="orange">Усреднювати (Average)</h3>
                    <p>Ситуація, коли акції одного емітента послідовно купуються або продаються по мірі того, як їх курс
                        знижується
                        чи підвищується. При цьому утримується середня ціна, за якою купувалися або продавалися акції.
                    </p>

                    <h3 class="orange">Фондовий ринок (Stock Market)</h3>
                    <p>Це складова частина фінансового ринку, інститут ринкової економіки, основною функцією якого є
                        перерозподіл капіталів і інвестиційних ресурсів через відносини, що виникають при емісії та
                        обігу цінних
                        паперів — акцій, часток інвестиційних фондів, корпоративних облігацій.</p>

                    <h3 class="orange">Фундаментальний аналітик (Fundamental Analyst)</h3>
                    <p>Це експерт, який проводить комплексну оцінку показників господарської діяльності підприємств,
                        макроекономічних
                        даних, ринкової кон'юнктури з метою виявлення найбільш перспективних об'єктів для інвестування.
                    </p>

                    <h3 class="orange">Фундаментальний аналіз (Fundamental Analysis)</h3>
                    <p>Це сукупність методів оцінки показників діяльності компаній, впливу різних факторів, як
                        внутрішніх, так і
                        зовнішніх, а також потенційних ризиків з метою визначення інвестиційної привабливості.
                        Проведення якісного
                        фундаментального аналізу є необхідною умовою для прийняття зваженого інвестиційного рішення.</p>

                    <h3 class="orange">Фьючерс (Futures Contract)</h3>
                    <p>Контракт, предметом якого є фінансовий актив або товар, і згідно з умовами якого поставка
                        здійснюється в
                        конкретну дату у майбутньому. Для фьючерсів характерні суворі умови щодо виду і кількості
                        товару, які
                        допускають лише мінімальні відхилення. Також за контрактом діють певні умови оплати накладних
                        або транспортних
                        витрат.</p>

                    <h3 class="orange">Хедж (Hedge)</h3>
                    <p>Обмежувати, огорожувати, ухилятися. Дії, спрямовані на обмеження/зменшення ризиків, в тому числі
                        ризиків,
                        пов'язаних з рухами ціни. Хеджем також називається страхування ризиків. Наприклад, коли для
                        страхування ризику
                        збитків за короткою позицією по одному інструменту відкривається довга позиція по похідному
                        цього інструменту.</p>

                    <h3 class="orange">Хеджування (Hedging)</h3>
                    <p>Це операції страхування ризиків, що виникають при укладанні угод на фінансових ринках. Хеджування
                        може
                        здійснюватися різними способами та інструментами. Найбільш поширеними інструментами є фьючерси і
                        опціони або
                        укладання протилежних угод на корельованих ринках.</p>

                    <h3 class="orange">Ціна (Price)</h3>
                    <p>1) двостороння котирування по фінансовому інструменту; складається з цін Bid і Ask; 2) ціна
                        відкриття або
                        закриття позиції; 3) рівень ордеру.</p>

                    <h3 class="orange">Цінні папери (Securities)</h3>
                    <p>Документи, що підтверджують майнове право або факт видачі позики володільником такої паперу
                        особі, що її
                        випустила. До цінних паперів відносяться, наприклад, такі: вексель, облігація, акція, опціон,
                        фьючерс,
                        варрант, сертифікат.</p>

                    <h3 class="orange">Часткове закриття (Split Close)</h3>
                    <p>Закриття позиції частково; наприклад, 0.5 лота з 2.0.</p>

                    <h3 class="orange">Емітент (Issuer)</h3>
                    <p>Це учасник фінансового ринку, який випускає в обіг цінні папери (акції, облігації) з метою
                        залучення
                        додаткових інвестицій в бізнес або фінансування діяльності. Емітент здійснює емісію від свого
                        імені та в
                        встановленому законом порядку.</p>

                    <h3 class="orange">Еквіті або Капітал (Equity)</h3>
                    <p>Стан коштів на рахунку у поточний момент. Кошти включають як прибуток, так і збитки по позиціям,
                        відкритим
                        на момент розрахунку даного показника. Для визначення використовується така формула: Кошти =
                        Баланс + Кредит +
                        Плаваючий прибуток — Плаваючий збиток.</p>


                    <h3 class="orange">Економічний календар (Economic Calendar)</h3>
                    <p>Це свого роду огляд усіх новин по всіх країнах з вказівкою часу їх виходу та прогнозу. Перш за
                        все, слід
                        мати на увазі, яка новина і коли буде офіційно опублікована. Важливо враховувати різницю в
                        часових поясах.</p>




                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>