<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Формування курсу валют</span>
                    </h1>



                    <p>Курс кожної валюти, у зв'язку з глобалізацією світових фінансових ринків, практично єдиний у
                        всьому світі в кожний
                        момент часу і формується на основі поточних котирувань, запропонованих найбільшими учасниками
                        ринку. Поступова зміна
                        рівня курсу валюти пов'язана з тим, що ці найбільші учасники починають, базуючись на ринкових
                        факторах або своїх
                        інтересах, підвищувати або знижувати котирування. Основними факторами, що сприяють руху курсу,
                        можуть бути:</p>

                    <ul>
                        <li>Зміна економічних показників економіки країни;</li>
                        <li>Важливі політичні події у світі;</li>
                        <li>Великі операції купівлі-продажу окремих учасників ринку;</li>
                        <li>Значущі події на суміжних ринках (фондовому, нафтовому тощо);</li>
                        <li>Зміни в аналітичній оцінці курсу валюти більшістю учасників;</li>
                        <li>Ринкові чутки та зміни в психології ринку.</li>
                    </ul>

                    <p>Іноді при певних подіях відбуваються різкі стрибки курсу, під час яких ціни можуть коливатися в
                        досить широкому
                        діапазоні. Такі події трапляються не часто, і зміна курсу зазвичай триває недовгий час.</p>

                    <h3 class="orange">Маржинальна торгівля</h3>
                    <p>Маржинальна торгівля — це угоди на валютному ринку, здійснювані за допомогою виділення
                        гарантованого застави з коштів
                        клієнта (маржі) і наданого дилером кредитного плеча. Сенс її полягає в тому, що клієнт, вносячи
                        певну мінімальну
                        суму, отримує можливість оперувати сумами, що значно перевищують його власні кошти. Таку
                        можливість надають
                        брокерські компанії, які, крім інформаційних послуг про ринок і торги, також надають кредитні
                        лінії — значні суми,
                        достатні для виходу на ринок, з якими інвестор може вільно оперувати, внісши певну заставу.
                        Система надання кредиту
                        під фіксовану заставну суму називається кредитним плечем, а саму фіксовану заставну суму —
                        маржею. Таку систему
                        виходу на світовий валютний ринок називають маржинальною торгівлею.</p>

                    <h3 class="orange">Маржа</h3>
                    <p>Маржа — сума гарантованої застави, під яку надається кредитне плече.</p>

                    <h3 class="orange">Кредитне плече</h3>
                    <p>Кредитне плече — це система надання кредиту під заставну суму для операцій на міжнародному
                        валютному ринку. Кредитне
                        плече встановлюється банком-маркетмейкером і фактично визначає співвідношення між сумою застави
                        і виділеним
                        позиковим капіталом.</p>





                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>