<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Як заробити на FOREX</span>
                    </h1>


                    <p>Для того щоб заробити на валютному ринку Forex, необхідно розуміти наступне: щоб заробити на
                        купівлі та подальшому
                        продажу будь-якої валюти, ви купуєте її за нижчою ціною і продаєте за вищою, заробляючи на
                        різниці між цими цінами.
                    </p>
                    <p>Приблизно так: якщо ви купите в банку за 1000 доларів 15 000 песо, а потім, коли курс виросте до
                        29 000, продасте їх,
                        то ваш заробіток складе 14 000 песо.</p>
                    <p>Однак у багатьох виникають дві проблеми.</p>
                    <ul>
                        <li>для таких угод потрібна значна сума</li>
                        <li>очікування зміни
                            курсу може зайняти багато часу</li>
                    </ul>

                    <p>На ринку Forex ситуація відрізняється.</p>
                    <p>
                        <span class="orange">По-перше</span>, ви можете здійснювати торгові операції на суми,
                        що перевищують ваші
                        власні кошти в 100-200 разів, використовуючи кредитне плече 1:100 або 1:200 відповідно. Іншими
                        словами, поповнивши
                        рахунок на 100 доларів, ви можете торгувати на суму 10 000-20 000 доларів.
                    </p>
                    <p>Звідки беруться ці кошти? Брокер надає їх для купівлі валюти (звичайно, не безкоштовно, він же
                        залишає собі спред з
                        кожної торгової операції).</p>
                    <p><span class="orange">По-друге</span>, курси на валютному ринку постійно змінюються під впливом
                        мільйонів операцій,
                        здійснюваних банками,
                        корпораціями, приватними інвесторами та іншими учасниками ринку щохвилини.</p>
                    <p><span class="orange">По-третє</span>, на Forex не обов'язково чекати значної зміни курсу. Можна
                        заробляти навіть на невеликих
                        коливаннях цін у
                        10-20 пунктів (0,001-0,002 одиниці). Наприклад, купивши 10 000 євро (0,1 лота) за ціною 1,2745 і
                        продавши їх за
                        ціною 1,2765 через 20 хвилин, можна заробити 20 доларів.</p>
                    <p>Якщо ви вкладете 1000 доларів і купите 100 000 євро, то за тих самих умов ви вже заробите 200
                        доларів. Це прибуток,
                        незважаючи на те, що ціна змінилася всього на 20 пунктів (0,002 одиниці) всього за 20 хвилин.
                        Щоденні коливання ціни
                        на Forex можуть досягати до 200 пунктів і навіть більше.</p>
                    <p>Звичайно, можна заробляти і на продажу валюти. У цьому випадку немає необхідності спочатку
                        купувати валюту; достатньо
                        відкрити позицію на продаж, і банк автоматично продасть валюту зі своїх запасів. Потім, коли
                        курс знизиться, ви
                        закриваєте позицію, і різниця між продажем і купівлею буде вашим прибутком.</p>
                    <p>У загальному, щоб заробити на Forex, потрібно купувати, припускаючи зростання курсу, і продавати,
                        припускаючи його
                        падіння. Якщо ваші припущення виправдаються і ціна валюти дійсно зміниться відповідно, ви
                        зможете заробити на
                        різниці в ціні валюти.</p>





                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>