<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Поведенкові ризики</span>
                    </h1>
                    <h2 class="orange">Ризик виникнення паніки</h2>
                    <p>При різкому зміні курсу валют може виникнути паніка, пов'язана з тим, що багато учасників ринку
                        (особливо дрібні
                        спекулянти) починають панічно і стихійно закривати свої позиції, щоб не втратити прибуток або
                        зменшити збитки.
                        Подібні дії призводять до ще більшої зміни курсу. Виникає ефект снігової кулі: чим більше
                        позицій закривається, тим
                        сильніше змінюється ціна і тим сильнішою стає паніка. Одночасно багато учасників починають
                        відкривати позиції в
                        напрямку руху ціни, сподіваючись швидко отримати прибуток, і рух курсу продовжується стрімко.
                    </p>
                    <p>Різка зміна курсу може бути викликана різними факторами, такими як вихід важливих фінансових
                        новин або діями великих
                        гравців, наприклад, національних банків різних країн. Вони впливають на зміну курсів шляхом
                        продажу або покупки
                        великих обсягів валюти. Різкі зміни курсів можуть породжувати чутки, що не мають реальної
                        основи.</p>
                    <p>Для того щоб знизити подібні ризики, рекомендується не відкривати угоди в період очікування
                        виходу важливих новин.
                        Важливо постійно аналізувати рух курсу валюти, щоб зрозуміти, що викликало даний рух,
                        використовувати захисні ордери
                        (тейк-профіт і стоп-лосс), торгувати за власною системою і чітко дотримуватися її.</p>


                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>