<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Знакомство с биржей </span>
                    </h1>
                    <h2><span class="orange">Чем торгуется на бирже</span></h2>


                    <h3 class="orange">Биржа</h3>
                    <p>Юридическое лицо, обеспечивающее регулярное функционирование организованного рынка биржевых
                        товаров, валют, ценных
                        бумаг и производных финансовых инструментов. Торговля ведётся стандартными контрактами или
                        партиями (лотами), размер
                        которых регламентируют нормативные документы биржи.</p>

                    <p>До эпохи компьютеризации о сделках стороны договаривались устно. Сейчас торги большей частью
                        проходят в электронном
                        виде с использованием специализированных программ, и многие биржи отказались от торговых залов.
                        Брокеры в своих
                        интересах или в интересах клиентов выставляют в торговые системы заявки на покупку или продажу
                        биржевых товаров. Эти
                        заявки удовлетворяются встречными заявками других торговцев. Биржа ведёт учёт исполненных
                        сделок, организует и
                        гарантирует расчёты (клиринг), обеспечивает механизм взаимодействия «поставки против платежа».
                    </p>

                    <p>Обычно биржи получают комиссионный сбор с каждой заключённой с их помощью сделки, это основной
                        источник их доходов.
                        Другими источниками могут быть членские взносы, плата за доступ к торгам, продажа биржевой
                        информации.</p>
                    <div class="flex pad6">
                        <img src="/assets/img/content/2article1pic.jpg" alt="">
                    </div>
                    <h3 class="orange">Функции биржи:</h3>
                    <ul>
                        <li>Организация биржевого торга;</li>
                        <li>Установление правил торговли, включая стандарты на товары, реализуемые через биржу;</li>
                        <li>Разработка типовых контрактов;</li>
                        <li>Котирование;</li>
                        <li>Урегулирование (арбитраж) споров;</li>
                        <li>Информационная деятельность;</li>
                        <li>Предоставление определенных гарантий исполнения обязательств участниками торгов.</li>
                    </ul>

                    <h3 class="orange">Классификация основных бирж:</h3>
                    <ul>
                        <li>Товарные биржи</li>
                        <li>Фондовые биржи</li>
                        <li>Валютные биржи</li>
                        <li>Фьючерсные биржи</li>
                    </ul>

                    <h3 class="orange">Товарная биржа:</h3>
                    <p>На товарной бирже всегда существует возможность покупки или продажи реального товара, несмотря на
                        то, что современные
                        биржи в основном представляют собой рынок фьючерсов и опционов. Фьючерсы представляют собой
                        контракты на поставку
                        реального товара.</p>

                    <h3 class="orange">Фондовая биржа:</h3>
                    <p>Фондовая биржа является финансовым институтом, обеспечивающим регулярное функционирование
                        организованного рынка
                        ценных бумаг. В каждой стране с рыночной экономикой существует национальная фондовая биржа, где
                        осуществляется
                        торговля акциями, облигациями и другими финансовыми инструментами.</p>

                    <h3 class="orange">Валютная биржа:</h3>
                    <p>Валютная биржа — это площадка для свободной купли-продажи национальных валют по установленным
                        курсам, которые
                        формируются под воздействием спроса и предложения на рынке.</p>

                    <h3 class="orange">Фьючерсная биржа:</h3>
                    <p>Фьючерсная биржа (или биржа деривативов) специализируется на торговле фьючерсными контрактами —
                        соглашениями на
                        будущую поставку биржевых товаров или ценных бумаг.</p>

                    <p>Эти виды бирж выполняют важные функции на финансовых рынках, обеспечивая ликвидность, защиту
                        интересов участников
                        рынка и эффективное ценообразование.</p>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>