<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Риск изменения курса</span>
                    </h1>

                    <p>Изменение валютного курса на валютном рынке FOREX является основой получения прибыли, ведь
                        трейдер получает прибыль
                        только когда есть движение цены вверх или вниз. Однако изменение курса валюты в то же время и
                        есть самый главный
                        риск, из-за которого можно потерять все вложенные в торговлю средства. Валютный курс на рынке
                        FOREX очень
                        нестабилен, на него могут влиять сотни различных факторов, при этом спрогнозировать их влияние
                        не всегда возможно,
                        точнее спрогнозировать влияние всех факторов абсолютно невозможно.</p>
                    <p>Несмотря на всю нестабильность движения курса валют, существенно снизить риски, связанные с
                        резкими изменениями
                        направления движения курса, позволяют защитные ордера (например, стоп-лосс), призванные
                        ограничить потери в случае,
                        если прогноз не оправдался и цена начала резкое движение в обратном направлении. Риск изменения
                        валютного курса не
                        так страшен, главное — правильно угадать направление, куда пойдет цена, и обезопасить себя от
                        обратного движения
                        тренда.</p>



                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>