<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Currencies and their Quotations</span>
                    </h1>




                    <p>The exchange rate, quotation, or price of a currency is determined by the market itself, i.e., by
                        the ratio of supply
                        and demand for the currency of a particular country. The quotation expresses the amount of
                        foreign currency given
                        for one unit of the national currency (reverse quotation) or, conversely, the amount of national
                        currency that must
                        be given for one unit of foreign currency (direct quotation).</p>

                    <h3 class="orange">Base Currency</h3>
                    <p>The currency, the price of one unit of which is expressed in several units of another currency,
                        is called the base
                        currency. The main reserve currency in the world is the dollar, so in most quotations, it is the
                        base currency.</p>

                    <h3 class="orange">Bid and Ask Prices</h3>
                    <p>Major market participants post rates for both selling and buying, and the quotation becomes
                        two-sided. For example:
                        1.5020 — 1.5025. At the left quotation, you can sell the base currency to a bank or broker, and
                        at the right, you
                        can buy it. The price at which the market participant posting the quotation is ready to buy the
                        currency is called
                        "bid" (BID), and the price at which they are ready to sell it is called "ask" (Ask) or "offer"
                        (Offer). The
                        difference between buying and selling is called the "spread" (Spread) and serves to profit those
                        who post the
                        quotation. The smallest possible change in the quotation is called a point or (in professional
                        jargon) a pip.
                        Different currencies are quoted with different precision and spread. Most currencies are quoted
                        and change to the
                        fourth decimal place, and the market spread is usually between 5 and 15 points.</p>

                    <h3 class="orange">Standard Currency Designations</h3>
                    <p>Each currency has a standard designation accepted worldwide and fixed by the global ISO
                        classification. The
                        designation consists of three letters, the first two of which indicate the country, and the
                        third — the name of the
                        currency. For example, the US dollar, according to the classification, is designated as USD,
                        where US stands for
                        United States, and D is the first letter of the currency name Dollar.</p>

                    <ul>
                        <li>EUR Euro</li>
                        <li>JPY Japanese Yen</li>
                        <li>GBP British Pound Sterling</li>
                        <li>CHF Swiss Franc</li>
                        <li>CAD Canadian Dollar</li>
                        <li>AUD Australian Dollar</li>
                        <li>NZD New Zealand Dollar</li>
                        <li>Greenback, Buck</li>
                        <li>Cable</li>
                        <li>Swissy</li>
                    </ul>

                    <h3 class="orange">Example of Quotation</h3>
                    <p>In its final form: a correctly constructed quotation takes the following form:
                        USD/CHF 1.7450/1.7455</p>

                    <p>This quotation means that we can sell 1 US dollar for 1.7450 Swiss francs or buy 1 US dollar for
                        1.7455 Swiss francs.
                    </p>




                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>