<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Нерыночные риски FOREX</span>
                    </h1>


                    <p>К нерыночным рискам FOREX можно отнести действия правительств или центральных банков, которые
                        оказывают непрямое
                        воздействие на валютный рынок, например, через административные барьеры или различные
                        ограничения. Кроме того, сюда
                        можно отнести стихийные бедствия, террористические акты и другие непрямые воздействия на рынок.
                        Например, теракт в
                        Нью-Йорке, произошедший 11 сентября 2001 года, моментально отразился на валютном рынке: курс
                        американского доллара
                        резко упал. Предугадать возникновение подобных рисков невозможно, однако их влияние можно
                        ограничить путем защиты
                        позиций и постоянного контроля над ситуацией на рынке.</p>


                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>