<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Основні учасники біржі</span>
                    </h1>
                    <p>Основними учасниками біржових торгів є:</p>
                    <ul>
                        <li>трейдери, які самостійно торгують на свій страх і ризик, використовуючи власні гроші;</li>
                        <li>брокери, які торгують за дорученням клієнтів за комісійну винагороду;</li>
                        <li>маркет-мейкери, які забезпечують здійснення біржового процесу.</li>
                    </ul>

                    <h3 class="orange">Брокер</h3>
                    <p>Посередник в угодах купівлі-продажу цінних паперів, і біржі, на яких відбуваються торги цінними
                        паперами. Їхні
                        обов'язки:</p>
                    <ul>
                        <li>реєструвати цінні папери, пропоновані для обміну на ринку;</li>
                        <li>отримувати цінові котирування;</li>
                        <li>пред'являти ордери маркет-мейкеру; підтримувати перелік незакритих ордерів;</li>
                        <li>вести курси bid/ask;</li>
                        <li>підтримувати волатильність за рахунок власних коштів;</li>
                        <li>здійснювати угоди і перехід права власності.</li>
                    </ul>

                    <h3 class="orange">Трейдер</h3>
                    <p>Професійний учасник ринку цінних паперів, що здійснює дилерську діяльність. Дилерською діяльністю
                        визнається
                        укладання угод купівлі-продажу цінних паперів від свого імені та за свій рахунок шляхом
                        публічного оголошення цін
                        купівлі і (або) продажу певних цінних паперів з обов'язком купівлі і (або) продажу певних цінних
                        паперів за цінами,
                        оголошеними особою, яка здійснює таку діяльність.</p>

                    <h3 class="orange">Маркет-мейкер</h3>
                    <p>(англ. Market maker — творець ринку) — фірма-брокер/дилер, бере на себе ризик придбання і
                        зберігання на своїх
                        рахунках цінних паперів певного емітента з метою організації їх продажу. Маркет-мейкери діють на
                        біржовому і
                        позабіржовому ринку як безпосередні учасники угод. Як правило, маркет-мейкери діють з обох боків
                        — як продавці, так
                        і як покупці.</p>

                    <p>Після того як ми ознайомилися з основними фінансовими ринками, їх видами, їх учасниками —
                        перейдемо до розгляду
                        найвідомішого в СНД ринку - валютного ринку «FOREX». Більшість початківців-трейдерів починають
                        торгівлю саме на
                        ньому, оскільки рекламні кампанії, які проводять «FOREX-брокери», вражають за масштабами і,
                        напевно, за рідкісним
                        винятком можна знайти когось, хто б жодного разу не чув про «FOREX». Моя кар'єра трейдера також
                        почалася з цього
                        ринку.</p>




                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>