<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Основные участники биржи</span>
                    </h1>
                    <p>Основными участниками биржевых торгов являются:</p>
                    <ul>
                        <li>трейдеры, которые самостоятельно торгуют на свой страх и риск, используя собственные деньги;
                        </li>
                        <li>брокеры, которые торгуют по поручению клиентов за комиссионное вознаграждение;</li>
                        <li>маркет-мейкеры, которые обеспечивают осуществление биржевого процесса.</li>
                    </ul>

                    <h3 class="orange">Брокер</h3>
                    <p>Посредник в сделках купли-продажи ценных бумаг, и биржи, на которых происходят торги ценными
                        бумагами. Их
                        обязанности:</p>
                    <ul>
                        <li>регистрировать ценные бумаги, предлагаемые для обмена на рынке;</li>
                        <li>получать ценовые котировки;</li>
                        <li>предъявлять ордера маркет-мейкеру; поддерживать перечень незакрытых ордеров;</li>
                        <li>вести курсы bid/ask;</li>
                        <li>поддерживать волатильность за счет собственных средств;</li>
                        <li>осуществлять сделки и переход права собственности.</li>
                    </ul>

                    <h3 class="orange">Трейдер</h3>
                    <p>Профессиональный участник рынка ценных бумаг, осуществляющий дилерскую деятельность. Дилерской
                        деятельностью
                        признается совершение сделок купли-продажи ценных бумаг от своего имени и за свой счет путем
                        публичного объявления
                        цен покупки и (или) продажи определенных ценных бумаг с обязательством покупки и (или) продажи
                        определенных ценных
                        бумаг по ценам, объявленным лицом, осуществляющим такую деятельность.</p>

                    <h3 class="orange">Маркет-мейкер</h3>
                    <p>(англ. Market maker — создатель рынка) — фирма-брокер/дилер, берёт на себя риск приобретения и
                        хранения на своих
                        счетах ценных бумаг определённого эмитента с целью организации их продаж. Маркет-мейкеры
                        действуют на биржевом и
                        внебиржевом рынке как непосредственные участники сделок. Как правило, маркет-мейкеры действуют
                        по обе стороны — как
                        продавцы, так и как покупатели.</p>

                    <p>После того как мы познакомились с основными финансовыми рынками, их видами, их участниками —
                        перейдем к рассмотрению
                        самого известного в СНГ рынка - валютного рынка «FOREX». Большинство начинающих трейдеров
                        начинают торговлю именно
                        на нем, так как рекламные кампании, которые проводят «FOREX-брокеры», впечатляют по масштабам и,
                        наверное, за редким
                        исключением можно найти хоть кого-то, кто бы ни разу не слышал о «FOREXe». Моя карьера трейдера
                        началась тоже с
                        этого рынка.</p>



                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>