<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Деривативи та їх види </span>
                    </h1>
                    <p>Производные фінансові інструменти, які торгуються на біржах.</p>
                    <h3 class="orange">Производний фінансовий інструмент (дериватив)</h3>
                    <p>Фінансовий інструмент, в основі якого лежать зобов'язання щодо інших інвестиційних активів або
                        товарів.
                        Простими словами, дериватив - це цінний папір на цінний папір. Існує кілька основних видів
                        производних цінних
                        паперів: фьючерси, форвардні контракти, свопи, опціони, свопціони, контракти на різницю.</p>
                    <p>Деривативи умовно поділяються на категорії відповідно до активів, що лежать в їх основі:</p>
                    <h3 class="orange">Фінансові производні цінні папери</h3>
                    <p>Контракти, що базуються на процентних ставках з краткострокових і довгострокових облігацій США,
                        Великобританії та
                        інших країн.</p>
                    <h3 class="orange">Валютні производні цінні папери</h3>
                    <p>Контракти на курс євро/долар, долар/єна та інші світові валюти.</p>
                    <h3 class="orange">Індексні производні цінні папери</h3>
                    <p>Контракти на індекси акцій, такі як S&P 500, Nasdaq 100, FTSE 100.</p>
                    <h3 class="orange">Товарні производні цінні папери</h3>
                    <p>Контракти на енергоресурси, наприклад нафту, на дорогоцінні метали - золото, платину, паладій,
                        срібло, на
                        кольорові метали - алюміній, нікель, на сільгоспродукцію - пшеницю, сою, м'ясо, каву, какао і
                        навіть на
                        концентрат апельсинового соку.</p>
                    <p>Тільки в невеликій кількості угод (до 3%) відбувається реальна поставка активів, що лежать в
                        основі
                        производних цінних паперів. Переважно угода врегулюється шляхом взаємних розрахунків в грошовій
                        формі через
                        процедуру клірингу.</p>
                    <p>Производні цінні папери використовуються для двох цілей.</p>
                    <p>В першу чергу, для страхування фінансових ризиків (хеджування). Наприклад, виробник
                        сільгоспродукції може
                        захистити себе від падіння цін на його продукцію у майбутньому, коли він планує зібрати врожай.
                        Або
                        автомобільний концерн, якому потрібна заздалегідь відома кількість кольорового металу для
                        виробництва в
                        майбутньому, може застрахуватися від його подорожчання на певний період.</p>
                    <p>В другу чергу, производні цінні папери - один з найбільш доходних інструментів для проведення
                        спекулятивних
                        операцій. Наприклад, для покупки фьючерсного контракту на 100 тис. євро проти долара США з
                        поставкою через
                        три місяці потрібний заставний депозит всього близько 2 тис. доларів. Таким чином, можна зовсім
                        безкоштовно
                        отримати так звану "торговельну підтримку" на дуже велику суму. На жаль, при цьому спекулятивні
                        операції з
                        производними цінними паперами - найризикованіші порівняно з іншими цінними паперами.</p>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>