<section class="programm" id="course-trading">
    <div class="container">
        <div class="section-i">
            <h2>Навчальна програма</h2>
            <div class="programm-decor" style="margin: -10px 0 -40px;">
                <picture class="image">
                    <source srcset="/assets/img/content/icon-course-01_big.png" media="(min-width: 900px)">
                    <img src="/assets/img/content/icon-course-01.png" alt="diagram">
                </picture>
            </div>

            <div class="programm__list">
                <div class="programm__item">
                    <a href="#" class="programm__link js-open-modal"></a>
                    <div class="programm__in">
                        <span class="programm__close"></span>
                        <div class="programm__title orange">
                            Знайомство з біржею
                        </div>
                        <ol class="programm__content">
                            <li>Біржа: структура та принцип роботи </li>
                            <li>Роль біржі у фінансовому секторі економіки</li>
                            <li>
                                Основні учасники фінансового ринку - банки, фонди та інше</li>
                            <li>
                                Види активів</li>
                        </ol>

                    </div>
                </div>
                <div class="programm__item">
                    <a href="#" class="programm__link js-open-modal"></a>
                    <div class="programm__in">
                        <span class="programm__close"></span>
                        <div class="programm__title orange">
                            Аналіз ринку
                        </div>
                        <ol class="programm__content">
                            <li>Типи аналізу ринку
                            </li>
                            <li>Технічний аналіз. Бонус – торгова система «Робота від рівнів»</li>
                            <li>
                                Фундаментальний аналіз</li>
                        </ol>

                    </div>
                </div>
                <div class="programm__item">
                    <a href="#" class="programm__link js-open-modal"></a>
                    <div class="programm__in">
                        <span class="programm__close"></span>
                        <div class="programm__title orange">
                            Об'ємний аналіз ринку
                        </div>
                        <ol class="programm__content">
                            <li>Ринковий профіль
                            </li>
                            <li>Читання стрічки та склянку цін, мікроструктура ринку</li>
                            <li>
                                Практика на реальних торгових рахунках</li>
                        </ol>

                    </div>
                </div>
                <div class="programm__item">
                    <a href="#" class="programm__link js-open-modal"></a>
                    <div class="programm__in">
                        <span class="programm__close"></span>
                        <div class="programm__title orange">
                            «Торгова система та психологія ринку» (заснована на методології Вайкоффа)
                        </div>
                        <ol class="programm__content">
                            <li>Маніменеджмент
                            </li>
                            <li>Складний відсоток</li>
                            <li>
                                Ризик менеджмент</li>
                            <li>
                                Поведінкові чинники над ринком (маніпуляції ціною як тригер до дії)</li>
                            <li>
                                Зона попиту натовпу (дистрибуції активу великим капіталом)</li>
                            <li>
                                Зона розпродажу «натовпу» (нагромадження активу великим капіталом)</li>
                        </ol>

                    </div>
                </div>

            </div>
            <p>Результат - ви отримаєте торгову систему, засновану на читанні обсягів, а також ви дізнаєтеся, як
                функціонують ринки і
                отримаєте практичну навичку відкриття угод
                під керівництвом практикуючого трейдера, наставника курсу.</p>
            <div class="button-place">


                <button (click)="navigateToHomeWithId()" class="button js-scroll"><span
                        style="margin-right:15px ;">Швидкий
                        старт</span> </button>

            </div>
        </div>
    </div>
</section>

<section class="separator">
    <div class="container">
        <div class="line"></div>
    </div>
</section>
<section class="programm decor-right" id="support">
    <div class="container">
        <div class="section-i padd">
            <h2>Супровід у торгівлі від Арапова Ігоря</h2>
            <div class="programm-decor" style="margin: -30px 0 -10px;">
                <picture class="image">
                    <source srcset="/assets/img/content/icon-course-04_big.png" media="(min-width: 900px)">
                    <img src="/assets/img/content/icon-course-04.png" alt="diagram">
                </picture>
            </div>

            <ol>
                <li>Спільний аналіз ринку</li>
                <li>Пошук угод на графіку</li>
                <li>Супровід з торгівлі</li>
                <li>Створення індивідуальної торгової системи під клієнта</li>
                <li>Практика на реальних торгових рахунках</li>
            </ol>


        </div>
    </div>
</section>
<section class="separator">
    <div class="container">
        <div class="line"></div>
    </div>
</section>
<section class="programm decor-right" id="tradeResult">
    <div class="container">
        <div class="section-i ">
            <h2>Результати торгівлі</h2>
            <div class="programm-decor" style="margin: -30px 0 -10px;">
                <picture class="image">
                    <source srcset="/assets/img/content/icon-course-02_big.png" media="(min-width: 900px)">
                    <img src="/assets/img/content/icon-course-02.png" alt="Навчання трейдингу">
                </picture>
            </div>

            <img src="/assets/img/screens/55.jpg" alt="graph" class="screen__img_graf">

            <div class="button-place">
                <a href="https://telegram.me/Arapov_Trade" target="_blank" class="button"><span
                        style="margin-right:15px ;">Детальна статистика</span> </a>


            </div>
        </div>
    </div>
</section>

<section class="separator">
    <div class="container">
        <div class="line"></div>
    </div>
</section>
<section class="reviews" id="course-system">
    <div class="container">
        <div class="section-i">
            <h2>
                ArapovTradeChat - супровід у торгівлі
            </h2>
            <div class="screen__list one ">
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">1</span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">


                                        <img src="/assets/img/screens/1.jpg" alt="graph" class="screen__img">
                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">2</span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">


                                        <img src="/assets/img/screens/2.jpg" alt="graph" class="screen__img">

                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">3 </span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/3.jpg" alt="graph" class="screen__img">


                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">4 </span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/4.jpg" alt="graph" class="screen__img">


                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">5 </span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/5.jpg" alt="graph" class="screen__img">


                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">6 </span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/6.jpg" alt="graph" class="screen__img">


                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">7 </span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/7.jpg" alt="graph" class="screen__img">

                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>

                </mat-tab-group>







            </div>
            <div class="screen__list two ">
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">1</span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">

                                        <img src="/assets/img/screens/1.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/2.jpg" alt="graph" class="screen__img">
                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">2</span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">

                                        <img src="/assets/img/screens/3.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/4.jpg" alt="graph" class="screen__img">

                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">3 </span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/5.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/6.jpg" alt="graph" class="screen__img">

                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>





                </mat-tab-group>







            </div>
            <div class="screen__list three ">
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">1</span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">
                                        <img src="/assets/img/screens/3.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/1.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/2.jpg" alt="graph" class="screen__img">
                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>

                            <span class="red">2</span>
                        </ng-template>
                        <article class="review">
                            <div class="review-i">
                                <div class="review-i__wrap">
                                    <div class="review-i__info">

                                        <img src="/assets/img/screens/6.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/4.jpg" alt="graph" class="screen__img">
                                        <img src="/assets/img/screens/5.jpg" alt="graph" class="screen__img">
                                    </div>
                                </div>
                            </div>
                        </article>
                    </mat-tab>






                </mat-tab-group>







            </div>
        </div>

    </div>
</section>






<section class="separator">
    <div class="container">
        <div class="line"></div>
    </div>
    <section class="speaker" id="course-price">
        <div class="container">

            <div class="section-i">
                <h2>Тарифи</h2>
                <div class="price__block hide2  speaker__wrap">
                    <div class="speaker-i">
                        <div class="speaker__info">
                            <table>
                                <thead class="">
                                    <tr>
                                        <th class="speaker__title">Консультація</th>
                                        <th class="speaker__title">Групове навчання</th>
                                        <th class="speaker__title">Індивідуальне навчання</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table__cell">
                                        <td class="table__align">
                                            <ul class="styled-list">
                                                <li>
                                                    Аналіз вашої торгової системи та рекомендації щодо покращення
                                                </li>
                                                <li>
                                                    Розбір торгової ситуації на вашому рахунку та рекомендації щодо
                                                    виходу з "просадок"
                                                </li>
                                                <li>Пробне заняття з теорії трейдингу</li>
                                            </ul>
                                        </td>
                                        <td class="table__align middle_cell">
                                            <ul class="styled-list">
                                                <li>
                                                    Торгова система у записі
                                                </li>
                                                <li>Методичні матеріали від автора курсу (теорія + практика)</li>
                                                <li>Можливість ставити питання у процесі навчання</li>
                                                <li>Практика + домашні завдання</li>

                                            </ul>
                                        </td>
                                        <td class="table__align ">
                                            <ul class="styled-list">
                                                <li>
                                                    Торгова система у записі
                                                </li>
                                                <li>Методичні матеріали від автора курсу (теорія + практика)</li>
                                                <li>Можливість ставити питання у процесі навчання</li>
                                                <li>Практика + домашні завдання</li>
                                                <li>Унікальна система навчання</li>
                                                <li>Поглиблене вивчення механіки ринку</li>
                                                <li>Торгова система</li>
                                                <li>Складання індивідуального плану розвитку рахунку</li>

                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table_cell__pass">

                                            <!-- <p class="contact-block_text">Доступ до чату (торгові рекомендації в
                                                    реал-тайм)
                                                    на 1
                                                    місяць</p>-->

                                        </td>
                                        <td class="table_cell__pass">

                                            <p class="contact-block_text">Доступ до чату (торгові рекомендації в
                                                реал-тайм)
                                                на 3
                                                місяці</p>

                                        </td>
                                        <td class="table_cell__pass">

                                            <p class="contact-block_text">Доступ до чату (торгові рекомендації в
                                                реал-тайм)
                                                на 12
                                                місяців</p>

                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>
                                            <h3>50$</h3>
                                        </td>
                                        <td>
                                            <h3>500$</h3>
                                        </td>
                                        <td>
                                            <h3>1500$</h3>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>

                    </div>

                </div>


                <div class="price__block hide1">
                    <div class="speaker__wrap">
                        <div class="speaker-i">

                            <div class="speaker__info">
                                <div class="speaker__title">
                                    Консультація
                                </div>
                                <div>
                                    <ul class="styled-list">
                                        <li>
                                            Аналіз вашої торгової системи та рекомендації щодо покращення
                                        </li>
                                        <li>
                                            Розбір торгової ситуації на вашому рахунку та рекомендації щодо
                                            виходу з "просадок"
                                        </li>
                                        <li>Пробне заняття з теорії трейдингу</li>
                                    </ul>
                                </div>

                                <div>
                                    <section class="separator">
                                        <div class="line"></div>
                                    </section>

                                    <!-- <p class="contact-block_text">Доступ до чату (торгові рекомендації в реал-тайм)
                                            на 1
                                            місяць</p>-->

                                    <section class="separator">
                                        <div class="line"></div>
                                    </section>
                                    <h3>50$</h3>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="speaker__wrap">
                        <div class="speaker-i">

                            <div class="speaker__info">
                                <div class="speaker__title">
                                    Групове навчання
                                </div>
                                <ul class="styled-list">
                                    <li>
                                        Торгова система у записі
                                    </li>
                                    <li>Методичні матеріали від автора курсу (теорія + практика)</li>
                                    <li>Можливість ставити питання у процесі навчання</li>
                                    <li>Практика + домашні завдання</li>

                                </ul>
                                <section class="separator">
                                    <div class="line"></div>
                                </section>

                                <p class="contact-block_text">Доступ до чату (торгові рекомендації в реал-тайм) на 3
                                    місяці</p>

                                <section class="separator">
                                    <div class="line"></div>
                                </section>
                                <h3>500$</h3>
                            </div>
                        </div>
                    </div>

                    <div class="speaker__wrap ">
                        <div class="speaker-i">

                            <div class="speaker__info">
                                <div class="speaker__title">
                                    Індивідуальне навчання
                                </div>
                                <ul class="styled-list">
                                    <li>
                                        Торгова система у записі
                                    </li>
                                    <li>Методичні матеріали від автора курсу (теорія + практика)</li>
                                    <li>Можливість ставити питання у процесі навчання</li>
                                    <li>Практика + домашні завдання</li>
                                    <li>Унікальна система навчання</li>
                                    <li>Поглиблене вивчення механіки ринку</li>
                                    <li>Торгова система</li>
                                    <li>Складання індивідуального плану розвитку рахунку</li>

                                </ul>
                                <section class="separator">
                                    <div class="line"></div>
                                </section>

                                <p class="contact-block_text">Доступ до чату (торгові рекомендації в реал-тайм) на
                                    12
                                    місяців</p>

                                <section class="separator">
                                    <div class="line"></div>
                                </section>
                                <h3>1500$</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="studyingDownButton">
                    <div class="button-place">
                        <button (click)="navigateToHomeWithId()" class="button js-scroll"><span
                                style="margin-right:15px ;">Швидкий старт</span> </button>


                    </div>
                </div>

            </div>
        </div>

    </section>