<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Position: Concepts, Types, and
                            Categories</span>
                    </h1>

                    <p>After a transaction is completed, a market position is formed, where changes in the exchange rate
                        begin to bring
                        profit or loss. A transaction results in the formation of an "open position," and the position
                        is closed by
                        performing a reverse transaction with the results being fixed.</p>
                    <p>When the base currency is bought, the open position is called a long position, and when it is
                        sold, it is called a
                        short position. A long position is opened in anticipation of the base currency's rate increase,
                        while a short
                        position is opened in anticipation of its decline.</p>

                    <h3 class="orange"> Currency Positions</h3>
                    <p>By duration, currency positions created for speculation are divided into two types:</p>

                    <ul>
                        <li>
                            <h3 class="orange">Intraday Position</h3>
                            <p>The dealer opens and closes positions within the working day with settlements on one
                                value date.</p>
                        </li>
                        <li>
                            <h3 class="orange">Strategic Position</h3>
                            <p>The dealer opens this position in anticipation of a significant rate change and holds it
                                until closing over a
                                certain period - from several days to several months.</p>
                        </li>
                    </ul>




                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>