<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Ризик зміни курсу</span>
                    </h1>

                    <p>Зміна валютного курсу на валютному ринку FOREX є основою отримання прибутку, адже трейдер отримує
                        прибуток тільки
                        коли є рух ціни вгору або вниз. Однак зміна курсу валюти в той же час і є найголовнішим ризиком,
                        через який можна
                        втратити всі вкладені в торгівлю кошти. Валютний курс на ринку FOREX дуже нестабільний, на нього
                        можуть впливати
                        сотні різних факторів, при цьому спрогнозувати їх вплив не завжди можливо, точніше спрогнозувати
                        вплив усіх факторів
                        абсолютно неможливо.</p>
                    <p>Попри всю нестабільність руху курсу валют, суттєво знизити ризики, пов'язані з різкими змінами
                        напрямку руху курсу,
                        дозволяють захисні ордери (наприклад, стоп-лосс), покликані обмежити втрати у випадку, якщо
                        прогноз не виправдався і
                        ціна почала різкий рух у зворотному напрямку. Ризик зміни валютного курсу не такий страшний,
                        головне - правильно
                        вгадати напрямок, куди піде ціна, і убезпечити себе від зворотного руху тренду.</p>





                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>