<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Формирование курса валют</span>
                    </h1>



                    <p>Курс каждой валюты, в связи с глобализацией мировых финансовых рынков, практически единый по
                        всему миру в каждый
                        момент времени и формируется на основе текущих котировок, предлагаемых наиболее крупными
                        участниками рынка.
                        Постепенное изменение уровня курса валюты связано с тем, что эти крупнейшие участники начинают,
                        основываясь на
                        рыночных факторах или своих интересах, повышать или понижать котировку. Основными факторами,
                        способствующими
                        движению курса, могут быть:</p>

                    <ul>
                        <li>Изменение экономических показателей экономики страны;</li>
                        <li>Важные политические события в мире;</li>
                        <li>Крупные операции покупки-продажи отдельных участников рынка;</li>
                        <li>Значимые события на смежных рынках (фондовом, нефтяном и т.д.);</li>
                        <li>Изменения в аналитической оценке курса валюты большинством участников;</li>
                        <li>Рыночные слухи и изменения в психологии рынка.</li>
                    </ul>

                    <p>Иногда при определенных событиях происходят резкие скачки курса, в период которых цены могут
                        колебаться в достаточно
                        широком диапазоне. Такие события происходят не часто, и изменение курса обычно продолжается
                        непродолжительное время.
                    </p>

                    <h3 class="orange">Маржинальная торговля</h3>
                    <p>Маржинальная торговля — это сделки на валютном рынке, осуществляемые при помощи выделения
                        гарантированного залога из
                        средств клиента (маржи) и предоставляемого дилером кредитного плеча. Смысл её заключается в том,
                        что клиент, внося
                        определенную минимальную сумму, получает возможность оперировать суммами значительно
                        превышающими его собственные
                        средства. Такую возможность предоставляют брокерские компании, которые кроме информационных
                        услуг о рынке и торгах,
                        также предоставляют кредитные линии — значительные суммы, достаточные для выхода на рынок, с
                        которыми инвестор может
                        свободно оперировать, внеся определенный залог. Система предоставления кредита под фиксированную
                        залоговую сумму
                        называется кредитным плечом, а саму фиксированную залоговую сумму — маржей. Такую систему выхода
                        на мировой валютный
                        рынок называют маржинальной торговлей.</p>

                    <h3 class="orange">Маржа</h3>
                    <p>Маржа — сумма гарантированного залога, под которую предоставляется кредитное плечо.</p>

                    <h3 class="orange">Кредитное плечо</h3>
                    <p>Кредитное плечо — это система предоставления кредита под залоговую сумму для операций на
                        международном валютном
                        рынке. Кредитное плечо устанавливается банком-маркетмейкером и фактически определяет соотношение
                        между суммой залога
                        и выделяемым заемным капиталом.</p>



                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>