<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Биржевой и внебиржевой рынки </span>
                    </h1>
                    <p>В данном разделе рассматриваются устройство финансовых рынков, их функции, основные участники и
                        что торгуется на
                        крупнейших биржах. Эта информация публичная и находится в общем доступе, поэтому вы всегда
                        можете прочитать «больше» в
                        интернете либо в других источниках.
                    </p>


                    <p> <span class="orange">Биржевой рынок</span>
                        означает, что торги ведутся в специально отведённом месте, именуемом биржей.</p>

                    <h3 class="orange">Биржа</h3>
                    <p>Организация, получившая от государственного регулирующего органа лицензию на проведение торговли
                        ценными бумагами.
                        Особенность биржевой торговли состоит в том, что торги ведутся по жёстко установленным правилам.
                        В силу этого
                        биржевой рынок признаётся организованным рынком, на котором:</p>

                    <ul>
                        <li>Торги осуществляются в течение определённого времени, так называемых торговых сессий.</li>
                        <li>Торговля проводится в соответствии с регламентом биржи, и все участники торгов обязаны
                            соблюдать эти правила.
                        </li>
                        <li>Биржа служит гарантом исполнения сделок, т.е. продавцу ценных бумаг гарантировано получение
                            денежных средств, а
                            покупателю — ценных бумаг.</li>
                        <li>К биржевой торговле допускаются ценные бумаги только надёжных эмитентов.</li>
                    </ul>

                    <p>Для этого биржа проводит отбор эмитентов по критериям размера компании, прибыльности её работы,
                        надёжности и т.д. Эту
                        процедуру называют <span class="orange">листингом</span>, т.е. допуском к биржевой торговле. За
                        деятельностью этих компаний
                        биржа ведёт
                        постоянный контроль, и если компания перестала удовлетворять требованиям биржи, то происходит
                        процедура <span class="orange">делистинга</span>,
                        т.е. исключение компании из биржевого списка.</p>

                    <p>Первой биржей, на которой осуществлялась торговля ценными бумагами, считается биржа, созданная в
                        Антверпене в 1531 г.
                        На ней продавались как товары (ткани, зерно и т.п.), так и ценные бумаги. Такие биржи называют
                        <span class="orange">универсальными</span>, так
                        как на них торгуют различными продуктами. Затем появились специализированные биржи, на которых
                        продавались только
                        ценные бумаги. Эти биржи получили название <span class="orange">фондовых бирж</span>. Первая
                        фондовая биржа была создана в
                        Лондоне в 1773 г. и
                        существует до сих пор.
                    </p>

                    <p>В России первая биржа появилась в 1809 г. в Санкт-Петербурге, прекратила своё существование в
                        1917 г. Возрождение
                        российских бирж относится к началу 1990-х гг., когда в стране начались рыночные преобразования.
                        Сегодня в России к
                        наиболее известным относятся: Московская межбанковская валютная биржа (ММВБ) и Российская
                        торговая система (РТС).
                        Крупнейшая из них — ММВБ, на неё приходится почти 90% сделок с ценными бумагами.</p>

                    <p>Биржа позволяет совершать операции с ценными бумагами непрерывно в течение торговой сессии. На
                        сегодняшний день
                        доступ к биржевым котировкам имеют не только брокерские компании, но и любой инвестор. Развитие
                        интернета позволяет
                        видеть биржевые котировки и осуществлять торговлю ценными бумагами, не выходя из дома.</p>

                    <p>Однако целый ряд сделок с ценными бумагами совершается за пределами биржи, на так называемом
                        <span class="orange">внебиржевом рынке</span>. В
                        первую очередь это касается ценных бумаг тех компаний, которые по каким-либо причинам не
                        допущены к биржевой
                        торговле. Как правило, это молодые и небольшие компании, ещё не достигшие соответствующих
                        показателей для
                        прохождения листинга. На <span class="orange">внебиржевом рынке</span> продавец и покупатель
                        ценных бумаг напрямую
                        встречаются между собой и
                        заключают сделку.
                    </p>

                    <p>В настоящее время <span class="orange">внебиржевой рынок</span> представляет собой широко
                        разветвлённую телекоммуникационную
                        сеть, объединяющую
                        участников торговых операций и обеспечивающую предоставление им необходимой информации для
                        заключения сделок.</p>

                    <p>Исторически внебиржевой рынок развивался параллельно с биржевой торговлей. Активными участниками
                        внебиржевого рынка
                        были инвестиционные банки, которые выступали в качестве дилеров по покупке и продаже ценных
                        бумаг, а также проводили
                        операции купли-продажи акций и облигаций с инвесторами. Эти операции осуществлялись
                        непосредственно в инвестиционном
                        банке через конторскую стойку, где с одной стороны находился служащий, а с другой — инвестор.
                        Данный вид операций
                        получил название торговли <span class="orange">«через прилавок»</span> (over the counter).</p>

                    <p>В дальнейшем термин закрепился за всеми видами операций, которые осуществлялись вне здания бирж
                        при помощи дилеров.
                        Этот рынок получил название внебиржевого (over the counter market, OTC). На внебиржевом рынке,
                        как правило,
                        осуществляется торговля ценными бумагами эмитентов, которые не прошли процедуру листинга на
                        бирже в силу
                        недостаточности капитала, короткого срока работы на рынке и т.п. За счёт этого расширяется круг
                        эмитентов, способных
                        выставить свои акции для торговли на организованном рынке.</p>

                    <p><span class="orange">Внебиржевой рынок </span>имеет несколько сегментов, которые существенно
                        различаются по организации
                        торговли. Прежде всего,
                        следует выделить организованный внебиржевой рынок, где торговля ценными бумагами ведется по
                        строго установленным
                        правилам. Крупнейшая в мире организованная внебиржевая система торговли ценными бумагами —
                        Автоматизированная
                        система котировок Национальной ассоциации дилеров по ценным бумагам (NASDAQ), созданная в США в
                        1971 году. В
                        настоящее время в системе NASDAQ осуществляется торговля более чем 4000 акциями различных
                        компаний. В торговле
                        участвуют более 50 стран, проводящих операции с удалённых терминалов.</p>

                    <p>Для того чтобы ценные бумаги были допущены к обращению на организованном внебиржевом рынке, они
                        проходят процедуру
                        листинга, которая гораздо мягче, чем листинг на бирже. Однако к компании предъявляются
                        требования по минимальной
                        величине активов и числу свободно обращающихся акций, а также ставится условие, чтобы акции
                        компании обязательно
                        котировали несколько дилеров, объявляя твердые цены покупки и продажи. Например, в системе
                        NASDAQ существует
                        правило, что акции допускаются к торговле, если не менее двух дилеров берут на себя функции
                        маркет-мейкеров по
                        данным акциям, то есть обязуются устанавливать твердые котировки, по которым будут продавать и
                        покупать акции
                        компании. В среднем один вид ценной бумаги котируют 11 маркет-мейкеров, что обеспечивает высокую
                        степень ликвидности
                        рынка. Инвестор, желающий купить акции конкретной компании, может в любой момент их приобрести
                        по цене предложения у
                        дилера, а желающий продать акции имеет возможность их реализовать по цене спроса, объявляемой
                        дилером.</p>

                    <p>В процессе своего развития система NASDAQ модифицировалась, изменялись условия листинга и
                        торговли с тем, чтобы более
                        полно удовлетворить запросы клиентов. Акции, которые наиболее активно торгуются в системе
                        NASDAQ, и эмитенты,
                        отвечающие определенным требованиям, включены в особый список — Национальную рыночную систему
                        (NASDAQ/NMS). Примерно
                        3500 акций включены в данный список. Эти акции обладают повышенной ликвидностью, и эмитенты по
                        размеру своего
                        капитала приближаются к требованиям фондовой биржи. Обычно организованный внебиржевой рынок
                        рассматривается как этап
                        перед подачей документов на биржу. Однако многие всемирно известные компании предпочитают
                        оставаться в системе
                        NASDAQ/NMS, считая, что этот рынок обладает большими преимуществами, чем биржевой. Сделки по
                        акциям списка
                        NASDAQ/NMS тщательно контролируются, по ним публикуются достаточно обширные данные, дилеры и
                        инвесторы получают
                        подробную информацию об эмитенте и состоянии рынка ценных бумаг.</p>

                    <p>Еще одну часть системы NASDAQ составляют акции, которые не активно обращаются на рынке. В конце
                        дня дилеры,
                        котирующие эти акции, сообщают только общее число сделок, совершенных с данными ценными
                        бумагами. Акции из такого
                        списка автоматически переходят в список NASDAQ/NMS, если начинают удовлетворять предъявляемым
                        требованиям.</p>

                    <p>Особый сегмент <span class="orange">внебиржевого рынка</span> составляет неорганизованный
                        внебиржевой рынок, на котором
                        торговля ценными бумагами
                        ведется без каких-либо формализованных правил. Во многих странах этот сегмент рынка
                        функционирует как
                        информационно-справочная система. Участники торгов в системе только получают информацию о ценах
                        на акции,
                        устанавливаемых различными дилерами. Для совершения сделки они связываются, например, по
                        телефону, факсу, телексу с
                        дилером и оговаривают все условия купли-продажи ценных бумаг. Брокерские фирмы, работающие на
                        внебиржевом рынке,
                        устанавливают гибкие комиссионные ставки, которые, как правило, уменьшаются при увеличении
                        масштабов операций. В
                        результате сложился «третий» рынок, где осуществляется внебиржевая торговля зарегистрированными
                        на бирже ценными
                        бумагами. На нем институциональные инвесторы через брокерские компании приобретают котирующиеся
                        на бирже ценные
                        бумаги при значительно меньших затратах на оплату посреднических услуг. Значительное
                        преимущество «третьего» рынка
                        состоит в том, что торговля на нем может осуществляться в любое время, т.е. за пределами
                        временных рамок проведения
                        биржевой сессии. Сделки по акциям продолжаются даже тогда, когда на бирже по каким-либо причинам
                        торговля этими
                        ценными бумагами приостановлена.</p>






                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>